﻿@model SI.WEB.Portal.Models.BaseMembersModel

@{
	ViewBag.PageTitle = "Admin - System";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<script type="text/javascript" src="~/assets/script/jquery-ui-1.10.2.custom.min.js"></script>

<style>
    .dead {
        background-color: #de8f8f;
    }

    .alive {
        background-color: #abe2a7;
    }

    .sitem {
        float: left;
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
    }

        .sitem .name {
            float: left;
            font-weight: bold;
            padding: 2px 10px 2px 10px;
            margin-right: 4px;
        }

        .sitem .value {
            float: left;
            padding: 2px 10px 2px 10px;
            background-color: #e0f0e0;
        }
</style>
<div ng-controller="SISystemStatsController">
    <div>
        <a href="javascript:void(0);" onclick="si_dlg('jobtypes', 0, 0);">Manage Job Types</a>
    </div>
    <div ng-repeat="item in stats.JobStatusSummaryItems">
        <div class="sitem">
            <div class="name">{{item.Status}}</div>
            <div class="value">{{item.Total}}</div>
        </div>
    </div>
    <div class="fcl"></div>
    <table style="width: 100%;" class="table table-condensed">
        <thead>
            <tr>
                <th>Machine Name</th>
                <th>IP Address</th>
                <th>Max</th>
                <th>Current</th>
                <th>Jobs</th>
                <th>Date Created</th>
                <th>Last Heartbeat</th>
                <th></th>
            </tr>
        </thead>

        <tbody ng-repeat="item in stats.Controllers">
            <tr ng-class="{ alive:item.IsAlive, dead:!item.IsAlive }">
                <td>{{item.MachineName}}</td>
                <td>{{item.IPAddress}}</td>
                <td style="text-align: center;">{{item.LoadRating}}</td>
                <td style="text-align: center;">{{item.CurrentLoad}}</td>
                <td style="text-align: center;">{{item.JobCount}}</td>
                <td>{{item.DateCreated}}</td>
                <td>{{item.LastHeartbeat}}</td>
                <td>
                    <div class="ico ico-edit" style="cursor: pointer;" onclick="si_dlg('controller', {{item.ID}}, 0);"></div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
