﻿@using SI.WEB
@using SI.WEB.Portal.Models


@{
    BaseModel baseModel = ViewBag.BaseModel as BaseModel;
}

<!DOCTYPE html>

<html>
<head>
	@*<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />*@
	<meta name="msapplication-config" content="none"/>
	
	<link rel="stylesheet" href="@(baseModel.CSSUrl)" />
	<link href="~/assets/script/wowslider/style.css" rel="stylesheet" />
	
	<script src="~/assets/script/kendo/jquery.min.js"></script>
	<script src="~/assets/script/kendo/kendo.all.min.js"></script>
    <script src="~/assets/script/kendo/kendo.aspnetmvc.min.js"></script>
	<script src="~/assets/script/kendo.web.ext.js"></script>
	<script src="~/assets/script/si.250.forms.js"></script>
	<script src="~/assets/script/wowslider/wowslider.js"></script>

	@RenderSection("Header", false)
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
    typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("8c161c07a7a083a016900b789b7d967b");</script>
    <!-- end Mixpanel -->
</head>
<body>
    <div>
         @RenderBody()
    </div>
</body>
</html>
