﻿@using SI.WEB
@using SI.WEB.Portal.Models


@{
    BaseModel baseModel = ViewBag.BaseModel as BaseModel;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="msapplication-config" content="none"/>
	
	
    <link rel="stylesheet" href="@(baseModel.CSSUrl)" />
	
	<script src="~/assets/script/kendo/jquery.min.js"></script>
    
    <script src="~/assets/script/kendo/kendo.all.min.js"></script>
    <script src="~/assets/script/kendo/kendo.aspnetmvc.min.js"></script>
    
    <script src="~/assets/script/kendo.web.ext.min.js"></script>
    @*<script type="text/javascript" src="@(baseModel.JSUrl)"></script>*@
	<script src="~/assets/script/si.250.forms.js"></script>

	@RenderSection("Header", false)
	
</head>
<body>
    <div>
         @RenderBody()
    </div>
</body>
</html>
