﻿
@using SI.WEB.Portal.Models

@{    
    Layout = "~/Views/Shared/_layoutMaster.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}


@RenderSection("Header", false)

@*<div class="si-left" id="l-menu">
    @{  
		Html.RenderPartial("~/Views/Shared/LeftMenu.cshtml", baseModel);
    }
</div>*@

<div class="ng-cloak si-right">
	<div id="UserPreferencesWindow" style="background-color: #ddd;padding: 3px;display:none;"></div>
	<div id="SupportCenterWindow" style="background-color: #ddd;padding: 3px;display:none;"></div>
	<div id="ProductConfigWindow" style="background-color: #ddd;padding: 3px;display:none;"></div>
	@RenderBody()
</div>

