﻿@using SI.WEB
@using SI.WEB.Portal.Models
@using SI.DTO

@{
    string currentUrl = ((Route)(ViewContext.RequestContext.RouteData.Route)).Url;

    BaseModel baseModel = ViewBag.BaseModel as BaseModel;
    BaseMembersModel bmModel = null;
    if (typeof(BaseMembersModel) == baseModel.GetType())
    {
        bmModel = (BaseMembersModel)baseModel;
    }
}


<!DOCTYPE html>

<html id="siapp" ng-app="angularjs-si">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"/>

    <link rel="stylesheet" href="@(baseModel.CSSUrl)" />
    
    <script src="~/assets/script/kendo/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/script/bootstrap-2.3.1.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>//TODO PUTS # in browser URL   *@ 
   @* <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
	

    <script src="~/assets/script/kendo/kendo.all.min.js"></script>
    <script src="~/assets/script/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/assets/script/angular-kendo.min.js"></script>
    <script src="~/assets/script/kendo.web.ext.min.js"></script>
    <script type="text/javascript" src="@(baseModel.JSUrl)"></script>
	
    <title>@(baseModel.SiteName)</title>

    <script>
	    @if (bmModel != null)
	     {
		     string outString = bmModel.UserInfo.EffectiveUser.CurrentDateTime.LocalDate.Value.ToString("MM/dd/yyyy HH:mm:ss");
		     @:SIGlobal.userTZoffsetMinutes = Math.round((((new Date() - Date.parse('@(outString)')) / 10) / 60) / 60);
	     }
		
	    $(function () {
		    if ($("#si-app").hasScrollBar() == false) {
			    $("#footer").css("position", "fixed").css("bottom", "0");
		    }
	    })
    </script>

    @RenderSection("Header", false)
	@*<script src="~/assets/script/kendo.modernizr.custom.js"></script>*@
</head>
<body ng-controller="SIMainController" id="si-app">
    <div class="si-header">
        <div class="si-hbar">
            <div class="si-ctr">
                @if (typeof(BaseMembersModel) == baseModel.GetType())
                {
                    Html.RenderPartial("TopRightMembers", (BaseMembersModel)baseModel);
                }
            </div>

        </div>
        <div class="si-ctr">
            <div class="si-hleft">
                <div class="logo">
                    <a href="@(baseModel.BaseURL)"></a>
                </div>
            </div>

            <div class="si-hright">
                @if (typeof(BaseMembersModel) == baseModel.GetType())
                {
                    //logged in
                    Html.RenderPartial("TopMenu", (BaseMembersModel)baseModel);
                }
                else
                {
                    //not logged in
                    Html.RenderPartial("TopRight", baseModel);
                }
            </div>
        </div>
    </div>
    <div id="container" class="si-main">
        <div class="si-ctr">
            <div class="si-spinmsg" id="si-wait">
                @(Html.Local("system.wait"))
            </div>
            @RenderBody()
        </div>
    </div>
    <div id="domtarget"></div>
	<div id="footer" class="si-footer">
		<div class="footer-bar">
			<div class="copyright">Copyright &#169;2014 SOCIALDEALER Inc.</div>
			<div class="version">@baseModel.VersionNumber</div>
		</div>
	</div>
	
@if(baseModel.EnabledMixPanel)
{
	<!-- start Mixpanel -->
    <script type="text/javascript">
    	(function (e, b) {
    		if (!b.__SV) {
    			var a, f, i, g; window.mixpanel = b; a = e.createElement("script"); a.type = "text/javascript"; a.async = !0; a.src = ("https:" === e.location.protocol ? "https:" : "http:") + '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js'; f = e.getElementsByTagName("script")[0]; f.parentNode.insertBefore(a, f); b._i = []; b.init = function (a, e, d) {
    				function f(b, h) { var a = h.split("."); 2 == a.length && (b = b[a[0]], h = a[1]); b[h] = function () { b.push([h].concat(Array.prototype.slice.call(arguments, 0))) } } var c = b; "undefined" !==
					    typeof d ? c = b[d] = [] : d = "mixpanel"; c.people = c.people || []; c.toString = function (b) { var a = "mixpanel"; "mixpanel" !== d && (a += "." + d); b || (a += " (stub)"); return a }; c.people.toString = function () { return c.toString(1) + ".people (stub)" }; i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" "); for (g = 0; g < i.length; g++) f(c, i[g]);
    				b._i.push([a, e, d])
    			}; b.__SV = 1.2
    		}
    	})(document, window.mixpanel || []);
    	mixpanel.init("8c161c07a7a083a016900b789b7d967b");

    </script>
	 <!-- end Mixpanel -->
}
</body>
</html>
