﻿@using Kendo.Mvc.UI
@model  ReviewFilteringParameters

<script src="@Url.Content("~/Views/Shared/ReviewFiltering.min.js")"></script>	

<script>
	ReviewFiltering.locationName = '@ViewBag.LocationName';
	ReviewFiltering.gridSelector = '@Model.gridSelector';
	ReviewFiltering.datesFieldName = '@Model.datesFieldName';

	app.controller('FilterController', ['$scope', ReviewFilterController]);

	function InitializeApplyFilterParameters(filter) {
		var scope = angular.element("#filterController").scope();
		scope.$apply(function () {
			if (filter && filter != "") {
				scope.resetFilters();
				scope.init(filter);
				scope.applyFilter();
			} else {
				scope.clearAllFilter();
			}
		});
	}
	
	function ApplyFilterFromParameters() {
		var scope = angular.element("#filterController").scope();
		var filtered = scope.$apply(function() {
			if (scope.filterParameters != "") {
				if (scope.filterParameters.indexOf("sites") < 0)
					scope.applyFilter();
				scope.filterParameters = "";
				return true;
			}
			return false;
		});
		return filtered;
	}
	
</script>

<div id="filterController" ng-controller="FilterController" ng-init="init('@ViewBag.filterParameters')">
	<div class="title">Advanced Filter</div>
	
	<div class="filter-locations" >
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('locations')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Location <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="location-filter-list"></div>
	</div>
	
	<div class="filter-rating" >
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('rating')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Rating <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="rating-filter">
			<div id="ratingSlider" class="rating-filter" kendo-range-slider k-max="5" k-small-step=".5" k-large-step="1" ng-model="ratingFilterValue" >
				<input/><input/>
			</div>
			<div class="ratingValue">Rating <span>{{ratingFilterValue.toString().replace(",", " - ")}}</span></div> 
		</div>
	</div>
	
	<div class="filter-content">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('content')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Review Content <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="content-filter">
			<div style="display: inline-block">
				<select id="contentFilterType" kendo-drop-down-list ng-model="contentFilterTypeValue">
					<option value="Contains">Contains</option>
					<option value="DoesNotContain">Does Not Contain</option>
				</select>
			</div>
			<div  style="display: inline-block">
				<input id="contentFilterText" class="k-textbox" size="100" style="width: 260px;" ng-model="contentFilterTextValue"/>
			</div>
		</div>
	</div>
	
	<div class="filter-dates">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('dates')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Dates <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="dates-filter">
			<div style="display: inline-block">
				<select id="dateFilterType" kendo-drop-down-list ng-model="dateFilterTypeValue" k-change="dateFilterTypeChange" style="width:90px;">
					<option value="between">Between</option>
					<option value="on">On</option>
					<option value="after">After</option>
					<option value="before">Before</option>
				</select>
			</div>
			<div  style="display: inline-block">
				<input id="dateFilterFrom" kendo-date-picker style="width:110px;" ng-model="dateFilterFromValue" k-change="dateFilterFromChange"/>
				<span id="DateToFilter">
					<span> and </span><input id="dateFilterTo" kendo-date-picker style="width:110px;" ng-model="dateFilterToValue" k-change="dateFilterToChange"/>
				</span>
			</div>
		</div>
	</div>
	
	<div class="filter-sites" >
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('sites')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Sites <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="sites-filter-list"></div>
	</div>
	
	<div class="filter-category">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('category')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Category <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="category-filter-list"></div>
	</div>
	
	<div class="filter-state">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('state')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">State <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="state-filter-list"></div>
	</div>
	<div class="filter-oem">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('oem')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">OEM <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="oem-filter-list"></div>
	</div>
	
	<div class="filter-status">
		<div class="block">
			<span class="k-icon k-si-cancel" ng-click="cancelFilter('status')" title="Remove Filter"></span>
			<div class="k-button k-state-focused">Review Status <span style="float: right;margin-top: 3px;" class="k-icon k-i-funnel"></span></div>
		</div>
		<div class="status-filter">
			<div style="display: inline-block">
				<select id="statusFilter" kendo-multi-select style="width: 350px;" ng-model="statusFiltervalue" >
					<option value=""></option>
					<option value="HasBeenRead:true">Read</option>
					<option value="HasBeenRead:false">Unread</option>
					<option value="HasBeenResponded:true">Responded</option>
					<option value="HasBeenResponded:false">No Response</option>
					<option value="IsIgnored:true">Ignored</option>
					<option value="IsFiltered:true">Filtered</option>
				</select>
			</div>
		</div>
	</div>

	<div style="width: 100%;">
		<div style="float: left;">
			<ul id="actionMenu" kendo-menu k-on-select="menuChange(kendoEvent)" k-open-on-click="true">
				<li>
					<strong><span class='k-icon k-add'></span> Add Filter </strong>
					<ul>
						@if (Model.menuItems == "All" || Model.menuItems.Contains("locations"))
						{
							<li data-action="locations"><span class='k-icon k-i-expand'></span>Location</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("rating"))
						{
							<li data-action="rating"><span class='k-icon k-i-expand'></span>Rating</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("content"))
						{
							<li data-action="content"><span class='k-icon k-i-expand'></span>Review Content</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("dates"))
						{
							<li data-action="dates"><span class='k-icon k-i-expand'></span>Dates</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("sites"))
						{
							<li data-action="sites"><span class='k-icon k-i-expand'></span>Sites</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("category"))
						{
							<li data-action="category"><span class='k-icon k-i-expand'></span>Category</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("state"))
						{
							<li data-action="state"><span class='k-icon k-i-expand'></span>State</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("oem"))
						{
							<li data-action="oem"><span class='k-icon k-i-expand'></span>OEM</li>
						}
						@if (Model.menuItems == "All" || Model.menuItems.Contains("status"))
						{
							<li data-action="status"><span class='k-icon k-i-expand'></span>Review Status</li>
						}
					</ul>
				</li>
			</ul>
		</div>
		<div style="float: right;">
			<a id="ClearFilterLink" class="k-link" ng-click="clearAllFilter()"><span class="k-icon k-i-cancel"></span> Clear Filter</a>&nbsp;
			<button id="ApplyFilterButton" class="k-button" ng-click="applyFilter()"><span class="k-icon k-i-search"></span> Apply Filter</button>
		</div>
	</div>
	<div class="fcl"></div>
</div>

<script type="text/x-kendo-template" id="filter-location-template">
	<div class='list-item' id='locationListItem_#=id#'>
		<div class='groups' style="display:none;">
			@(Html.Kendo().ComboBox()
				  .Name("locationVirtualGroup_#=id#")
				  .DataTextField("Text")
				  .DataValueField("Value")
				  .DataSource(ds => ds.Read(read => read.Action("VirtualGroupList", "Reputation", new { area = "Reputation" })).ServerFiltering(true))			     
				  .HighlightFirst(true)
				  .Placeholder("Type Group...")
				  .Filter("startswith")
				  .AutoBind(false)
				  .Suggest(true)
				  .ToClientTemplate()
				  )
		</div>
		<div class='dealers'>
			@*@(Html.Kendo().ComboBox()
				  .Name("locationDealers_#=id#")
				  .DataTextField("Text")
				  .DataValueField("Value")
				  .DataSource(ds =>
					  {
						  ds.Read(read => read.Action("DealerList", "Reputation", new { area = "Reputation" }).Data("ReviewFiltering.filterDealers"));
						  ds.ServerFiltering(true);
					  })
				  .AutoBind(false)	
				  .HighlightFirst(true)
				  .Suggest(true)
				  .Events(e => e.Change("ReviewFiltering.locationDealersChange"))
				  .Placeholder("Type Dealer...")
				  .Filter("startswith")
				  .Delay(500)
				  .HtmlAttributes(new { style="width:320px;" })
				  //.CascadeFrom("locationVirtualGroup_#=id#")
				  .ToClientTemplate()
				  )*@
	
	
			<input id="locationDealers_#=id#" name="locationDealers_#=id#" style="width:320px;" type="text" />
			<script>
				jQuery(function(){jQuery("\#locationDealers_#=id#").kendoComboBox({
					"change":ReviewFiltering.locationDealersChange,
					"dataSource":{
								"transport":{
									"prefix":"","read":{
											"url":"/Reputation/Reputation/DealerList","data":ReviewFiltering.filterDealers
										}
								},
								"serverFiltering":true,
								"filter":[],
								"schema":{"errors":"Errors"}
						},
					"dataTextField":"Text",
					"delay":800,
					"autoBind":false,
					"dataValueField":"Value",
					"filter":"startswith",
					"highlightFirst":true,
					"placeholder":"Type Location...",
					"suggest":true,
					"value": "#=value#",
					"text": "#=text#"
					});
				});
			<\/script>

		</div>
		<span class="k-icon k-si-cancel" onclick='ReviewFiltering.removeLocation(#=id#)' title="Remove Filter"></span>
	</div>
</script>
<script type="text/x-kendo-template" id="filter-sites-template">
	<div>
		@(Html.Kendo().MultiSelect()
		      .Name("sitesFilter")
		      .Placeholder("Click to see Sites to choose from...")
		      .DataTextField("Name")
		      .DataValueField("ID")
			  .Events(e => e.DataBound("ReviewFiltering.sitesFilterDataBound"))
		      .HtmlAttributes(new { style = "width:500px;"})
		      .DataSource(ds => ds.Read(read => read.Action("ReviewSourceList", "Reputation", new { area = "Reputation" })))
		      .ToClientTemplate()
			  )	
	</div>
</script>
<script type="text/x-kendo-template" id="filter-category-template">
	<div>
		@(Html.Kendo().DropDownList()
		      .Name("categoryFilter")
		      .DataTextField("Name")
		      .DataValueField("ID")
		      .DataSource(ds => ds.Read(read => read.Action("CategoryList", "Reputation", new { area = "Reputation" })))
		      .ToClientTemplate()
			  )	
	</div>
</script>
<script type="text/x-kendo-template" id="filter-state-template">
	<div>
		@(Html.Kendo().MultiSelect()
		      .Name("stateFilter")
		      .Placeholder("Click to see States to choose from...")
		      .DataTextField("Name")
		      .DataValueField("ID")
		      .HtmlAttributes(new { style = "width:500px;"})
		      .DataSource(ds => ds.Read(read => read.Action("StatesList", "Reputation", new { area = "Reputation" })))
		      .ToClientTemplate()
			  )	
	</div>
</script>
<script type="text/x-kendo-template" id="filter-oem-template">
	<div>
		@(Html.Kendo().MultiSelect()
		      .Name("oemFilter")
		      .Placeholder("Click to see OEM to choose from...")
		      .DataTextField("Name")
		      .DataValueField("ID")
		      .HtmlAttributes(new { style = "width:500px;"})
		      .DataSource(ds => ds.Read(read => read.Action("OEMList", "Reputation", new { area = "Reputation" })))
		      .ToClientTemplate()
			  )	
	</div>
</script>


