﻿@model SI.WEB.Portal.Models.BaseMembersModel
@using SI.WEB.Portal.Models
@using SI.WEB
<div ng-controller="SIAccountPicker" class="item account-picker">
    <div ng-click="picker.apick();" id="pickparent">
        <div class="item">
            <a href="javascript:void(0);">
                @Model.CurrentContextAccountName
            </a>
        </div>
        <div class="item">
            <div class="ico {{picker.iclass}}"></div>
        </div>
    </div>
    <div class="si-apframe ui-dialog" ng-show="picker.dropped" style="display: none; position: absolute; min-height: 400px; top: 21px; left: -327px; width: 450px; height: {{picker.height}}px;">
	    <input id="apsearch" class="fl" type="text" ng-model="picker.filters.SearchString" placeholder="@(Html.Local("search"))..." style="width: 260px;" />
        <img ng-show="picker.spinner" src="/assets/style/aristo/images/loading.gif" style="position:relative;top:5px;left:5px;" />
		@if (Model.UserInfo.EffectiveUser.CanAdminAccount)
		{
			<button id="apseeall" ng-click="picker.gotoAllAccounts();" class="btn fr">See All Accounts</button>
		}
        <div class="fcl"></div>
        <hr />
        <div id="aplist" class="si-aplist" ng-show="picker.treemode==false">
            <div ng-show="picker.loading" class="si-apwait">
                @(Html.Local("searching"))...                
            </div>
            <div ng-repeat="item in picker.alist">
                <div ng-click="picker.apick();setContext(item.ID);">
                    <div class="si-aprow" ng-class-even="'even'" ng-class-odd="'odd'">
                        <div class="ico-accounts ico"></div>
                        <div class="si-apname">{{item.Name}}</div>
                        <div class="fcl"></div>
                        <div class="si-apaddress">{{item.Address}}, {{item.City}}, {{item.State}}  {{item.ZipCode}}</div>
	                    <div class="si-noti">
		                    @if (Model.UserInfo.EffectiveUser.ViewAccountPickerNotifications)
		                    {
			                    <div class="multi">{{item.AlertCount}}</div>
		                    }
	                    </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/ng-template" id="picker_tree_renderer.html">            
            <div class="ico-t ico-accounts" ng-show="item.children.length==0"></div>
            <div class="ico-t ico-minus" ng-show="item.expand && item.children.length>0" ng-click="item.scope.toggle(item.ID)"></div>
            <div class="ico-t ico-plus" ng-show="!item.expand && item.children.length>0" ng-click="item.scope.toggle(item.ID)"></div>
            <div class="si-aprow-t" ng-click="item.scope.apick();setContext(item.ID);">                
                <div class="si-apname">{{item.Name}}</div>
            <div class="si-apaddress">{{item.City}}, {{item.State}}</div>
            </div>
            <div style="margin-left:20px;">
                <div ng-show="item.expand">
                    <div ng-repeat="item in item.children" ng-include="'picker_tree_renderer.html'" ></div>
                </div>
            </div>
        </script>
        <div id="aptree" class="si-aplist" ng-show="picker.treemode==true">
            <div ng-show="picker.loading" class="si-apwait">@(Html.Local("searching"))...</div>
            <div ng-repeat="item in picker.tree" ng-include="'picker_tree_renderer.html'">
            </div>
        </div>
        <div class="si-apfoot">
            {{picker.ftext}}            
        </div>
    </div>
</div>











