﻿@model BaseMembersModel

@{
    string userColor = "#e6e6e6";
    bool IsImpersonated = false;
    if (Model.UserInfo.ImpersonatingUser != null && Model.UserInfo.ImpersonatingUser.ID != Model.UserInfo.LoggedInUser.ID)
    {
        userColor = "#ffd800";
        IsImpersonated = true;
    }

}


<script>
    $(function () {
        $("#StopImp").click(function () {
            $("#LoadingIconStop").show();
            $.get('@Url.RouteUrl("StopImpersonation")', function(){
                window.location.reload(true);
            })
        });

        $("#LoggedInMenu").kendoExtContextMenu({
            width: "175px",
            direction: "left",
            targets: "#UserDetails",
            singleClick: true,
            items: [
				@if (Model.UserInfo.EffectiveUser.CanPreferencesMenu)
				{
					@: { text: "My Preferences", iconCss: "k-i-custom", url: "" },
				}
				@if (Model.UserInfo.EffectiveUser.CanChangePasswordMenu)
				{
					@: { text: "Change Password", iconCss: "k-i-refresh", url: "" },
				}
				@if (Model.UserInfo.EffectiveUser.CanMessageSupportMenu)
				{
					@: { text: "Message Support", iconCss: "k-edit", url: "https://livedesk.zoho.com/socialchat/support/socialchat" },
				}
				@if (Model.UserInfo.EffectiveUser.CanProductConfigurationMenu)
				{
					@: { text: "Product Config", iconCss: "k-i-funnel", url: "" },
				}
				@if (Model.UserInfo.EffectiveUser.CanNotificationsMenu)
				{
					@: { text: "Notifications", iconCss: "k-i-note", url: "@Url.RouteUrl("NotificationManage")" },
				}
                @if (Model.UserInfo.EffectiveUser.CanSyndicationHelpPage)
				{
					@: { text: "Syndiction Help", iconCss: "k-i-note", url: "@Url.RouteUrl("SocialSyndicationHelp")" },
				}
				{ separator: true },
				{ text: "Log Out", iconCss: "k-i-close", url: "@Url.RouteUrl("LogOff")" }
            ],
            itemSelect: function (e) {
                var $item = $(e.item);
                var menuItem = $item.data("text");
                var url = $item.data("url");

                if (menuItem == "My Preferences") {
                    SIGlobal.selectedPreferencesSection = "UserPreferencesNotifications";
                    SIGlobal.showPreferencesWindow();
                } else if (menuItem == "Change Password") {
                    SIGlobal.selectedPreferencesSection = "UserPreferencesPassword";
                    SIGlobal.showPreferencesWindow();
                } else if (menuItem == "Product Config") {
                    ShowProductConfigWindow();
                } else if (url != "") {
                    if (url.indexOf("http") < 0)
                        document.location.href = url;
                    else {
                        window.open(url);
                    }
                }
            }
        });
    });

    function ShowProductConfigWindow() {
        var window = $("#ProductConfigWindow");

        if (!window.data("kendoWindow")) {
            window.kendoWindow({
                title: "Product Configuration",
                content: "/Admin/Admin/ProductConfigWindow",
                modal: true,
                iframe: true,
                draggable: true,
                resizable: false,
                visible: false,
                width: 780,
                minWidth: 780,
                height: 480,
                minHeight: 480,
                actions: ["Maximize", "Close"]//,
                //close: onEditClose
            })
        }

        var kendoWindow = window.data("kendoWindow");
        kendoWindow.center();
        kendoWindow.open();
    }
</script>


<div class="links">

    @if (Model.UserInfo.EffectiveUser.ViewAccountPicker)
    {
        Html.RenderPartial("AccountPicker", Model);
    }

    <div class="item" id="UserDetails">
        <div class="item" style="margin-left: 15px; color: @userColor; font-weight: normal; cursor: pointer;">
            @(Model.UserInfo.EffectiveUser.FirstName) @(Model.UserInfo.EffectiveUser.LastName)
        </div>
        <div class="item">
            <div class="ico ico-circle-r"></div>
        </div>
    </div>
    @if (IsImpersonated)
    {
        <span>&nbsp;
            (Impersonated by: @(Model.UserInfo.LoggedInUser.FirstName) @(Model.UserInfo.LoggedInUser.LastName) <span id="StopImp" title="Stop Impersonating">Stop</span>)
        </span>
        <span id="LoadingIconStop" style="padding-left: 5px; display: none;">
            <img src="~/assets/style/sdealer/images/loading.gif" style="vertical-align: middle;" />
        </span>
    }
    <ul id="LoggedInMenu" style="z-index: 20000;"></ul>
</div>








