﻿@using SI.WEB
@using SI.WEB.Portal.Models

@model SI.Services.Dashboard.Models.SetPassword

@{
	Layout = null;
	BaseModel baseModel = ViewBag.BaseModel as BaseModel;
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="msapplication-config" content="none"/>

		<link rel="stylesheet" href="@(baseModel.BaseURL)/assets/style/bootstrap.css" />
		<link rel="stylesheet" href="@(baseModel.CSSUrl)" />
		
		<script src="~/assets/script/kendo/jquery.min.js"></script>
		<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/assets/script/jquery.validate.min.js"></script>
		<script src="~/assets/script/jquery.validate.unobtrusive.min.js"></script>

		<title>Social Integration Login - Set Password</title>
	
		<script>
			$(function () {
				$("#Password").focus();
				$(".ico-required").attr("title", "Required");
			});
			
			var submitCount= 0

			function BeginSubmit() {
				if (submitCount > 0) return false;
				submitCount++;
				
				EditSaved = true;
			}

			function InfoSave(response) {
				$("#resultsPassword").html(response.message);
				submitCount = 0;
				if (response.success) {
					$("#LoginLink").show();
					$("#savePassword").hide();
				}
			}
			
		</script>
	</head>
	<body>

	
		<div class="si-header">
			<div class="si-hbar">
				<div class="si-ctr"></div>
			</div>
			<div class="si-ctr">
				<div class="si-hleft">
					<div class="logo"></div>
				</div>
				<div class="si-hright">
					<div style="color: #FFBF00; font-weight: bold; font-size: 20px;margin-top: 38px; margin-left: 250px;font-family: 'PlanerRegular',verdana;">
						Set Password
					</div>
				</div>
			</div>
			<div id="container" class="si-main">
				<div class="si-ctr">
					<div class="login-page">
						<div class="form">
							@using (Ajax.BeginForm("SetPassword", "Account", new {area = ""},
							                       new AjaxOptions
								                       {
									                       OnBegin = "BeginSubmit",
									                       OnSuccess = "InfoSave",
									                       OnFailure = "SIGlobal.formSaveFailure",
									                       LoadingElementId = "LoadingIconSavePassword",
									                       LoadingElementDuration = 2000
								                       }, new {@id = "formPasswordSet"}))

							{
								@Html.AntiForgeryToken()

								<ol>
									@if (ViewBag.IsResetPassword == false)
									{
										<li>
											<h3>Thank you for Registering!</h3>
										</li>
									}
									<li>
										Please enter your password.
										<h4>* Password requires one special case letter and one digit. Minumum length of 8 characters *</h4>
									</li>
									<li>
										<label for="Password">Password:</label>
										@Html.PasswordFor(m => m.Password, new {@class = "k-textbox k-input", style = "width: 180px;", placeholder = "Set Password ..."}) <span class="ico ico-required"></span>
										@Html.ValidationMessageFor(m => m.Password)	
									</li>
									<li>
										<label for="VerifyPassword">Verify Password:</label>
										@Html.PasswordFor(m => m.VerifyPassword, new {@class = "k-textbox k-input", style = "width: 180px;", placeholder = "Verify Password ..."}) <span class="ico ico-required"></span>
										@Html.ValidationMessageFor(m => m.VerifyPassword)	
									</li>
									
									<li>
										<span id="resultsPassword" class="update-timestamp" ></span>
										<button id="savePassword" class="k-button" type="submit"><span class="k-icon k-update"></span>Save Password
											<span id="LoadingIconSavePassword" style="padding-left: 5px; display: none;">
												<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
											</span>
										</button>
									</li>
									<li>
										<div id="LoginLink" style="display: none;">
											@Html.ActionLink("Click to Login", "Login") 
										</div>
									</li>
								</ol>
							}
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
