﻿
@model SyndicationSignup

@{
	Layout = "~/Views/Shared/_layoutLandingPages.cshtml";

	BaseModel baseModel = ViewBag.BaseModel as BaseModel;
	SocialLoginUrl socialLoginUrl = ViewBag.FacebookLoginURL as SocialLoginUrl;
	SocialLoginUrl socialTwitterLoginUrl = ViewBag.TwitterLoginURL as SocialLoginUrl;


	string infoBoxClass = "info-box";
	string sliderClass = "slider";
	if (Model.UseShadowedBox == false)
	{
		infoBoxClass = "info-box-ns";
		sliderClass = "slider-ns";
	}
	
	
}


@section Header 
{
	<title>SOCIALDEALER Syndication Signup</title>
	<style>
		body {
			margin: 0;
			overflow-x: hidden;
		}
	</style>

	<script>
		var AuthTimer = null;
		var socialPoleCount = 0;
		var haveFacebook = false;
		var haveTwitter = false;

		$(function () {
			$("#Step1Button").click(function () {
				$("#Page1").fadeOut("fast", function () {
					$("#Page2").fadeIn("fast");
				});
			});

			$("#FacebookLoginButton").click(function () {
				OpenAuthWindow("@Html.Raw(socialLoginUrl.LoginUrl)", "facebook");
			});

			$("#TwitterLoginButton").click(function () {
				OpenAuthWindow("@Html.Raw(socialTwitterLoginUrl.LoginUrl)", "twitter");
			});
		})

		function OpenAuthWindow(loginUrl, network) {
			window.open(loginUrl, "Connection Login", "width=600,height=300,toolbar=no,status=no,resizable=no,scrollbars=no,modal=yes");

			if (AuthTimer != null) {
				clearInterval(AuthTimer);
				socialPoleCount = 0;
			}

			AuthTimer = setInterval(function () {
				if (socialPoleCount < 300) {
					socialPoleCount++;

					var stateContext = '@ViewBag.FacebookStateContext';
					if (network == "twitter")
						stateContext = '@ViewBag.TwitterStateContext';

					$.get("/public/GetSocialAuthCode?stateContext=" + stateContext, function (data) {
						if (data.code != "") {
							clearInterval(AuthTimer);
							$(".image-button").hide();

							if (network == "facebook") {
								$("#accountPicker").load('@Url.Action("FacebookAccounts", "LandingPages", new { area = "LandingPages" })' + '?code=' + data.code + '&accessToken=@ViewBag.AccessToken', function () {

								});
							} else {
								var url = '@Url.Action("SaveTwitterConnection", "LandingPages", new { area = "LandingPages" })';
								var addData = { authCode: data.code, socialappid: '@socialTwitterLoginUrl.SocialAppID', accessToken: '@ViewBag.AccessToken' };
								$.post(url, addData, function (data) {
									if (data.Success) {
										haveTwitter = true;
										if (haveFacebook)
											document.location.href = '@Url.RouteUrl("LoginSetPassword")';
										else {
											$.when(kendo.ui.ExtYesNoDialog.show({
												title: "Connection Success",
												message: "You have Successfully Connected to Twitter.<br/><br/> Do you want to also Connect with Facebook?",
												height: "150px",
												icon: "k-ext-question"
											})).done(function (response) {
												if (response.button == "Yes") {
													$("#FacebookLoginButton").click();
												} else {
													document.location.href = '@Url.RouteUrl("LoginSetPassword")';
												}
											});
										}

									} else {
										$("#SaveResults").html("We could not connect to Twitter at this time. Please try again later.");
									}
								});
							}
						}
					}
					);
				} else {
					clearInterval(AuthTimer);
					socialPoleCount = 0;
					AuthTimer = null;
				}
			}, 1000);
		}

		function LoadAccountFromFB(facebookID, website, network) {
			var url = '@Url.Action("SaveFacebookConnection", "LandingPages", new { area = "LandingPages" })';
			var addData = { pageID: facebookID, website: website, socialappid: '@socialLoginUrl.SocialAppID', accessToken: '@ViewBag.AccessToken' };
			$.post(url, addData, function (data) {
				if (data.Success) {
					haveFacebook = true;
					if (haveTwitter)
						document.location.href = '@Url.RouteUrl("LoginSetPassword")';
					else {
						$.when(kendo.ui.ExtYesNoDialog.show({
							title: "Connection Success",
							message: "You have Successfully Connected to Facebook Page.<br/><br/> Do you want to also Connect with Twitter?",
							height: "150px",
							icon: "k-ext-question"
						})).done(function (response) {
							if (response.button == "Yes") {
								$("#TwitterLoginButton").click();
							} else {
								document.location.href = '@Url.RouteUrl("LoginSetPassword")';
							}
						});
					}
				} else {
					$("#SaveResults").html("We could not connect to Facebook at this time. Please try again later.");
				}
			});
		}

	</script>
}


<div class="landingpage">
	<div class="header" style="background-image: url('@baseModel.CDNUrl/contentsyndication/@Model.HeaderBackgroundImage'); background-color: @Model.HeaderBackgroundColor;">
		<div class="logo">
			<img src="@baseModel.CDNUrl/contentsyndication/@Model.HeaderLogoImage" alt=""/>
		</div>

	</div>
	@if (Model.PageTitle != "")
	{
		<div class="title-bar">
			@Model.PageTitle
		</div>
	}
	@if (Model.Header2 != "")
	{
		<div>
			@Html.Raw(@Model.Header2)
		</div>
	}
	<div class="container" id="Page1">
		<div class="@infoBoxClass">
			<div class="title">@Model.InfoTitle</div>
			<div class="content">
				@Html.Raw(@Model.InfoPage1Paragraph)
			</div>
		</div>

		<div class="@sliderClass">
			@if (Model.ShowSliderTitle)
			{
				<div style="text-align: center; padding: 14px 0 5px 0;">
					<img src="http://cdn.socialintegration.com/contentsyndication/lexus/sample_post.png"/>    
				</div>	
			}

			<div id="wowslider-container1">
				<div class="ws_images">
					<ul>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage1" alt="Example Post" title="Example Post" id="wows1_0" /></li>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage2" alt="" title="" id="wows1_1" /></li>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage3" alt="" title="" id="wows1_2" /></li>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage4" alt="" title="" id="wows1_3" /></li>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage5" alt="" title="" id="wows1_4" /></li>
						<li>
							<img src="@baseModel.CDNUrl@Model.CoverflowImage6" alt="" title="" id="wows1_5" /></li>
					</ul>
				</div>
				<span class="wsl"><a href="http://wowslider.com">Bootstrap Slider</a> by WOWSlider.com v4.8</span>
				<div class="ws_shadow"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
		<div style="width: 100%; margin: 18px 18px 72px 18px;">
			<button id="Step1Button" class="button" style="margin: 0 auto; display: block;">Connect Now</button>
		</div>
	</div>

	<div class="container" id="Page2" style="display: none;">
		<div class="info-box" style="width: 100%; height: auto;">
			<div class="title">@Model.InfoTitle</div>
			<div class="content">
				@Html.Raw(@Model.InfoPage2Paragraph)
			</div>
		</div>
		<div class="info-box" style="width: 100%; height: auto; margin-top: 20px;">
			<div class="content">
				<div>
					@Html.Raw(@Model.Instructions)
				</div>
				<div style="width: 100%; margin-top: 30px;">
					<div style="margin: 10px;">
						<img id="FacebookLoginButton" src="~/assets/images/login-with-facebook.png" class="image-button" />
						<div style="font-size: 12px; width: 100%;" id="accountPicker"></div>
					</div>
					<div style="margin: 10px;">
						<img id="TwitterLoginButton" src="~/assets/images/login-with-twitter.png" class="image-button" />
					</div>
				</div>
				<div id="SaveResults"></div>
			</div>
		</div>
	</div>

</div>

<script>
	function ws_fly(c, a, b) {
		var d = jQuery;
		var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
		var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
		this.go = function(m, j, p) {
			var i = !!c.revers;
			if (p) {
				if (p >= 1) {
					i = 1
				}
				if (p <= -1) {
					i = 0
				}
			}
			var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
			var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
			var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
			l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
			l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
			setTimeout(function() {
				var q = b.find("ul").hide();
				o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function() {
					o.remove();
					q.css({ left: -m + "00%" }).show();
					l.remove()
				})
			}, c.duration / 3);
			return m
		}
	};

	$("#wowslider-container1").wowSlider({
		effect: "fly",
		prev: "",
		next: "",
		duration: 5 * 100,
		delay: 68 * 100,
		width: 347,
		height: 598,
		autoPlay: true,
		playPause: false,
		stopOnHover: true,
		loop: false,
		bullets: 0,
		caption: false,
		captionEffect: "slide",
		controls: true,
		onBeforeStep: 0,
		images: 0
	});

</script>