﻿
@{
	ViewBag.PageTitle = "Post Activity";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<script src="~/assets/script/kendo.multiselectbox.min.js"></script>
	
	<style>
		.k-tooltip-content{ min-height: 50px; }
		.k-grid-filter{ cursor: pointer; }
		.k-grid-filter.k-state-active{ background-color: transparent; }
	</style>
	
	<script src="@Url.Content("~/Areas/Social/Views/Social/DealerPostActivity.min.js")"></script>	
}

<script>
	var imageFolderPath = '@ViewBag.ImageBaseUrl';
</script>

<script type="text/x-kendo-template" id="command-template">
	#if (canEdit || canRepost || canDelete){#
	<div class='action-dropdown' data-post-id='#=ID#' data-target-id='#=TargetID#'>
		<ul class='menu'>
			<li>Actions
				<ul>
					#if (canEdit){#
						<li data-action='edit'><span class='k-icon k-i-expand'></span>Edit</li>
					#}#
					#if (canRepost){#
						<li data-action='repost'><span class='k-icon k-i-expand'></span>Repost</li>
					#}#
				@if (baseModel.UserInfo.EffectiveUser.CanDealerPostActivityCompose)
				{
					<text>
					#if (canDelete){#
						<li data-action='delete'><span class='k-icon k-i-expand'></span>Delete</li>
					#}#
					</text>
				}
				</ul>
			</li>
		</ul>
	</div>
	#}#
</script>

<script type="text/x-kendo-template" id="type-template">
	#if (PostImageURL != "" && Type == "Photo"){#
		<span class='post-#=Type#-icon s-icon post-image' data-image='#=PostImageURL#'/>
	#} else if (Type == "Link"){#
		<span class='post-#=Type#-icon s-icon post-link'/>
	#} else {#
		<span class='post-#=Type#-icon s-icon' title='#=Type#'/>
	#}#
</script>

<script type="text/x-kendo-template" id="status-template">
	#if (Status != "Failed"){#
		<span class='s-#=Status#-icon s-icon' title='#=StatusName#'/>
	#} else {#
		<span class='s-#=Status#-icon s-icon' title='#=StatusName# : #=FailureMessage#'/>
	#}#
</script>	

<div id="SocialPostActivity" class="social-post-activity" style="visibility: hidden;">
	
@if (baseModel.UserInfo.EffectiveUser.CanDealerPostActivityCompose)
{
	<div>
		<div style="float: right;"><button id="buttonComposeMessage" type="button" class="k-button"><span class='k-icon k-edit'></span> Compose a Message</button></div> 
	</div>
	<div class="fcl"></div>
}
	
@if (baseModel.UserInfo.EffectiveUser.ViewDealerPostActivityGrid)
{
	<div class="post-grid" >
		@(Html.Kendo().Grid<PostActivity>()
		      .Name("PostActivityList")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Status).Title("Status").ClientTemplate("#=getStatus(Status, FailureMessage, StatusName)#").HtmlAttributes(new {@class = "centered-column"}).Width(80).Filterable(f => f.UI("statusFilter").Messages(m => m.Info("Filter by Status:")));
					  columns.Bound(c => c.ScheduleDate).Title("Sched Date").ClientTemplate("<div>#=StatusDateText#</div><div class='timezone'>#=TimeZoneName#</div>").HtmlAttributes(new { @class = "centered-column" }).Width(130).Filterable(false);
					  columns.Bound(c => c.NetworkName).Title("Net").ClientTemplate("<a href='#=SocialUrl#' target='_blank'><span class='ico-#=NetworkName# n-ico' title='#=NetworkName#'/></a>").HtmlAttributes(new { @class = "centered-column" }).Width(40).Sortable(false).Filterable(false);
					  columns.Bound(c => c.LocationName).Title("Location").Filterable(false);
					  columns.Bound(c => c.Title).HtmlAttributes(new { @class = "view-full-text" }).Filterable(false);
					  columns.Bound(c => c.Type).Title("Type").ClientTemplate("#=getTypeImage(Type, PostImageURL)#").HtmlAttributes(new { @class = "centered-column" }).Width(75).Filterable(f => f.UI("typeFilter").Messages(m => m.Info("Filter by Type:")));
					  columns.Bound(c => c.PostedBy).Title("By").HtmlAttributes(new { @class = "centered-column" }).Width(120).Filterable(f => f.UI("postedByFilter").Messages(m => m.Info("Filter by Posted By:")));
					  columns.Bound(c => c.PostID).Title("Statistics").ClientTemplate("<a href='/Reports/Report/SyndicationPostDetail/PostID,#=PostID#|AccountID,#=LocationID#' title='Post Detail Report'><span class='post-DetailReport-icon s-icon'/></a>&nbsp;<a href='/Reports/Report/SyndicationPostStream/PostID,#=PostID#|AccountID,#=LocationID#' title='Post Stream Report'><span class='post-StreamReport-icon s-icon'/></a>").Width(80).HtmlAttributes(new { @class = "centered-column" }).Sortable(false).Filterable(false);
					  columns.Template(t => t).ClientTemplate("#=getActions(Status, StatusDateText, PostID, PostTargetID, CanEdit)#").Title("").Width(90).HtmlAttributes(new { style = "overflow: visible;" }).HeaderTemplate("<span class='legend'></span>");

			      })
		      .DataSource(ds => ds.Ajax().Read(read => read.Action("DealerPostActivityGrid", "Social")).Model(model => model.Id(a => a.PostTargetID)).PageSize(100).ServerOperation(true))
		      .AutoBind(false)
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      //.HtmlAttributes(new {style = "height:740px;"})
		      .Scrollable(s => s.Virtual(false).Height(600))
			  .Events(e => e.DataBound("postDataBound").FilterMenuInit("filtersInit"))
		      .Pageable(p =>
			      {
				      p.Enabled(true);
				      p.Refresh(true);
				      p.Numeric(true);
				      //p.PreviousNext(false);
				      p.PageSizes(new int[] {25, 50, 100, 200});
					  p.Messages(m => m.Display("Showing {0}-{1} from {2} Post").Empty("No Post found.").ItemsPerPage("Post per page"));			  


			      })
			  .Filterable(f => f.Extra(false).Operators(o => o.ForString(s => s.Clear().IsEqualTo("Is equal to"))).Messages(m => m.Info("Post Filter by: ")))
		      .ToolBar(toolbar =>
			      {
				      toolbar.Template(@<text>
				                        	<div>
						                        <div id="FilterView" class='dealer-filter'>
							                        <select id="timeFrameFilterItems" style="width: 180px;" data-role="dropdownlist" 
							                                data-text-field="Text" data-value-field="Value" 
							                                data-bind="source: timeFrames, value: timeFrameValue, events: { change: timeFrameChange }">
							                        </select>
							                        @* <select id ="locationVirtualGroup" style="width:180px;" 
								                          data-auto-bind="false" data-placeholder="Type Group ..." data-role="combobox" data-text-field="Text" 
								                          data-value-field="Value" data-filter="startswith" data-suggest="true" data-delay="500"
								                          data-highlight-first="true" data-bind="source: groupFilterItemSource, value: groupFilterValue, events: { change: applyNewFilters }" >
								                  </select>*@
							                        <select id ="locationDealers" style="width: 360px;" 
							                                data-auto-bind="false" data-placeholder="Type Dealer ..." data-role="combobox" data-text-field="Text" 
							                                data-value-field="Value" data-filter="startswith" data-suggest="true" data-delay="800"
							                                data-highlight-first="true" data-bind="source: dealerFilterItemSource, value: dealerFilterValue, events: { change: applyNewFilters }" >
							                        </select>
							                        <select id="oemFilterItems" style="width: 160px;" multiple="multiple" data-role="multiselectbox" 
							                                data-auto-bind="false" data-option-label="OEM..." data-text-field="Name" data-value-field="ID" 
							                                data-bind="source: oemFilterItemSource, value: oemFilterItems, events: { change: applyNewFilters }" >
							                        </select>
							                        <select id="networkFilterItems" multiple="multiple" data-role="multiselectbox" data-option-label="Network ..." 
							                                data-text-field="Name" data-value-field="ID" 
							                                data-bind="source: networkFilterItemSource, value: networkFilterItems, events: { change: applyNewFilters }" >
							                        </select>
							                  
							                        <a id="ClearFilterLink" class="k-link" style="margin-left: 10px;" href="#" data-bind="events: { click: clearFilters }">
								                        <span class="k-icon k-i-cancel"></span> Clear Filters
							                        </a>
						                        </div>
					                        </div>
				                        </text>);
			      })
			  )

	</div>
}
	<div id="PublishWindow" style="background-color: #FBFBFB;"></div>

</div>

<script>
	viewModel.dealerCurrentContext = parseInt('@ViewBag.currentAccountID');
	viewModel.dealerFilterValue = parseInt('@ViewBag.currentAccountID') == 0 ? null : { Text: '@ViewBag.currentAccountName', Value: parseInt('@ViewBag.currentAccountID') };

	var filterViewModel = kendo.observable(viewModel);
	
	$(function () {
		@if (!baseModel.UserInfo.EffectiveUser.ViewDealerPostActivityGridFilter)
		{
			@: $("#FilterView").hide();
		}
		
		kendo.bind($("#FilterView"), filterViewModel);
		
		var currentDealer = '@ViewBag.currentAccountID';
		if (currentDealer != "0") {
			filterViewModel.applyNewFilters();
		}
		else {
			$('#PostActivityList').data("kendoGrid").dataSource.read();
		}

	});
	
</script>