﻿@{
	ViewBag.PageTitle = "Post Calendar";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

@section Header
{
	<script src="~/assets/script/kendo/kendo.timezones.min.js"></script>
	
	<script src="@Url.Content("~/Areas/Social/Views/Social/PostCalendar.min.js")"></script>	
}

<script>
	var imageFolderPath = '@ViewBag.ImageBaseUrl';
</script>

<script id="eventDetailsTemplate" type="text/x-kendo-template">
	<div class='event-tooltip'>
		<div class='title-bar'>
			<div class='title'>
				<a href='#=SocialUrl#' target='_blank'><span class='ico-#=NetworkName# n-ico' style='vertical-align: middle;' title='#=NetworkName#'/></a>
				#=LocationName# #=Type# Post
			</div>
			<div class='date-text'>#=StatusDateText#</div>	
		</div>
		<div class='fcl'></div>
		<div class="message">#=Message#</div>
		<div class="posted-by">Posted By: #=PostedBy#</div>
		<div class="post-image">#=ImageHtml#</div>
	</div>	
</script>


<div class="post-calendar">
	<div class="calendar">
		@(Html.Kendo().Scheduler<PostActivityCalendar>()
		      .Name("PostCalendar")
		      .Date(DateTime.Now)
		      .StartTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 1, 0, 0))
			  //.EndTime(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 18, 0, 0))
		      .Height(651)
		      .Editable(false)
		      .Selectable(false)
		      .AllDaySlot(false)
		      .ShowWorkHours(true)
		      .Messages(m => m.Event("Post"))
		      .Views(views =>
			      {
				      views.DayView();
				      views.WorkWeekView(workWeekView => workWeekView.Selected(true));
				      views.WeekView();
				      views.MonthView();
				      views.AgendaView(a => a.EventTimeTemplate("#= kendo.toString(start, 't') #"));
					
			      })
		      .Timezone((string)ViewBag.IANATimeZone) 
			  //.Timezone("Etc/UTC")
		      .Events(e => e.DataBound("CalendarDataBound"))
		      .Resources(resource => resource.Add(m => m.PostTypeResource).Title("Post Type").DataTextField("Text").DataValueField("Value").DataColorField("Color")
		                                     .BindTo(new[] { 
			                                     new { Text = "Quick", Value = 1, Color = "#f8a398" } ,
			                                     new { Text = "Scheduled", Value = 2, Color = "#51a0ed" } ,
			                                     new { Text = "Syndicated", Value = 3, Color = "#56ca85" } 
		                                     }))
		      .DataSource(ds => ds.Model(m => { m.Id(f => f.PostID); m.Field(f => f.PostTypeResource).DefaultValue(1);})
			                       .Read(read => read.Action("DealerPostCalendar", "Social")).ServerOperation(true)
				)
		      .AutoBind(false)
			  )
	</div>
	

</div>

<script>
	$(function () {
		Init();
	})
</script>