﻿@{
	ViewBag.PageTitle = "Social Product Config";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}


@section Header
{
	<style>
		.admin-account-edit .product-config .config-section {
			height: auto;
			min-height: 100px;
		}
	</style>
}

<div class="admin-account-edit" style="margin-top: 10px; width: 700px;margin: 0 auto;padding-top: 12px;">

    <h3>
        Product Config for @ViewBag.AccountName
    </h3>


	@{ Html.RenderAction("SocialConfig", "Admin", new {area = "Admin", accountID = ViewBag.AccountID}); }
	
</div>
