﻿
@{
    ViewBag.PageTitle = "Content Syndication Help";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
    BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}


<div class="social-publish">
	<h3>Content Syndication Help</h3>
</div>
<div>
    <iframe width="853" height="480" src="//www.youtube.com/embed/MljvaMzFDW0?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div>
    <iframe width="853" height="480" src="http://youtu.be/4gTpMBlKEKQ" frameborder="0" allowfullscreen></iframe>
</div>
<div>
    <iframe width="853" height="480" src="http://youtu.be/xym4-rvLBaA" frameborder="0" allowfullscreen></iframe>
</div>

