﻿

@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script>
	var PosNegData = [
		{
			category: "Pos",
			count: 100
		},
		{
			category: "Neg",
			count: 0
		}
	];

	$(function() {

		$(".reputation-filter-links").click(function() {
			var filter = $(this).data("filter");
			InitializeApplyFilterParameters(filter);
		});
		
		$("#PosNegchart").kendoChart({
			title: {
				text: "Positive vs Negative Reviews"
			},
			legend: {
				visible: false
			},
			series: [{
				type: "pie",
				field: "count",
				categoryField: "category",
				startAngle: 120,
				padding: 40,
				labels: {
					background: "transparent",
					visible: true,
					template: "#= category # - #= kendo.format('{0:P0}', percentage)#",
					color: "#222"
				}
			}],
			seriesColors: ["#76b800", "#ef4c00"],
			plotArea: {
				margin: {
					top: 0, right: 0, bottom: 0, left: 4
				}
			},
			chartArea: {
				margin: {
					top: 0, right: 0, bottom: 0, left: 4
				},
				background: "#FBFBFB"
			},
			tooltip: {
				visible: true,
				template: "#= category # - (#=value#) #= kendo.format('{0:P0}', percentage)#",
				color: "#222"
			}
		})

	});
	
	function CountChartStart(e) {
		$("#ReviewCountChart").hide();
		kendo.ui.progress($("#ReviewChart"), true);
	}
	
	function CountChartEnd(e) {
		if (e.response && e.response.length > 0) {
			$("#ReviewCountChart").show();

			var totalPos = 0;
			var totalNeg = 0;
			for (var idx = 0; idx < e.response.length; idx++) {
				totalPos += e.response[idx].PosCount;
				totalNeg += e.response[idx].NegCount;
			}
			PosNegData[0].count = totalPos;
			PosNegData[1].count = totalNeg;
			var chart = $("#PosNegchart").data("kendoChart");
			var dataSource = new kendo.data.DataSource({
				data: PosNegData
			});
			chart.setDataSource(dataSource);
		}

		kendo.ui.progress($("#ReviewChart"), false);
	}
	
</script>


<div class="stream-header">
	<div class="unread">
		@*<div class="fieldset">
			<div class="legend">Unread Reviews</div>
			<div class="top-section">
				<div class="total-unread">
					<div class="reputation-filter-links" data-filter='@Model.UnReadFilter'>@(Model.UnReadPostive + Model.UnReadNegative)</div>
				</div>
				<div class="reviews">
					<div class="positive-reviews">
						<span class="reputation-filter-links" data-filter='@Model.UnReadPostiveFilter'>@Model.UnReadPostive</span>
						<span>Positive</span>
					</div>
					<div class="negative-reviews">
						<span class="reputation-filter-links" data-filter='@Model.UnReadNegativeFilter'>@Model.UnReadNegative</span>
						<span>Negative</span>
					</div>
				</div>
			</div>
			<div class="fcl"><hr/></div>
			<div class="bottom-section">
				<div class="from-yesterday">
					<span class="reputation-filter-links" data-filter='@Model.UnReadFromYesterdayFilter'>@Model.UnReadFromYesterday</span>
					<span>From Yesterday</span>
				</div>
				<div class="this-month">
					<span class="reputation-filter-links" data-filter='@Model.UnReadThisMonthFilter'>@Model.UnReadThisMonth</span>
					<span>This Month</span>
				</div>
			</div>
		</div>*@
		
@if (baseModel.UserInfo.EffectiveUser.ViewReviewStreamCountPerSite)
{
	<div id="ReviewChart" style="position: relative; height: 100%; width: 100%;">
		
			@(Html.Kendo().Chart<ReviewCountPerSite>()
				  .Name("ReviewCountChart")
				  .Title("Review Count/Site")
				  .HtmlAttributes(new { style = "height:200px; display: none;" })
				  .Legend(legend => legend.Visible(false))
		//.Series(series => series.Column(Model.AverageRatingsPerSite).Name("Rating").Color("#ffae00").Labels(l => l.Visible(true).Background("#ccc")))
				  .Series(series => series.Column(m => m.Count).Name("Count").Color("#ffae00").Labels(l => l.Visible(true).Background("#ccc")))
				  .CategoryAxis(axis => axis.Categories(m => m.Site).Labels(l => l.Font("10px Arial,sans-serif")))
				  .ChartArea(chart => chart.Background("#FBFBFB"))
				  .Theme("flat")
				  .ValueAxis(axis => axis.Numeric().Line(line => line.Visible(false)).MajorGridLines(lines => lines.Visible(true))) //Max(Model.GridMaxReviewCountPerSite)
				  .Tooltip(tooltip => tooltip.Visible(true).Template("#= series.name #: #= value #").Color("#333").Background("#eee"))
				  .DataSource(ds => ds.Read(read => read.Action("ReviewStreamHeaderCountPerSite", "Reputation", new { area = "Reputation" })).ServerOperation(true).Events(e => e.RequestStart("CountChartStart").RequestEnd("CountChartEnd")))
				  .AutoBind(false)
				  )
					

	</div>
	
}
	</div>
	
	<div class="to-does">
		@*	<div class="fieldset">
				<div class="legend">Dealer Info</div>
				<div class="info">
					<table>
						<tr><td># of Dealers</td><td><a href='@Url.RouteUrl("DashboardReputationLocations")'>@Model.NumberOfDealers</a></td></tr>
						<tr>
							<td># Reviews</td>
							<td>
								<span class="reputation-filter-links" data-filter='@Model.ReviewsAllTime.NumberOfReviewsFilter'>@Model.ReviewsAllTime.NumberOfReviews</span>
							</td>
						</tr>
						<tr>
							<td>Positive</td>
							<td>
								<span class="reputation-filter-links" data-filter='@Model.ReviewsAllTime.TotalPositiveFilter'>@Model.ReviewsAllTime.TotalPositive</span>
							</td>
						</tr>
						<tr>
							<td>Negative</td>
							<td>
								<span class="reputation-filter-links" data-filter='@Model.ReviewsAllTime.TotalNegativeFilter'>@Model.ReviewsAllTime.TotalNegative</span>
							</td>
						</tr>
					</table>
				</div>
			</div>*@
		
@if (baseModel.UserInfo.EffectiveUser.ViewReviewStreamPositiveNegative)
{
	<div>
		<div id="PosNegchart" style = "height:200px;"></div>
	</div>
	

}
	</div>

@*	<div class="to-does">
		<div class="fieldset">
			<div class="legend">To-Do's</div>
			<div style="top: -12px;position: relative;">
				@(Html.Kendo().Chart()
				      .Name("chartRead")
				      .HtmlAttributes(new { style = "height:110px;"})
				      .Title(t => t.Visible(false))
				      .Legend(legend => legend.Visible(true).Position(position: ChartLegendPosition.Bottom))
				      .ChartArea(chartArea => chartArea.Background("transparent"))
				      .Series(series =>
					      {
						      series.Bar(new double[] { Model.ToDoesRead }).Name("Read").Labels(true);
						      series.Bar(new double[] { Model.ToDoesUnRead }).Name("UnRead").Labels(true);
					      })
				      .CategoryAxis(axis => axis.Visible(false).MajorGridLines(lines => lines.Visible(false)))
				      .ValueAxis(axis => axis.Numeric().Visible(false).Line(line => line.Visible(false)).MajorGridLines(lines => lines.Visible(true)))
				      .Tooltip(tooltip => tooltip
					                          .Visible(true)
					                          .Template("#= series.name #: #= value #")
					  )
					  )
			</div>
			<div style="top: -32px;position: relative;">
				@(Html.Kendo().Chart()
					.Name("chartResponse")
					.HtmlAttributes(new { style = "height:110px;"})
					.Title(t => t.Visible(false))
					.Legend(legend => legend.Visible(true).Position(position: ChartLegendPosition.Bottom))
					.ChartArea(chartArea => chartArea.Background("transparent"))
					.Series(series =>
						{
							series.Bar(new double[] { Model.ToDoesResponsed }).Name("Responded").Labels(true).Color("orange");
							series.Bar(new double[] { Model.ToDoesNoResponse }).Name("No Response").Labels(true).Color("#d0a700");
					})
					.CategoryAxis(axis => axis.Visible(false).MajorGridLines(lines => lines.Visible(false)))
					.ValueAxis(axis => axis.Numeric().Visible(false).Line(line => line.Visible(false)).MajorGridLines(lines => lines.Visible(true)))
					.Tooltip(tooltip => tooltip
						.Visible(true)
						.Template("#= series.name #: #= value #")
					)
				  )
			</div>
		</div>
	</div>*@
	<div class="fcl"></div>

</div>