﻿
@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
<script src="@Url.Content("~/Areas/Reputation/Views/Shared/ReviewStreamList.min.js")"></script>	

<script type="text/x-kendo-template" id="location-template">
	<div class='dealer-name'><a href='#=DealerLocation.SiteUrl#' target='_blank'>#=DealerLocation.Name#</a></div>
	<div>#=DealerLocation.City#, #=DealerLocation.StateAbrev# #=DealerLocation.Zipcode#</div>
</script>

<script type="text/x-kendo-template" id="rating-template">
	<ul class='rating #=starClass#'>
		<li class="one"><a href="\#" title="1 Star">1</a></li>
		<li class="two"><a href="\#" title="2 Stars">2</a></li>
		<li class="three"><a href="\#" title="3 Stars">3</a></li>
		<li class="four"><a href="\#" title="4 Stars">4</a></li>
		<li class="five"><a href="\#" title="5 Stars">5</a></li>
	</ul>
	<span class='rating-value'>#=rating#</span>
</script>

<script type="text/x-kendo-template" id="detail-template">
	<div>
		<a href='#=ReviewUrl#' target='_blank'>#=SiteName# Review</a> <span class='reviewer-name'>by #=ReviewerName#</span>
	</div>
	<div>#=ReviewText.substr(0, 145)#<span style=#= ReviewText.length > 145 ? 'display:inline-block' : 'display:none'#><span class="view-full-text" data-review-id='#=ReviewID#' >...view all...</span></span></div>
	
</script>

<script type="text/x-kendo-template" id="action-template">

	<div class='review-icon-set'>
		<span id='ReadIcon#=ReviewID#' class='read-icon-#=ReadIcon#' title='Review Read'></span>
		<span id='RespondIcon#=ReviewID#' class='responded-icon-#=RespondIcon# respondedicon' title='Review Responded'></span>
	</div>
	<div class='action-dropdown' data-review-id='#=ReviewID#'>
		<ul class='menu'>
			<li>Actions
				<ul>
					@if (baseModel.UserInfo.EffectiveUser.CanReviewStreamMarkReadAction)
					{
						<li data-action='markasread'><input type='checkbox' #=ReadChecked# disabled='disabled' /> Mark as Read</li>	
					}
					@if (baseModel.UserInfo.EffectiveUser.CanReviewStreamRespondedAction)
					{
						<li data-action='responded'><input type='checkbox' #=RespondedChecked# class='responded-check' disabled='disabled'/> Responded</li>
					}
					@if (baseModel.UserInfo.EffectiveUser.CanReviewStreamIgnoreAction)
					{
						<li data-action='ignore'><input type='checkbox' #=IgnoreChecked# class='ignore-check' disabled='disabled'/> Ignore</li>
					}
					@*<li data-action='gotoreview'><a href='#=ReviewUrl#' target='_blank'><span class='k-icon k-i-expand'></span>Go To Review</a></li>*@
	
					@if (baseModel.UserInfo.EffectiveUser.CanReviewStreamEmailAction)
					{
						<li data-action='email'><span class='k-icon k-i-expand'></span>Email</li>
					}
					@if (baseModel.UserInfo.EffectiveUser.CanReviewStreamShareAction)
					{
						<li data-action='share'><span class='k-icon k-i-expand'></span>Share</li>
					}
					
				</ul>
			</li>
		</ul>
	</div>

</script>

<div>
	@if (baseModel.UserInfo.EffectiveUser.ViewReviewStreamFilter)
 {
		<div class="button-filter-section">
			<div class="action-button"><div id="filterLabel"><span>Current Filters: </span><span id="filterItems"></span></div><button class="k-button" type="button" id="activeFilter"><span class='k-icon k-i-expand'></span>Advanced Filter</button></div>
		</div>
		<div class="fcl"></div>
		<div class="stream-filter">
			@Html.Partial("_ReviewFiltering", new ReviewFilteringParameters { menuItems = "All", gridSelector = "#ReviewStreamList", datesFieldName = "ReviewDate" })
		</div>
 }

	@if (baseModel.UserInfo.EffectiveUser.ViewReviewStreamGrid)
 {
		<div class="stream-grid">
			@(Html.Kendo().Grid<SI.Services.Reputation.Models.Stream>()
				  .Name("ReviewStreamList")
				  .Columns(columns =>
				  {
					  //columns.Template(t => t).ClientTemplate("<input type='checkbox' class='checkbox' />").HeaderTemplate("<input type='checkbox' class='checkbox-all' title='Select All' />").Width(40); SUPPORT ONLY?
					  columns.Bound(c => c.ReviewDate).Format("{0:ddd MM/dd/yy}").Title("Review").HeaderHtmlAttributes(new { title = "Review Date" }).Sortable(true).Width(80).HtmlAttributes(new { @class = "review-date" });
					  columns.Bound(c => c.CollectedDate).Format("{0:ddd MM/dd/yy}").Title("Collected").HeaderHtmlAttributes(new { title = "Date the review was made public" }).Sortable(true).Width(80).HtmlAttributes(new { @class = "review-date" });
					  columns.Bound(c => c.DealerLocation.Name).ClientTemplate("#=ReviewStream.getLocation(DealerLocation)#").Title("Location").Sortable(true).HeaderHtmlAttributes(new { style = "text-align: center;", title = "Account Name" });
					  columns.Bound(c => c.SiteName).Sortable(true).Title("Site").ClientTemplate("<a href='#=DealerLocation.SiteUrl#' target='_blank'><img src='#=SiteImageUrl#' title='#=SiteName#'/></a>").Width(65).HeaderHtmlAttributes(new { style = "text-align: center;", title = "Review Site Name" });
					  columns.Bound(c => c.Rating).HtmlAttributes(new { title = "#=Rating#" }).ClientTemplate("#=ReviewStream.getStars(Rating)#").Sortable(true).Width(90).HeaderHtmlAttributes(new { style = "text-align: center;", title = "Review Rating from Review Source" });
					  columns.Bound(c => c.ReviewText).ClientTemplate("#=ReviewStream.getReviewDetails(SiteName, ReviewerName, ReviewText, DealerLocation.SiteUrl, ReviewID)#").Title("Review").Sortable(false).Width(340).HeaderHtmlAttributes(new { style = "text-align: center;", title = "Review Text from Review Source" });
					  columns.Template(t => t).ClientTemplate("#=ReviewStream.getActions(ReviewID, HasBeenRead, HasBeenResponded, ReviewUrl, IsIgnored)#").Title("").Width(100).HtmlAttributes(new { style = "overflow: visible;" }).HeaderTemplate("<span class='legend'></span>").Visible(baseModel.UserInfo.EffectiveUser.ViewReviewStreamGridAction);
				  })
				  .DataSource(ds => ds.Ajax()
									  .Events(events => events.Error("SIGlobal.gridErrorHandler"))
									  .Read(read => read.Action("ReviewStreamListGrid", "Reputation"))
									  .Model(model => model.Id(a => a.ReviewID))
									  .PageSize(50))
				  .Sortable()
				  .Resizable(r => r.Columns(true))
			//.HtmlAttributes(new { style = "height:610px;" })
				  .Scrollable(s => s.Virtual(true).Height(540))
				  .AutoBind(false)
				  .Pageable(p =>
				  {
					  p.Enabled(true);
					  p.Refresh(true);
					  p.Numeric(false);
					  //p.PreviousNext(false);
					  p.PageSizes(new int[] { 25, 50, 100, 200 });
					  p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Reviews").Empty("No Reviews found.").ItemsPerPage("Reviews per page"));

				  })
				  .Events(e => e.DataBound("ReviewStream.streamDataBound"))
				  )
		
		</div>
		<div id="reviewMenuActionWindow"></div>
	}
</div>

<script>
	$(function () {
		ReviewStream.Init();
	});
</script>