﻿@model SI.WEB.Portal.Models.DialogModel

@using SI.WEB.Portal.Models
@using SI.WEB

@{
    //***************************************************************
    // Set the basic dialog properties here
    //***************************************************************    
    Model.Width = 400;
    Model.Resizable = false;
    Model.Modal = true;
}

<div ng-controller="SIControllerController">
    <div style="margin:20px;">
        <div style="float: left;margin-top:6px;">
            <div>Machine Name: {{entity.MachineName}}</div>
            <div>IP Address: {{entity.IPAddress}}</div>
        </div>
        <div style="float: right;">
            <div style="text-align: center;">
                Load Rating<br />
                <input type="text" ng-model="entity.LoadRating" style="width: 30px;text-align:center;" />
            </div>
        </div>
    </div>
    <div class="fcl"></div>
    <div class="si-dlg-buttons">
        <button ng-click="save()" class="btn btn-success">Save</button>
    </div>
</div>
