﻿@model SI.WEB.Portal.Models.DialogModel

@using SI.WEB.Portal.Models
@using SI.WEB

@{
    //***************************************************************
    // Set the basic dialog properties here
    //***************************************************************    
    Model.Width = 700;
    Model.Resizable = false;
    Model.Modal = true;
}

<div ng-controller="SIJobTypesController">
        <table style="width: 100%;" class="table table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Batch Size</th>
                <th>Load Rating</th>
                <th>Bundle Hash</th>
                <th></th>
            </tr>
        </thead>

        <tbody ng-repeat="item in entity">
            <tr>
                <td>{{item.ID}}</td>
                <td>{{item.Name}}</td>
                <td style="text-align: center;">{{item.BatchSize}}</td>
                <td style="text-align: center;">{{item.LoadRating}}</td>                
                <td>{{item.BundleHash}}</td>
                <td>
                    <div class="ico ico-edit" style="cursor: pointer;" onclick="si_dlg('jobtype', {{item.ID}}, 0);"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>