@import "CommonMixIns";

/*.dashboard-overview {
	margin-top: 6px;

	.fieldset {
		//.shadowed-rounded-box(4px);
		.rounded(4px);
		margin: 6px 2px;
		padding: 4px;
		border: 1px solid silver;
		width: 100%;
		height: 100%;
		background-color: #f8f8fa;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #333;
			padding: 2px 5px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}

	.reputation-overview {
		margin-top: 18px;
		width: 45%;
		float: left;

		.reputation-filter-links {
			color: #0088CC;
			cursor: pointer;
			font-size: 1.15em;

			&:hover {
				color: #005580;
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.dealer-info {
			width: 100%;

			.info {
				font-size: 1.2em;
				margin: 2px 4px 8px;
				height: 170px;

				td {
					padding: 4px 15px;
					white-space: nowrap;
					text-align: center;
				}

				.dealer-label {
					text-align: left !important;
					font-size: 1.2em;
				}
			}

			.time-frame {
				font-size: .9em;

				a {
					font-size: 1.15em;
					&:hover {
						font-weight: bold;
					}
				}
			}

			.left {
				text-align: left !important;
			}

			.number-dealers {
				font-size: 1.8em;
				text-align: left !important;
			}
		}

		.unread {
			width: 100%;
			margin-top: 20px;
			height: 200px;

			hr {
				border-width: 2px;
				border-color: #ddd;
			}

			.top-section {
				//margin: 5px;
			}

			.total-unread {
				float: left;
				font-size: 5em;
				margin-top: 30px;
				margin-left: 100px;
			}

			.reviews {
				float: right;
				margin-right: 40px;
				margin-bottom: 28px;
				font-size: 1.5em;

				div {
					margin: 10px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}

			.bottom-section {
				margin: 5px;
				padding: 6px;
				font-size: 1.2em;
				width: 100%;
				text-align: center;

				.from-yesterday {
					float: left;
					width: 47%;
				}

				.this-month {
					float: left;
					width: 45%;
					margin-left: 15px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}
		}
	}


	.social-overview {
		float: right;
		width: 52%;
		margin-top: 18px;

		.social-filter-links {
			color: #0088CC;
			cursor: pointer;
			font-size: 1.15em;

			&:hover {
				color: #005580;
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.dealer-info {
			width: 100%;

			.info {
				font-size: 1.1em;
				margin: 2px 6px 8px 4px;
				height: 170px;

				td {
					padding: 3px 2px;
					white-space: nowrap;
				}

				.number-col {
					text-align: right;
				}

				a {
					font-size: 1.15em;
					&:hover {
						font-weight: bold;
					}
				}
			}

			.networks {
				td {
					text-align: center;
					font-size: 1.15em;
					padding: 5px 3px;
					color: #005580;
				}
			}

			.seperator {
				color: #eee;
				font-size: 2.1em;
				padding-right: 0px !important;
			}


			.dealer-label {
				font-size: 1.2em;
			}

			.number-dealers {
				font-size: 1.8em;
			}
		}

		.todoes {
			width: 100%;
			margin-top: 20px;
			height: 200px;

			hr {
				border-width: 2px;
				border-color: #ddd;
			}

			.top-section {
				//margin: 5px;
			}

			.total {
				float: left;
				font-size: 5em;
				margin-top: 30px;
				margin-left: 80px;
			}

			.todo {
				float: right;
				margin-bottom: 15px;
				font-size: 1.5em;

				div {
					margin: 4px;
				}

				span {
					display: inline-block;
					margin: 5px;
					width: 120px;
				}
			}

			.bottom-section {
				margin: 5px;
				padding: 6px;
				font-size: 1.2em;
				width: 100%;
				text-align: center;

				.from-yesterday {
					float: left;
					width: 47%;
				}

				.this-month {
					float: left;
					width: 45%;
					margin-left: 15px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}
		}
	}
}*/

.dashboard-locations {
	.filters-group {
		width: 100%;
		text-align: right;
		margin: 8px 4px;

		.k-dropdown {
			text-align: left;
		}
	}

	.action-bar {
		width: 100%;
		margin-top: 4px;

		.page-nav {
			float: left;
			font-family: 'PlanerRegular',verdana;
			font-size: 1.4em;
			padding-top: 8px;

			.current {
				font-size: 1.2em;
				font-weight: bold;
				color: #005580;
			}

			a:hover {
				font-weight: bold;
			}
		}
	}

	.button-filter-section {
		.action-button {
			float: right;
		}
	}

	.sites-filter-links,
	.reputation-filter-links {
		color: #0088CC;
		cursor: pointer;
		font-size: 1.15em;

		&:hover
		{
			color: #005580;
			text-decoration: underline;
			font-weight: bold;
		}
	}

		

	.location-filter {
		.rounded(5px);
		.bordered(#bbb, #bbb, #bbb, #bbb);
		padding: 10px;
		.gradient(#EEE, #AAA, #DDD);
		display: none;
		margin-top: 4px;

		.title {
			font-weight: bold;
			margin-bottom: 10px;
		}

		#actionMenu {
			border-radius: 7px;
			width: 130px;

			ul {
				border-radius: 4px;
			}

			li {
				border-radius: 7px;
				width: 100%;
				border-right: none;
			}
		}

		.block {
			display: inline-block;
			vertical-align: top;

			.k-button {
				display: inline-block;
				vertical-align: top;
				width: 150px;
				font-weight: bold;
				text-align: left;
				border-radius: 7px;
				cursor: default;
			}
		}

		.k-si-cancel {
			cursor: pointer;
		}

		.filter-locations {
			display: none;
			margin: 4px 4px 8px 8px;


			.location-filter-list {
				display: inline-block;

				.list-item {
					margin-bottom: 4px;
					margin-left: 8px;

					.groups {
						display: inline-block;
					}

					.dealers {
						display: inline-block;
						margin-left: 20px;
					}
				}
			}
		}

		.filter-dates {
			display: none;
			margin: 4px 4px 8px 8px;

			.dates-filter {
				display: inline-block;
				margin-left: 8px;
			}
		}

		.filter-category {
			display: none;
			margin: 4px 4px 8px 8px;

			.category-filter-list {
				display: inline-block;
				margin-left: 8px;
			}
		}

		.filter-state {
			display: none;
			margin: 4px 4px 8px 8px;

			.state-filter-list {
				display: inline-block;
				margin-left: 8px;
			}
		}

		.filter-oem {
			display: none;
			margin: 4px 4px 8px 8px;

			.oem-filter-list {
				display: inline-block;
				margin-left: 8px;
			}
		}
	}


	.locations-grid {
		margin-top: 8px;

		.dealer-name {
			color: #0088CC;
			font-weight: bold;
		}

		td {
			vertical-align: top;
			//border-left: none;

            .timezone{
                font-size: 9px;
				line-height: 9px;
				color: #999;
            }
		}

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.n-ico {
			display: inline-block;
			margin-right: 2px;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
			tr td {
				overflow: visible;
			}
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.net-images {
			img {
				width: 16px;
				margin: 0 2px;
			}

			a{
				text-decoration: none;
			}
		}
	}
}

.mypreferences-edit {
	width: 100%;
	height: 100%;
	overflow: hidden;

	h3 {
		font-size: 18px !important;
		font-family: 'PlanerRegular',verdana;
		line-height: 18px !important;
		margin: 3px 0 !important;
		color: #898989;
	}

	.left-panel-menu {
		.gradient(#EEE, #AAA, #DDD);
		width: 140px;
		height: 98%;
		float: left;
		border-radius: 5px 0px 0px 5px;
		border-left: 1px solid #bbb;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 2px solid #888;
		padding: 3px;
	}

	.right-panel-edit {
		width: 79%;
		height: 98%;
		float: left;
		padding: 3px;
		background-color: #F8F8FA;
		border-top: 1px solid #bbb;
		border-bottom: 1px solid #bbb;
		border-right: 1px solid #bbb;
		border-radius: 0px 5px 5px 0px;
	}

	.close-window-button {
		margin-left: 12px;
		display: inline-block;
		position: absolute;
		bottom: 15px;
		padding: 3px;
		.rounded(3px);
		.bordered(#888,#888,#888,#888);
		cursor: pointer;
	}

	.k-menu {
		border-radius: 3px 3px 3px 3px;
		font-family: 'PlanerRegular',verdana;
		font-size: 14px;
		font-weight: bold;
	}

	.k-item {
		border-radius: 3px 3px 3px 3px;
	}

	.ico {
		display: inline-block;
	}

	.alerts-config {
		padding: 3px;

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			vertical-align: middle;
			font-size: 12px;
		}

		.action-bar {
			padding-top: 5px;

			.notify-bar {
				margin-left: 40px;
				margin-bottom: 8px;
			}
		}

		.alerts-grid {
			margin-top: 3px;
			margin-bottom: 20px;

			.centered-column {
				text-align: center;
				vertical-align: middle;
			}

			.k-grid-Add,
			.k-header {
				padding: 0 !important;
			}

			.k-grid td {
				padding-top: 1px !important;
				padding-bottom: 2px !important;

				input {
					margin: auto;
				}
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
				text-align: center;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(3px);
			}

			.name {
				margin-left: 8px;
				font-weight: bold;
			}

			.desc {
				margin-left: 30px;
				font-size: 0.9em;
				color: #555;
			}
		}
	}

	.password-config {
		padding: 3px;

		h4 {
			font-size: 12px !important;
			font-family: 'PlanerRegular',verdana;
			line-height: 14px !important;
			margin: 3px 8px !important;
			color: #898989;
			font-weight: normal;
		}

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			vertical-align: top;
			font-size: 12px;
			width: 120px;
		}

		.button-bar {
			margin-bottom: 20px;
		}

		input {
			vertical-align: top;
		}
	}
}


.notificaton-manage {
	margin-top: 12px;

	label {
		display: inline-block;
		margin-right: 4px;
		font-size: 1em;
	}

	input {
		vertical-align: top;
	}


	.n-ico {
		display: inline-block;
		margin-right: 2px;
		cursor: pointer;
		vertical-align: middle;
	}

	.section {
		color: #555;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 20px;
	}


	.notification-grid {
		margin-bottom: 20px;
		margin-top: 4px;

		#ApprovalNotificationGrid,
        #ApprovalHistoryGrid{
			min-height: 120px;
		}

		td {
			vertical-align: middle;
			border-left: none;
            
            .timezone {
				font-size: 9px;
				line-height: 9px;
				color: #999;
				padding-top: 2px;
			}
		}

		#NotificationMangerGrid{
			td {
				cursor: pointer;
			}
		} 

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}



		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);

			tr td {
				overflow: visible;
			}
		}

        .k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.date {
			color: #555555;
			font-size: 0.9em;
			font-weight: bold;
			text-align: center;
		}

		.location {
			font-weight: bold;
		}

        .approval-filter{
			display: inline-block;
        }
	}
}


.dealer-dashboard {
	margin-top: 10px;
	color: #222;
	font-family: Verdana;
	margin-left: 105px;

	.reputation-filter-links {
		color: #0088CC;
		cursor: pointer;

		&:hover {
			color: #005580;
			text-decoration: underline;
		}
	}

	.ddlabel {
		width: 90px;
		display: inline-block;
	}

	.locations-section {
		margin-bottom: 10px;
		vertical-align: middle;

		.locations {
			display: inline-block;
			font-size: 1.6em;
			font-weight: bold;
			color: #005580;
		}
	}

	.divider {
		margin: 40px 20px 0 20px;
		float: left;
		width: 1px;
		border-width: 0px;
		.bw-gradient(#f5f5f5, 100, 255);
		height: 550px;
	
	}

	.reputation {
		width: 46%;
		//height: 600px;
		overflow: hidden;
		float: left;


		.section-title {
			font-size: 1.5em;
			font-family: 'PlanerRegular',verdana;
			color: #333;
			font-weight: bold;
			margin-bottom: 8px;
		}

		.subsection-title {
			font-size: 1.3em;
			font-family: 'PlanerRegular',verdana;
			color: #333;
			font-weight: bold;
			margin-bottom: 8px;
		}

		.sat-score {

			.title {
				font-size: 1.2em;
				display: inline-block;
				margin-right: 10px;
			}

			.score-value {
				display: inline-block;
				font-size: 1.5em;
				font-weight: bold;
			}
		}

		.small-ddlabel {
			font-size: .9em;
			margin-left: 10px;
			display: inline-block;
		}

		.avg-review-score {
			display: inline-block;
			vertical-align: top;
			margin-left: 4px;
		}

		.review-details {
			margin-top: 10px;

			.details {
				margin-left: 6px;
				height: 110px;

				.review-row {
					margin-bottom: 9px;
				}

				.counts {
					font-size: 1.2em;
					width: 50px;
					text-align: right;
					display: inline-block;
					font-weight: bold;
				}

				.review-chart {
					position: relative;
					top: -100px;
					left: 170px;
				}

				.percent-legends {
					position: relative;
					top: -200px;
					left: 320px;

					.percent {
						margin-top: 10px;
					}
				}
			}
		}

		.reviews-per-site {

			.pie {
				margin-top: 10px;
			}

			.pie-legends {
				position: relative;
				top: -193px;
				left: 150px;
				
				td {
					vertical-align: top;
				}

				.counts-sm {
					font-size: .9em;
					display: inline-block;
					line-height: 9px;
					font-weight: bold;
					vertical-align: top;
				}

				.review-per-site-chart {
					position: relative;
					top: -158px;
					left: 86px;
				}

				.rating-row {
					height: 15px;
				}

				.percent {
					margin-bottom: 3px;
					vertical-align: top;
					line-height: 10px;
					font: 0.8em/12px verdana;
				}
			}
		}
	}

	.social {
		width: 40%;
		overflow: hidden;
		float: left;

		.section-title {
			font-size: 1.5em;
			font-family: 'PlanerRegular',verdana;
			color: #333;
			font-weight: bold;
			margin-bottom: 8px;
		}

		.subsection-title {
			font-size: 1.1em;
			font-family: 'PlanerRegular',verdana;
			color: #333;
			font-weight: bold;
			margin-bottom: 8px;
		}

		.header-section {
			text-align: right;
			width: 355px;
			white-space: nowrap;

			.header {
				display: inline-block;
				width: 70px;
				text-align: center;
				font-family: verdana;
			}
		}

		.network-row {
			width: 400px;
			margin-top: 2px;

			.network-title {
				font-size: 1.3em;
				font-family: 'PlanerRegular',verdana;
				color: #333;
				font-weight: bold;
				vertical-align: top;
				padding: 12px 0 0px 4px;
				display: inline-block;
			}

			.title {
				height: 34px;

				.right-label {
					display: inline-block;
					width: 220px;
					text-align: right;
					vertical-align: top;
				}
			}

			.network-list {
				margin-left: 80px;
				line-height: 18px;

				.list {
					display: inline-block;
					width: 280px;
				}

				.list-title {
					display: inline-block;
					width: 70px;
				}

				.counts {
					font-size: 1.2em;
					width: 90px;
					text-align: right;
					display: inline-block;
					font-weight: bold;
				}

				.spark-line {
					display: inline-block;
					margin-left: 20px;
				}
			}
		}
	}
}

.social-dashboard {
	margin-top: 4px;
	position: relative;

	.tabs {
		background-color: #FBFBFB !important;
		background-image: none;
		border: medium none;
		height: 100%;
		width: 100%;
	}

	.k-content {
		.rounded(3px);
	}

	.chart {
		margin-left: 20px;
	}

	.time-frame {
		margin-top: -3px;
		background-color: #EEE;
		padding: 6px 0 6px 20px;
		border-bottom: 1px solid #CEE6F4;

		.date-range{
			padding-left: 20px;
		}
	}
}



