@import "CommonMixIns";

.platform-messages {



	.fieldset {
		.shadowed-rounded-box(3px);
		margin: 6px 2px;
		padding: 4px;
		border: 1px solid silver;
		//width: 100%;
		height: 100%;
		background-color: #f8f8fa;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #333;
			padding: 2px 5px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}

	.info {
		padding: 0 4px 2px 4px;

		input {
			margin-right: 4px;
			margin-bottom: 4px;
		}

		label {
			display: inline-block;
			margin-bottom: 0px;
			padding-top: 4px;
			vertical-align: top;
		}
	}
}
