@import "CommonMixIns";


.reports-content{
	margin-top: 2px;
	margin-bottom: 10px;
	//.shadowed-rounded-box();
	.rounded(4px);
	position: relative;

	.k-content {
		border: none;
	}
	.k-widget {
		//.rounded(4px);
	}
	.k-link{
		color: #4C5356 !important;
	}
}



.reports-entrepsocial {
	margin-bottom: 20px;

	.grid {
		margin-top: 8px;

		.k-toolbar {
			background: none;
			.gradient(#EEE, #AAA, #DDD);
			padding: 8px;
			.border-radius(4px, 0, 0, 4px);
		}


		.report-toolbar{
			display: inline-block;
			width: 984px;
			margin-bottom: -5px;
		}

		.added-header {
			text-align: center;
			font-weight:bold;
			border-right-width: 1px;
		}

		.border-right{
			border-right-width: 1px !important;
		}

		.account-name {
			color: #0088CC;
			font-weight: bold;
			border-right-width: 2px;
		}


		td {
			text-align: center;
			vertical-align: middle;
		}

		.account-header .k-link {
			font-size: 12px !important;
			line-height: 18px !important;
		}

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
			overflow: visible;
			white-space: normal;

			a {
				-ms-text-overflow: clip !important;
				-o-text-overflow: clip !important;
				text-overflow: clip !important;
				font-size: 9px;
				line-height: 13px !important;
			}
		}
			

		.n-ico {
			display: inline-block;
			margin-right: 2px;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.rounded(4px);
			.border-radius(0, 4px, 4px, 0);

			tr td {
				overflow: visible;
			}
		}

		#ReportDetail{
			.rounded(4px);
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}
	}
}
