@import "CommonMixIns";

.stream-filter {
	.rounded(5px);
	.bordered(#bbb, #bbb, #bbb, #bbb);
	padding: 10px;
	.gradient(#EEE, #AAA, #DDD);
	display: none;
	margin-top: 4px;

	.title {
		font-weight: bold;
		margin-bottom: 10px;
	}

	#actionMenu {
		border-radius: 7px;
		width: 130px;

		ul {
			border-radius: 4px;
		}

		li {
			border-radius: 7px;
			width: 100%;
			border-right: none;
		}
	}

	.block {
		display: inline-block;
		vertical-align: top;

		.k-button {
			display: inline-block;
			vertical-align: top;
			width: 150px;
			font-weight: bold;
			text-align: left;
			border-radius: 7px;
			cursor: default;
		}
	}

	.k-si-cancel {
		cursor: pointer;
	}

	.filter-locations {
		display: none;
		margin: 4px 4px 8px 8px;


		.location-filter-list {
			display: inline-block;

			.list-item {
				margin-bottom: 4px;
				margin-left: 8px;

				.groups {
					display: inline-block;
				}

				.dealers {
					display: inline-block;
					margin-left: 20px;
				}
			}
		}
	}

	.filter-rating {
		display: none;
		margin: 4px 4px 8px 8px;

		.rating-filter {
			display: inline-block;
			margin-left: 8px;

			.ratingValue {
				display: inline-block;
				height: 40px;
				margin-left: 12px;
				vertical-align: middle;
				font-weight: bold;
			}
		}
	}

	.filter-content {
		display: none;
		margin: 4px 4px 8px 8px;

		.content-filter {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-dates {
		display: none;
		margin: 4px 4px 8px 8px;

		.dates-filter {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-sites {
		display: none;
		margin: 4px 4px 8px 8px;

		.sites-filter-list {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-category {
		display: none;
		margin: 4px 4px 8px 8px;

		.category-filter-list {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-state {
		display: none;
		margin: 4px 4px 8px 8px;

		.state-filter-list {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-oem {
		display: none;
		margin: 4px 4px 8px 8px;

		.oem-filter-list {
			display: inline-block;
			margin-left: 8px;
		}
	}

	.filter-status {
		display: none;
		margin: 4px 4px 8px 8px;

		.status-filter {
			display: inline-block;
			margin-left: 8px;
		}
	}
}

.button-filter-section {
	.action-button {
		float: right;


		#filterLabel {
			//display: inline-block;
			margin-right: 10px;
			display: none;
			width: 860px;
		}

		.filterLabel {
			padding: 0 5px;
			display: inline-block;
			margin-right: 10px;
			background-color: #eee;
			.rounded(3px);
			.bordered(#bbb, #bbb, #bbb, #bbb);
			font-size: .85em;

			.ftitle {
				color: #4682B4;
				font-weight: bold;
			}
		}
	}
}

.reputation-stream {
	margin-top: 4px;

	/*.fieldset {
		//.shadowed-rounded-box(4px);
		.rounded(4px);
		margin: 6px 2px;
		padding: 4px;
		border: 1px solid silver;
		width: 100%;
		height: 100%;
		background-color: #F8F8FA;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #333;
			padding: 2px 5px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}*/

	.header {
		.stream-header {
			.unread {
				float: left;
				width: 650px;
				height: 200px;
				//background-color: #F8F8FA;
				hr {
					border-width: 2px;
					border-color: #ddd;
				}

				.top-section {
					margin: 5px;
				}

				.total-unread {
					float: left;
					font-size: 5em;
					margin-top: 30px;
					margin-left: 30px;
				}

				.reviews {
					float: right;
					margin-right: 20px;
					font-size: 1.5em;

					div {
						margin: 10px;
					}

					span {
						display: inline-block;
						margin: 5px;
					}
				}

				.bottom-section {
					margin: 5px;
					padding: 6px;
					font-size: 1.2em;

					.from-yesterday {
						float: left;
					}

					.this-month {
						float: left;
						margin-left: 10px;
					}

					span {
						display: inline-block;
						margin: 5px;
					}
				}
			}

			.reputation-filter-links {
				color: #0088CC;
				cursor: pointer;

				&:hover {
					color: #005580;
					text-decoration: underline;
				}
			}

			.dealer-info {
				float: left;
				margin-left: 40px;
				width: 300px;
				height: 200px;

				.info {
					font-size: 1.2em;
					margin: 8px;

					td {
						padding: 4px 30px;
					}
				}
			}

			.to-does {
				float: left;
				margin-left: 40px;
				width: 300px;
				height: 200px;
			}
		}
	}

	.list {
		padding-top: 16px;
		//margin-top: 16px;


		.stream-grid {
			margin-top: 8px;
			margin-bottom: 8px;

			.action-dropdown {
				//position: absolute;
				//height: 164px;
				.menu {
					border-radius: 4px;

					ul {
						border-radius: 4px;
					}

					li {
						width: 100%;
						border-right: none;

						input[type="checkbox"] {
							vertical-align: top;
						}

						a:hover {
							text-decoration: none;
						}
					}
				}
			}

			td {
				vertical-align: top;
				border-left: none;
			}

			th {
				border-left: none;
				font-weight: bold;
				color: #555;
			}

			.k-link {
				color: #555;
			}

			.k-grid {
				//.shadowed-rounded-box();
				.rounded(4px);
				//tr td {
				//	overflow: visible;
				//}
			}

			.k-grid-header-wrap {
				border: none;
			}

			.review-date {
				font-weight: bold;
				color: #555;
				font-size: 0.9em;
			}

			.review-time {
				color: #666;
				font-style: italic;
				font-size: .9em;
			}

			.reviewer-name {
				color: #666;
			}

			.view-full-text{
				color: #666;
				cursor: pointer;
			}

			.dealer-name {
				font-weight: bold;
			}

			.action-dropdown-list {

				input[type="checkbox"] {
					margin: 0px 16px 8px 4px;
				}
			}

			.review-icon-set {
				//margin-left: 50px;
				width: 100%;
			}

			.read-icon-not {
				height: 16px;
				width: 26px;
				margin: 4px;
				background: url(images/eye_inv.png) no-repeat 0 0;
				display: inline-block;
			}

			.read-icon-read {
				height: 16px;
				width: 26px;
				margin: 4px;
				background: url(images/eye_inv_r.png) no-repeat 0 0;
				display: inline-block;
			}

			.responded-icon-r {
				height: 18px;
				width: 22px;
				margin: 4px;
				background: url(images/responded.png) no-repeat 0 0;
				display: inline-block;
			}

			.responded-icon-nr {
				height: 18px;
				width: 22px;
				margin: 4px;
				display: inline-block;
			}

			.legend {
				background: url(images/stream_legend.png) no-repeat 0 0;
				display: block;
				height: 21px;
				width: 94px;
			}

			.rating {
				width: 80px;
				height: 16px;
				margin: 8px 0 5px 0;
				padding: 0;
				list-style: none;
				clear: both;
				position: relative;
				background: url(images/star-matrix.png) no-repeat 0 0;

				li {
					cursor: pointer;
					float: left;
					text-indent: -999em;

					a {
						position: absolute;
						left: 0;
						top: 0;
						width: 16px;
						height: 16px;
						text-decoration: none;
						z-index: 200;
					}

					.one a {
						left: 0;
					}

					.two a {
						left: 16px;
					}

					.three a {
						left: 32px;
					}

					.four a {
						left: 48px;
					}

					.five a {
						left: 64px;
					}
				}
			}

			.rating-value {
				width: 100%;
				text-align: center;
				font-weight: bold;
				display: inline-block;
				color: #10850b;
			}

			.nostar {
				background-position: 0 0;
			}

			.halfstar {
				background-position: 0 -16px;
			}

			.onestar {
				background-position: 0 -32px;
			}

			.onehalfstar {
				background-position: 0 -48px;
			}

			.twostar {
				background-position: 0 -64px;
			}

			.twohalfstar {
				background-position: 0 -80px;
			}

			.threestar {
				background-position: 0 -96px;
			}

			.threehalfstar {
				background-position: 0 -112px;
			}

			.fourstar {
				background-position: 0 -128px;
			}

			.fourhalfstar {
				background-position: 0 -144px;
			}

			.fivestar {
				background-position: 0 -160px;
			}
		}

		.more-reviews-section {
			margin: 10px;
			width: 100%;
			text-align: center;

			.more-reviews-button {
				width: 500px;
				font-weight: bold;
			}
		}
	}
}

.review-email-form {
	position: relative;	

	table {
		width: 100%;

		td {
			padding: 4px;
		}
	}

	.title {
		text-align: center;
		padding: 4px;
		margin-bottom: 4px;
		font-weight: bold;
		background-color: #ddd;
	}

	.review-details {
		font-size: .9em;
		color: #4682B4;
	}
}

.reputation-sites {
	position: relative;

	.filters-group {
		width: 100%;
		text-align: right;
		margin: 8px 4px;

		.k-dropdown {
			text-align: left;
		}

		label {
			display: inline-block;
		}
	}

	.down {
		.shadowed-indented-rounded-box();
		display: inline-block;
		margin-right: 0;
	}

	.up {
		.shadowed-rounded-box(3px);
		display: inline-block;
		//margin-right: 2px;
	}

	.sites-grid {
		margin-top: 8px;

		td {
			vertical-align: top;
			border-left: none;
		}

		th {
			border-left: none;
			font-weight: bold;
			color: #555;
			text-align: center;
		}

		.k-link {
			color: #555;
		}

		.k-grid {
			//.shadowed-rounded-box();
			.rounded(4px);
			/*tr td {
				overflow: visible;
			}*/
		}

		.site-name-column {
			vertical-align: middle;
			font-weight: bold;
			text-align: center;
		}

		.centered-column {
			text-align: center;
			vertical-align: middle;
		}

		.reputation-filter-links {
			color: #0088CC;
			cursor: pointer;
			font-size: 1.15em;

			&:hover {
				color: #005580;
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
}

.reputation-careport
{
	padding-top: 10px;
	color: #333;

	.scores
	{
		text-align: center;
		width: 100%;

		.title
		{
			font-size: 1.3em;
			font-family: 'PlanerRegular',verdana;
			color: #005580;
			font-weight: bold;
			display: inline-block;
			vertical-align: top;
			padding-top: 20px;
		}

		.my-score
		{
			width: 180px;
			display: inline-block;
			margin-left: 30px;
			.rounded(4px);
			.bordered(#ccc,#ccc,#ccc,#ccc);

			.header
			{
				font-weight: bold;
				font-size: 1.1em;
				background-color: #4682B4;
				text-align: center;
				line-height: 30px;
				width: 100%;
				color: #FEFEFE;
				.border-radius(4px, 0, 0, 4px);
			}

			.value
			{
				font-size: 1.8em;
				line-height: 50px;
				font-weight: bold;
				text-align: center;
				width: 100%;
				color: #005580;
				background-color: #c5ddf1;
				.border-radius(0, 4px, 4px, 0);
			}
		}
	}

	th
	{
		background-color: #eeeeee;
		text-align: center;
		padding: 2px 4px 0 4px;
		color: #666;
	}
	

	.name
	{
		text-align: left;
		font-weight: bold;
		color: #555;
	}
	
	td
	{
		padding: 2px 4px;
	}

	.positive{
		color: #0f6f13;
		padding-left: 6px;
	}

	.negative{
		color: #821111;
	}

	.divider{
		background-color: transparent;
	}

	.group-averages
	{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;

		table
		{
			
			display: inline-block;
		}
	}

	.location-averages{
		text-align: center;
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;

		table
		{
			
			display: inline-block;
		}
	}
}