﻿@using SI.Services.Admin.Models
@using SI.WEB.Portal.Models


@{
    Layout = null;
	BaseModel baseModel = ViewBag.BaseModel as BaseModel;
	
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="/assets/style/bootstrap.css" />
	<link rel="stylesheet" href="@(baseModel.CSSUrl)" />
		
	<script src="~/assets/script/kendo/jquery.min.js"></script>
	<script src="~/assets/script/jquery.validate.min.js"></script>
	<script src="~/assets/script/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/assets/script/kendo/kendo.all.min.js"></script>
	<script src="~/assets/script/kendo/kendo.aspnetmvc.min.js"></script>
	
	<title>Exception Log</title>
		
</head>
	<body>
		
		<script>
			function dataBound() {
				this.expandRow(this.tbody.find("tr.k-master-row").first());
			}
		</script>
	
		<div style="margin-bottom: 50px;">
		
			@(Html.Kendo().Grid<ExceptionLog>()
			      .Name("ExceptionsGrid")
			      .Columns( col =>
				      {
					      col.Bound(c => c.ID);
						  col.Bound(c => c.DateCreated).Format("{0:M/d/yyyy h:mm tt}");
					      col.Bound(c => c.AssemblyName);
					      col.Bound(c => c.Class);
					      col.Bound(c => c.Method);
					
				      })
			      .ClientDetailTemplateId("details")
			      .Scrollable(s => s.Enabled(false))
			      //.Events(e => e.DataBound("dataBound"))
			      .Pageable(p => p.Enabled(true).PageSizes(new []{20,40,60,100}).Refresh(true).Info(true))
			      .DataSource(dataSource => dataSource
				                                .Ajax()
				                                .Read(read => read.Action("ExceptionLogRead", "Admin", new { area = "Admin" }))
				                                .PageSize(20)
				  )

				  )	
			
			<script id="details" type="text/kendo-tmpl">
			<table>
				<tr>
					<td>Line:</td>
					<td>#:LineNumber#</td>
					<td>Message:</td>
					<td>#:Message#</td>
					<td>#:URL#</td>
				</tr>
				<tr>
					<td colspan='5'>#:FullException#</td>
				</tr>
			</table>
		</script>
		


		</div>
	</body>
</html>
