﻿@{
    ViewBag.Title = "ProductConfigWindow";
    Layout = "~/Views/Shared/_layoutIframePages.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<style>
	h3 {
		display: none;
	}
</style>

<div class="admin-account-edit">
	
	@Html.Partial("_ProductConfigEdit")	
	
</div>
