﻿@model FBSocialDashboard


<script>
	var FBDash = {
		TimeFrameChange: function(e) {
			var tabs = $("#SocialDashboardTabs").data("kendoTabStrip");
			var fbTab = tabs.items()[0];
			var tabLink = $(fbTab).find('a.k-link').eq(0);
			var url = tabLink.data("contentUrl");
			if (url.indexOf('?') == -1)
				url = url + "?timeFrame=" + $("#FaceBookTimeFrame").val();
			else {
				urlParts = url.split("=");
				url = urlParts[0] + "=" + $("#FaceBookTimeFrame").val();
			}
			tabLink.data("contentUrl", url);
			kendo.ui.progress($("#firstChart"), true);
			tabs.reload(fbTab);
		}
	}
</script>

<div class="time-frame">
	@(Html.Kendo().DropDownListFor(m => m.FaceBookTimeFrame)
		.DataTextField("Text")
		.DataValueField("Value")
		.HtmlAttributes(new { style="width: 220px;" })
		.Events(e => e.Change("FBDash.TimeFrameChange"))
		.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {Text = "Last 7 Days", Value = "Last 7 Days"},
				new SelectListItem() {Text = "Last 30 Days", Value = "Last 30 Days", Selected = true},
				new SelectListItem() {Text = "Current Month", Value = "Current Month"},
				new SelectListItem() {Text = "Previous Month", Value = "Previous Month"},
				new SelectListItem() {Text = "Current Quarter (Traditional)", Value = "Current Quarter"},
				new SelectListItem() {Text = "Previous Quarter", Value = "Previous Quarter"},
				new SelectListItem() {Text = "Current Year", Value = "Current Year"},
				new SelectListItem() {Text = "Previous Year", Value = "Previous Year"}
			})
						
		)
 
	<span class="date-range">From @Model.StartDate.ToShortDateString() To @Model.EndDate.ToShortDateString()</span>

</div>


<div class="chart" id="firstChart" style="position: relative;">
	
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookFanChart")
	      .Title("Fans " + Model.FansTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.FansNew).Color("#9DACCB").Opacity(0.7)
			            .Name("New Fans " + Model.NewFansTotal.ToString("n0"))
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

			      series.Area(model => model.FansLost).Color("#DE8585").Opacity(0.5)
			            .Name("Lost Fans " + Model.LostFansTotal.ToString("n0"))
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));
		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	

</div>

<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookPTATChart")
	      .Title("Likes, Comments, Shares "  + Model.PTATTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.PTAT).Color("#c3f27d").Opacity(0.7)
			            .Name("Talking About")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookPageViewChart")
	      .Title("Page Views " + Model.PageViewTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.PageViews).Color("#1E90FF").Opacity(0.7)
			            .Name("Page Views")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookImpressionsChart")
	      .Title("Page Impressions " + Model.PageImpressionsTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.PageImpressions).Color("#5bc0de").Opacity(0.7)
			            .Name("Page Impressions")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookClicksChart")
	      .Title("Clicks " + Model.ClickTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.Clicks).Color("#e8b976").Opacity(0.7)
			            .Name("Clicks")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookPostImpressionsChart")
	      .Title("Post Impressions " + Model.PostImpressionsTotal.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.PostImpressions).Color("#72c772").Opacity(0.7)
			            .Name("Post Impressions")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("FacebookPaidPageImpressionsChart")
	      .Title("Paid Page Impressions " + Model.PageImpressionsPaidTotal.ToString("n0"))
	      .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.PageImpressionsPaid).Color("#5b98cc").Opacity(0.7)
			            .Name("Paid Page Impressions")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>

<form id="FacebookSocialForm" action="@Url.Action("FacebookSocialDashboard", "Dashboard", new { area ="DashBoard"})" method="POST">
	<input id="timeFrame" name="timeFrame" type="hidden" value="" />
</form>