﻿
@{
	BaseMembersModel baseModel = ViewBag.baseModel as BaseMembersModel;
}

<script src="@Url.Content("~/Areas/Dashboard/Views/Shared/Notifications.min.js")"></script>	

<script>
	Notifications.currentContext = '@baseModel.UserInfo.EffectiveUser.CurrentContextAccountID';
	Notifications.approvalsUrl = '@Url.RouteUrl("NotificationApprovals")';
</script>

<script type="text/x-kendo-tmpl" id="todoTemplate">
	<div class='todo-item' style='cursor: pointer;border-bottom: 1px solid silver;'>
		<img src='@(baseModel.AssetImagePath)#=ActionImage#'/>
		<span class='todo-text' style='padding:top: 7px;'>#=Text#</span>
		<span style='width:38px;text-align:right;'>#=Count#</span>
		<span class='ico-#=AlertLevel#'></span>
		
	</div>
</script>

<div id="NotificationItems" class="items-list">
	@*<div class="header">
		<span class="ico-todo-list"></span> TO DOs
		<div style="display: inline-block; text-align: right; width: 75%;">
			<a href='@Url.RouteUrl("NotificationManage")'>See All (<span id='ToDoCount'></span>)</a>
		</div>
		<hr/>
	</div>
	<div class="todo-list">
		@(Html.Kendo().ListView<ToDoSummary>()
		      .Name("ToDoListView")
		      .TagName("div")
		      .ClientTemplateId("todoTemplate")
		      .DataSource(data => data.Read(read => read.Action("ToDoListView", "Dashboard", new { area = "Dashboard" })))
			  .Events(e => e.DataBound("Notifications.toDoBound"))
			  )
		
	</div>
	<div style="margin-top: 20px;"></div>*@
	<div class="header">
		<span class="ico-notifications"></span> NOTIFICATIONS
		<div style="display: inline-block; text-align: right; width: 62%;">
			<a href='@Url.RouteUrl("NotificationManage")'>See All (<span id='AlertCount'></span>)</a>
		</div>
		<hr/>
	</div>
	<div class="todo-list">
		@(Html.Kendo().ListView<NotificationSummary>()
		      .Name("NotificationListView")
		      .TagName("div")
		      .HtmlAttributes(new { style="background-color: transparent;" })
		      .ClientTemplateId("todoTemplate")
		      .DataSource(data => data.Read(read => read.Action("NotificationListView", "Dashboard", new { area = "Dashboard" })))
		      .Selectable(s => s.Enabled(true).Mode(ListViewSelectionMode.Single))
		      .Events(e => e.DataBound("Notifications.notificationLVBound").Change("Notifications.notificationsChange")))
		
	</div>

</div>




<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
		<input id="filterParameters" name="filterParameters" type="hidden" value=""/>
	</form>
