﻿@model TWSocialDashboard

<script>
	var TWDash = {
		TimeFrameChange: function(e) {
			var tabs = $("#SocialDashboardTabs").data("kendoTabStrip");
			var twTab = tabs.items()[1];
			var tabLink = $(twTab).find('a.k-link').eq(0);
			var url = tabLink.data("contentUrl");
			if (url.indexOf('?') == -1)
				url = url + "?timeFrame=" + $("#TwitterTimeFrame").val();
			else {
				urlParts = url.split("=");
				url = urlParts[0] + "=" + $("#TwitterTimeFrame").val();
			}
			tabLink.data("contentUrl", url);
			kendo.ui.progress($("#firstTwitterChart"), true);
			tabs.reload(twTab);
		}
	}
</script>

<div class="time-frame">
	@(Html.Kendo().DropDownListFor(m => m.TwitterTimeFrame)
		.DataTextField("Text")
		.DataValueField("Value")
		.HtmlAttributes(new { style="width: 220px;" })
		.Events(e => e.Change("TWDash.TimeFrameChange"))
		.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {Text = "Last 7 Days", Value = "Last 7 Days"},
				new SelectListItem() {Text = "Last 30 Days", Value = "Last 30 Days", Selected = true},
				new SelectListItem() {Text = "Current Month", Value = "Current Month"},
				new SelectListItem() {Text = "Previous Month", Value = "Previous Month"},
				new SelectListItem() {Text = "Current Quarter (Traditional)", Value = "Current Quarter"},
				new SelectListItem() {Text = "Previous Quarter", Value = "Previous Quarter"},
				new SelectListItem() {Text = "Current Year", Value = "Current Year"},
				new SelectListItem() {Text = "Previous Year", Value = "Previous Year"}
			})
						
		)
 
	<span class="date-range">From @Model.StartDate.ToShortDateString() To @Model.EndDate.ToShortDateString()</span>

</div>



<div class="chart" id="firstTwitterChart" style="position: relative;">
	
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("TWitterNewFollowersChart")
	      .Title("New Followers " + Model.NewFollowers.ToString("n0") + " - Followers " + Model.Followers.ToString("n0"))
	      .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(true).Position(ChartLegendPosition.Top	))
	      .Series(series => series.Area(model => model.NewFollowers).Color("#9DACCB").Opacity(0.7)
	                              .Name("New Followers")
	                              .Labels(labels => labels.Format("{0:n}").Visible(false)))
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("TwitterNewTweetsChart")
	      .Title("New Tweets "  + Model.NewTweets.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.NewTweetsCount).Color("#c3f27d").Opacity(0.7)
			            .Name("New Tweets")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("TwitterFollowingChart")
	      .Title("Following " + Model.Following.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.FollowingCount).Color("#1E90FF").Opacity(0.7)
			            .Name("Following")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 

</div>


<div class="chart">
	@(Html.Kendo().Chart(Model.ChartData)
	      .Name("TwitterListChart")
	      .Title("List " + Model.Lists.ToString("n0"))
		  .HtmlAttributes(new { style="width: 960px" })
	      .Theme("flat")
	      .Legend(legend => legend.Visible(false).Position(ChartLegendPosition.Top	))
	      .Series(series =>
		      {
			      series.Area(model => model.ListedCount).Color("#5bc0de").Opacity(0.7)
			            .Name("Lists")
			            .Labels(labels => labels.Format("{0:n0}").Visible(false));

		      })
	      .CategoryAxis(axis => axis
		                            .Categories(model => model.PeriodEnd)
		                            .MajorGridLines(lines => lines.Visible(false))
		  )
	      .ValueAxis(axis => axis.Numeric()
	                             .Labels(labels => labels.Format("{0:n0}"))
	                             .Line(line => line.Visible(true))
		  )
	      .Tooltip(tooltip => tooltip
		                          .Visible(true)
		                          .Format("{0}")
		                          .Template("#= category.toString('MM/dd/yy') # - #= kendo.format('{0:N0}',value) #")
		  )) 
	
	
	

</div>
