﻿
@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/script/jquery.validate.min.js"></script>
<script src="~/assets/script/jquery.validate.unobtrusive.min.js"></script>

<script>
	

	var UserPrefs = {
		currentPrefView: "UserPreferencesPassword",
		
		InitView: function () {
			var viewName = UserPrefs.currentPrefView;
			//if (SIGlobal.selectedPreferencesSection != "") //TODO PUT BACK IN WHEN NOTIFICTIOANST ADDED BACK
			//	viewName = SIGlobal.selectedPreferencesSection;
			var mitem = $("#PreferencesMenu").find("li[view='" + viewName + "']");
			UserPrefs.MenuPrefChange({ item: mitem });
		},

		menuPreferencesSelect: function (item) {
			SIGlobal.dirtyFlagConfirm(function (response) {
				if (response == "Yes") UserPrefs.MenuPrefChange(item);
			});			
		},

		MenuPrefChange: function (e) {
			$("#PreferencesMenu").find(".k-state-selected").removeClass("k-state-selected");
			$(e.item).addClass("k-state-selected");
			$("#form" + UserPrefs.currentPrefView).dirtyFlagReset();

			UserPrefs.SwitchPrefViews($(e.item).attr("view"));
		},
		
		SwitchPrefViews: function (viewName, fnCallBack) {
			if ($("#" + viewName).html() == "") {
				$("#" + viewName).load('/Dashboard/Dashboard/' + viewName, function() {
					$("#" + UserPrefs.currentPrefView).fadeOut("fast", function () {
						$("#" + viewName).fadeIn("fast");
						UserPrefs.currentPrefView = viewName;
						if (fnCallBack)
							fnCallBack();
					});
				});
			} else {
				$("#" + UserPrefs.currentPrefView).fadeOut("fast", function () {
					$("#" + viewName).fadeIn("fast");
					UserPrefs.currentPrefView = viewName;
					if (fnCallBack)
						fnCallBack();
				});
			}
		}
	};

	$(function () {
		$("#LoadingUserPrefAlerts").hide();
		$(".close-window-button").click(function () {
			SIGlobal.closePreferencesWindow();
		});

		UserPrefs.InitView();
	});
	

</script>


<div class="mypreferences-edit">
	
	<div class="left-panel-menu">
		
		@(Html.Kendo().Menu()
			    .Name("PreferencesMenu")
			    .Items(m =>
				    {
						m.Add().Text("Notifications").SpriteCssClasses("ico-alert").HtmlAttributes(new { view = "UserPreferencesNotifications" }).Visible(baseModel.UserInfo.EffectiveUser.ViewUserPreferencesNotifications);
						m.Add().Text("Password").SpriteCssClasses("ico-lockedit").HtmlAttributes(new { view = "UserPreferencesPassword" }).Visible(true);
				    })
			    .Orientation(MenuOrientation.Vertical)
			    .Events(e => e.Select("UserPrefs.menuPreferencesSelect"))
				)  
		
		<div class="close-window-button" >
			<span class="k-icon k-i-close"></span>Close Window
		</div>
	</div>
	<div id="LoadingUserPrefAlerts" class="right-panel-edit">
		<div class="loading-image"></div>
	</div>
	<div id="UserPreferencesNotifications" class="right-panel-edit" style="display: none;"></div>
	<div id="UserPreferencesPassword" class="right-panel-edit" style="display: none;"></div>
	
	
</div>



