﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }

    /* define this for a custom sign-up button, use background image for images*/	
    .info-boxAlly {        
        float: left;
        height: 500px;
        padding-top: 14px;
        width: 347px;
    }
    .registration-page .page .marketing {
        margin: 0px;
    }

    .sliderCATA {
        background-color: #F8F8FA;        
        border-radius: 5px;        
        float: right;        
        padding: 1px;
        width: 370px;
        margin-top: 15px;
    }

	.sliderAlly .ws_images>div>a {
				display: none !important;
    }

    .registration-page .page {
        margin: 0px;
        position: relative;
    }
</style>
<script>
    $(function () {
        //$("#Step1Button").hide();

        //$("#signup2").click(function () {
        //    $("#Page1").fadeOut("fast", function () {
        //        $("#Page2").fadeIn("fast");
        //    });
        //});
    });
</script>

<div>
    <div class="landingpage" style="margin: 0;">
        
        <div id="Page1" class="container">
            <div class="info-box-ns">
                <div class="title">SIGN UP FOR ACCESS TO FREE SOCIAL MEDIA CONTENT FROM THE CATA</div>
                <div class="content">
                    <p style="font-size: 13px; line-height: 17px;">Follow the instructions below to enroll your dealership with <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold; font-style: italic;">Connect4Content</span>to receive <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;">FREE</span> social media content for your dealership. You will be prompted to connect your dealership Facebook page and Twitter handle to the <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;">SOCIALDEALER</span> platform where the CATA will be able to supply you with content for your social networks.  All content you receive will be CATA-approved and you will be able to approve (or deny) each individual piece of information prior to it appearing on your social networks.</p>
                    <p style="font-size: 13px; line-height: 17px;">You will receive:</p>
                    <ul style="color: #666666; font-family: Arial; font-size: 11pt; list-style-image: url(http://cdn.socialintegration.com/contentsyndication/cata/bullet.jpg);">
                        <li>Free CATA-approved posts for Facebook and Twitter</li>
                        <br>
                        <li>Free training and support from SOCIALDEALER</li>
                        <br>
                        <li>Access to free Reputation and Social Media tools</li>
                    </ul>
                    <br>
                    <p style="font-size: 13px; line-height: 17px;"><span style="color: #666666; font-family: Arial; font-size: 11pt;">For questions or assistance contact support at  <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;">877-326-7624 opt 1</span>  or click on the chat button below. You may also email <span style="color: #666666; font-family: Arial; font-size: 11pt; font-weight: bold;">support@socialdealer.com</span> or visit our Online Support Site. </span></p>
                    <p style="font-size: 13px; line-height: 17px;"><span style="color: #666666; font-family: Arial; font-size: 11pt;">To learn more about this exciting program and this partnership visit these informative blog posts:</span></p>
                    <p style="font-size: 13px; line-height: 17px;"><span style="font-size: 13px; line-height: 17px;">
                        <img width="15" alt="Connect Now" src="http://cdn.socialintegration.com/contentsyndication/cata/blue-white-triangle-arrow.jpg"><a target="_blank" href="http://www.socialdealer.com/SocialTrends/announcements/cata-socialdealer-chicago-auto-show/">Chicago Auto Show Partners with SOCIALDEALER to Provide Local Dealers with Syndicated Social Media Content</a></span></p>
                    <p style="font-size: 13px; line-height: 17px;"><span style="font-size: 13px; line-height: 17px;">
                        <img width="15" alt="Connect Now" src="http://cdn.socialintegration.com/contentsyndication/cata/blue-white-triangle-arrow.jpg"><a target="_blank" href="http://www.socialdealer.com/SocialTrends/announcements/cata-uso-bbq/">The Chicago Automobile Trade Association Promotes USO BBQ with Social Advertising</a></span></p>
                </div>
            </div>

            <div class="sliderCATA">
                <div style="text-align: center; padding: 14px 0 5px 0;">
                    <img src="http://cdn.socialintegration.com/contentsyndication/lexus/sample_post.png">
                </div>
                <div id="wowslider-container1">
                    <div class="ws_images">
                        <ul>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/USO_Slider2.jpg" alt="Example Post 1" title="Example Post 1" id="wows1_0" /></li>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/C4C-Slider-ImgA-CAS.jpg" alt="Example Post 2" title="Example Post 2" id="wows2_0" /></li>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/C4C-Slider-ImgB-CAS.jpg" alt="Example Post 3" title="Example Post 3" id="wows3_0" /></li>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/C4C-Slider-ImgC-CAS.jpg" alt="Example Post 4" title="Example Post 4" id="wows4_0" /></li>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/C4C-Slider-ImgD-CAS.jpg" alt="Example Post 5" title="Example Post 5" id="wows5_0" /></li>
                            <li>
                                <img src="http://cdn.socialintegration.com/contentsyndication/cata/C4C-Slider-ImgE-CAS.jpg" alt="Example Post 6" title="Example Post 6" id="wows6_0" /></li>
                        </ul>
                    </div>
                    <div class="ws_shadow"></div>
                </div>


                <div style="clear: both;"></div>
            </div>

            <div class="container" style="display: none;">
                <div class="info-box" style="width: 100%; height: auto;">
                    <div class="title">Get Connected. Get Social.</div>
                </div>
                <div class="info-box" style="width: 100%; height: auto; margin-top: 20px;">
                    <div class="content">
                        <div>
                            <p>If you connect with Facebook, you must LOGOUT of Facebook before you start this process.</p>
                            <p>OR</p>
                            <p>You must be logged in to your personal Facebook profile that has admin rights to any Facebook Pages you wish to enroll. You CAN NOT be possessing a dealership page.</p>
                            <p>During the connection process, Facebook will prompt you about giving us permission to post on your behalf. Neither SOCIALDEALER nor the sydicator will be publishing content to your personal profile. We will only be publishing content to the pages you enroll.To enroll more than one page, please complete this process for each page.</p>
                            <p>For questions or assistance contact support at <a href='tel:8669141819'>866-914-1819</a>. You may also email <a href='mailto:support@socialdealer.com?subject=Syndication Signup'>support@socialdealer.com</a> or visit our <a href='https://socialdealer1.zendesk.com/home' target='_blank'>Online Support Site</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<script>
    function ws_fly(c, a, b) {
        var d = jQuery;
        var f = { position: "absolute", left: 0, top: 0, width: "100%", height: "100%" };
        var e = d("<div>").addClass("ws_effect").css(f).css({ overflow: "visible" }).appendTo(b.parent());
        this.go = function (m, j, p) {
            var i = !!c.revers;
            if (p) {
                if (p >= 1) {
                    i = 1
                }
                if (p <= -1) {
                    i = 0
                }
            }
            var h = -(c.distance || e.width() / 4), k = Math.min(-h, Math.max(0, d(window).width() - e.offset().left - e.width())), g = (i ? k : h), n = (i ? h : k);
            var o = d(a.get(j)).clone().css(f).css({ "z-index": 1 }).appendTo(e);
            var l = d(a.get(m)).clone().css(f).css({ opacity: 0, left: g, "z-index": 3 }).appendTo(e).show();
            l.animate({ opacity: 1 }, { duration: c.duration, queue: false });
            l.animate({ left: 0 }, { duration: 2 * c.duration / 3, queue: false });
            setTimeout(function () {
                var q = b.find("ul").hide();
                o.animate({ left: n, opacity: 0 }, 2 * c.duration / 3, function () {
                    o.remove();
                    q.css({ left: -m + "00%" }).show();
                    l.remove()
                })
            }, c.duration / 3);
            return m
        }
    };

    $("#wowslider-container1").wowSlider({
        effect: "fly",
        prev: "",
        next: "",
        duration: 5 * 100,
        delay: 68 * 100,
        width: 347,
        height: 598,
        autoPlay: true,
        playPause: false,
        stopOnHover: true,
        loop: false,
        bullets: 0,
        caption: false,
        captionEffect: "slide",
        controls: true,
        onBeforeStep: 0,
        images: 0
    });

</script>