﻿<style>
    body {
        margin: 0;
        overflow-x: hidden;
    }
</style>

<div>
    <div class="landingpage" style="margin: 0;">
        <div class="header" style="background-color: #E8EDF1;">
            <div class="logo">
                <img src="http://cdn.socialintegration.com/contentsyndication/cata/logo2.png" alt="" />
            </div>
            <div>
                <div style="float: left; width: 100%; height: 70px; margin: 0 0 20px; text-align: center; background-image: url(http://cdn.socialintegration.com/contentsyndication/cata/bg_header2.jpg); background-repeat: repeat-x; background-position: top center;">
                    <img height="76" src="http://cdn.socialintegration.com/contentsyndication/cata/header2.png">
                </div>
            </div>
        </div>
    </div>
</div>

