﻿@using SI.Services.Admin.Models

<script>
	function accountDataBound() {
		$(".fbaccount-select").click(function() {
			LoadAccountFromFB($(this).data("id"), $(this).data("url"), "facebook");
		});
	}

	function codeData() {
		return { code: '@ViewBag.FacebookCode' };
	}
</script>

<script type="text/x-kendo-tmpl" id="pageTemplate">
	<tr class='fbAccount'>
		<td><img src="#=ImageUrl#"></img></td>
		<td><span class="name">#=Name#</span></td>
		<td><span>#=Address#</span></td>
		<td style='width:90px;text-align: right;'><button data-id="#=FacebookID#" data-url="#=Website#" class="k-button fbaccount-select" type="button"><span class="k-icon k-update"></span>Select</button></td>
	</tr>
</script>

<div class="fbAccount-picker" >
	<h3>Facebook Pages</h3>
	<h4>
		Please select one page from the list below for your facebook page.<br/>
		If you do not see any pages, please log out of Facebook and login with an account that has access to pages.
	</h4>
	<div class="pages-list" >
		@(Html.Kendo().ListView<FacebookAccountList>()
			  .Name("FBAccountListView")
			  .TagName("table")
			  .HtmlAttributes(new { style="height: 60px;" })
			  .ClientTemplateId("pageTemplate")
			  .DataSource(data => data.Read(read => read.Action("LandingPagesFacebookAccounts", "LandingPages", new { area = "LandingPages" }).Data("codeData")))
			  .Events(e => e.DataBound("accountDataBound"))
			  )
	</div>
</div>

	