﻿
<style>
    body {
        margin: 0px;
        overflow-x: hidden;
    }    
</style>

<div>
    <div class="landingpage" style="margin: 0px;">
        <div class="header" style="background-image: url('http://cdn.socialintegration.com/contentsyndication/lexus/cfc-header-bg.jpg'); background-color: #fff; margin-bottom: 10px;">
            <div class="logo">
                <img src="http://cdn.socialintegration.com/contentsyndication/lexus/cfc-header2.png" alt="" />
            </div>
        </div>
        <div>
            <div style="width: 100%; height: 70px; text-align: center; margin: -10px 0 5px; background-image: url(http://cdn.socialintegration.com/contentsyndication/lexus/bg_header2.jpg); background-repeat: repeat-x; background-position: top center;">
                <img width="960" height="76" usemap="#m_social_dealer_social_header3" src="http://cdn.socialintegration.com/contentsyndication/lexus/social_dealer_social_header3.png">
                <map id="m_social_dealer_social_header3" name="m_social_dealer_social_header3">
                    <area alt="" target="_blank" href=" https://twitter.com/lexus" coords="919,28,949,54" shape="rect">
                    <area alt="" target="_blank" href="https://www.facebook.com/lexus" coords="878,28,908,54" shape="rect">
                    <area alt="" target="_blank" href="http://www.lexus.com" coords="410,34,593,54" shape="rect">
                    <area alt="" target="_blank" href="http://www.lexus.com" coords="254,34,392,54" shape="rect">
                    <area alt="" target="_blank" href="http://www.lexus.com" coords="82,34,237,54" shape="rect">
                    <area alt="" target="_blank" href="http://www.lexus.com" coords="14,34,71,54" shape="rect">
                </map>
            </div>
        </div>
    </div>


</div>

