﻿<div style="margin: 0 auto; width: 460px;">
	<p>Thats It! Now you are registered... See how easy that was?</p>
	<p>You can Expect to receive a welcome email in a few minutes that will get you started.</p>
</div>