﻿/* Default fonts, elements and sizing */


@font-face {
    font-family: 'PlanerRegular';
    src: url('/assets/fonts/Planer-Regular-webfont.eot');
    src: url('/assets/fonts/Planer-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/Planer-Regular-webfont.woff') format('woff'),
         url('/assets/fonts/Planer-Regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/Planer-Regular-webfont.svg#PlanerRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: 'lucida grande',verdana,arial,sans-serif;
	font-size: 12px;
	background-color: #f8fbf8;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.si-hbar {
    background-color: #002788;
}

.si-header {
    background-color: #ffffff;
	border-bottom: 2px solid #bbccbb;
}

.si-left .si-title {
}

.si-left .si-lnav-sel {
    float: left;
    width: 15px;
    height: 39px;
    background: url(images/lnav-sel.png);
}

.si-left .si-mitem.sel {
    background-color: #58629B;
    color: #E3ECFA;
}

.si-left .si-mitem.dsel {
    background-color: #D3DDDE;
    color: #747474;
}

.si-left .si-mitem.hov {
    background-color: #E8EDEE;
    color: #747474;
}

.si-hright .menu .item {
}

    .si-hright .menu .item.sel {
        color: #FFBF00;
        font-weight: bold;
        cursor: default !important;
    }

    .si-hright .menu .item.dsel {
        font-weight: normal;
        color: #CCCCCC;
    }

    .si-hright .menu .item.hov {
        font-weight: normal;
        color: #EFEFEF;
    }

.si-hright {
    color: #303030;
}

.si-hright .menu .title-bar {
			font-size: 1.8em;
			font-family: 'PlanerRegular',verdana;
			letter-spacing: .05em;
			white-space: nowrap;
			color: #002788;
			margin-bottom: 4px;
			text-align: center;
			width: 100%;
			font-weight: bold;
		}


.si-hleft .logo, .si-hleft a, .si-hleft a:hover, .si-hleft a:active, .si-hleft a:visited {
    text-decoration: none;
    color: #E6E6E6;
    font-family: Verdana;
    font-size: 19px;
    margin-top: 18px;
}

.si-hleft .logo {
	background: url(images/rides_ca_logo.png) no-repeat 0 0;
	margin-top: 23px;
	width: 180px;
	height: 53px;
}

.si-hbar a, .si-hbar a:active, .si-hbar a:visited {
    text-decoration: none;
    color: #E6E6E6;
    font-family: Verdana;
    font-weight: normal;
    padding: 3px;
}

.si-hright a:hover {
    color: #FFFFFF;
}


/* account picker */

.si-aplist .si-aprow:hover {
    background-color: #CAE0F6;
}

.si-aplist .si-aprow-t:hover {
    background-color: #CAE0F6;
}

.si-aprow.even {
    background-color:#EEEEEE;
}
.si-aprow.odd {
    background-color:#FFFFFF;
}

.si-apframe .si-apfoot {
    color:#909090;
}

.si-noti .single {    
    color: #FFFFFF;
    background-color: #BF6000;
}

.si-noti .multi {    
    color: #eeeeee;
	background-image: url(/assets/style/aristo/icons/ico-reddot.png);
	width: 18px;
	height: 16px;
}
/* Dialog Stuff */

.si-dlg-content {
    margin-left: 130px;
}

.si-dlg-sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 130px;
    background-image: linear-gradient(bottom, rgb(190,217,244) 0%, rgb(0,0,0) 100%);
    background-image: -o-linear-gradient(bottom, rgb(190,217,244) 0%, rgb(0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(190,217,244) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(190,217,244) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(190,217,244) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(190,217,244), color-stop(1, rgb(0,0,0)) ));
}

    .si-dlg-sidebar .item {
        font-family: Verdana;
        margin: 0px;
        padding: 10px 4px 10px 8px;
        font-weight: bold;
        font-size: 12px; /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);*/
    }

        .si-dlg-sidebar .item.sel {
            cursor: default;
            color: #E2B500;
        }

        .si-dlg-sidebar .item.dsel {
            cursor: pointer;
            color: #939393;
        }

        .si-dlg-sidebar .item.hov {
            cursor: pointer;
            color: #C2C2C2;
        }

.si-dlg-greyinfo {
    background-color: #F8F8F8;
    padding: 10px;
    font-size: 16px;
    border-bottom: 2px solid #DFDFDF;
}

.si-dlg-error {
    background-color: #FFCCCB;
    padding: 10px;
    font-size: 13px;
    font-weight: normal;
    color: #CC0001;
    border: solid 1px #CC0001;
    margin: 10px;
}

.si-dlg-buttons {
    padding: 10px;
    text-align: right;
}

/* Forms */

.ng-invalid {
    border: 1px solid #FF5656 !important;
    box-shadow: 0px 0px 3px #FF5656 !important;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #FF5656;
	display: block;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #FF5656 !important;
    background-color: #fee !important;
	
}
.validation-summary-errors {
    font-weight: bold;
    color: #FF5656;
}
.validation-summary-valid {
    display: none;
}

.dirtyFlag {
	border: 1px solid lightsalmon !important;
}

.required-item > .k-input,
.required-item > input {
	background-color: #f9f4ae !important;
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #f9f4ae 100%) !important;
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #f9f4ae 100%) !important;
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #f9f4ae 100%) !important;
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #f9f4ae 100%) !important;
}

#LoggedInMenu.k-menu .k-link:hover,
#Menu.k-menu .k-link:hover {
	color: #a7ff99 !important;
	
}

#LoggedInMenu.k-menu {
  border: 1px solid #666;
  background: none !important;
  background-color: #999 !important;
  box-shadow: 3px 4px 3px 0 rgba(90, 90, 90, 0.6) !important;
}
#LoggedInMenu.k-menu li {
  border: none !important;
  background: none !important;
  background-color: #696969 !important;
  border-radius: 4px;
}
#LoggedInMenu.k-menu li hr {
  border: none !important;
  border-top: 1px solid #ccc !important;
}
#LoggedInMenu.k-menu ul,
#Menu.k-menu ul {
  background: none !important;
  border: none !important;
  background-color: #bbb !important;
  border-radius: 4px;
  box-shadow: 3px 4px 3px 0 rgba(90, 90, 90, 0.6) !important;
}
#LoggedInMenu.k-menu .k-link,
#Menu.k-menu .k-link {
  color: #444 !important;
  font-weight: bold !important;
}
#LoggedInMenu.k-menu .k-icon,
#Menu.k-menu .k-icon {
  background-image: url("images/sprite-white.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#LoggedInMenu.k-menu .k-icon,
	#Menu.k-menu .k-icon {
		background-image: url("images/sprite-white_2x.png") !important;
		background-size: 340px 336px;
	}
}

#LoggedInMenu.k-state-active,
#Menu.k-state-active {
  background: none !important;
  border: none !important;
}
#LoggedInMenu.k-menu .k-state-active,
#Menu.k-menu .k-state-active {
  background-color: #707070 !important;
  border-radius: 4px;
}
#LoggedInMenu.k-menu .k-link:hover,
#Menu.k-menu .k-link:hover {
  font-weight: bold !important;
  /*background: none !important;*/

  border: none !important;
  text-decoration: none;
  background-color: #808080 !important;
  border-radius: 4px;
}