﻿@using SI.Services.Admin.Models

<script>
	var CompAdd = {
		ApplyCompetitorAddFilters: function() {
			var filterObj = [];
			var search = $("#SearchTextAddCompetitor").val();
			if (search != null && search != "" && search.length > 1) {
				filterObj.push({ field: "Name", operator: "startswith", value: search });
				$('#CompetitorAddGrid').data("kendoGrid").dataSource.filter(filterObj);
				$('#CompetitorAddGrid').data("kendoGrid").refresh();
			}
		},

		addCompetitor: function(e) {
			var data = this.dataItem(this.select());
			var url = '@Url.Action("CompetitorAdd", "Admin", new { area = "Admin"})';
			var addData = { competitorID: data.ID, accountID: '@ViewBag.AccountID' };
			$.post(url, addData, function(data) {
				$("#CompetitorAddGrid").data("kendoGrid").dataSource.read(); //TODO DO this?
				$("#CompetitorGrid").data("kendoGrid").dataSource.read();
				//alert(data); //TODO SHOW MESSAGE ??
			});

		}
	};
	
	$(function () {
		$("#SearchTextAddCompetitor").keyup(function (e) {
			CompAdd.ApplyCompetitorAddFilters();
		});


	});
</script>

<div class="fieldset">
	<div class="legend">Add Competitor</div>
	<div class="info">
		<div class="search-bar" style="padding-top: 0;">
			<span class="k-textbox k-space-left" style="width:290px; vertical-align: top;">
				<input id="SearchTextAddCompetitor" type="text" placeholder="Search Name (min. 2 chars)..." style="width:265px;" class="noDirtyFlag"/>
				<span class="k-icon k-i-search">&nbsp;</span>
			</span>
		</div>
		<div class="users-grid" style="height: 130px;">
		
		@(Html.Kendo().Grid<Competitor>()
		      .Name("CompetitorAddGrid" )
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.Name).Title("Name");
					  columns.Bound(c => c.City).Width(120);
					  columns.Bound(c => c.State).Width(90).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.ZipCode).Width(70).HtmlAttributes(new { @class = "centered-column" });
					  columns.Command(c => c.Custom("Add").Click("CompAdd.addCompetitor")).Width(90);

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("CompetitorAddEditGrid", "Admin", new { accountID = ViewBag.AccountID })) //TODO what parameters do we need here??
		                          .PageSize(100)
								  .Model(model => model.Id(a => a.ID))
								  .ServerOperation(true))
		      .Sortable()
		      .Resizable(r => r.Columns(false))
		      .Selectable()
		      .Scrollable(s => s.Height("100px").Virtual(true))
		      .Pageable(p =>
				{
					p.Enabled(true);
					p.Refresh(false);
					p.Numeric(false);
					p.PreviousNext(false);
					//p.PageSizes(true);
					p.Messages(m => m.Display("{2} Total Competitors").Empty("No Competitors found.").ItemsPerPage("Competitors per page"));

				})
			  
		      .AutoBind(true)
			  )

	</div>
	</div>
</div>

