﻿@using SI.Services.Admin.Models

<script>

	function gpageDataBound() {
		$(".gpage-select").click(function() {
			if (SIGlobal.facebookAccountSelectCallback != null)
				SIGlobal.facebookAccountSelectCallback($(this).data("id"), $(this).data("url"), "google");
		});
	}

	function gPagecodeData() {
		return { code: '@ViewBag.GoogleCode' };
	}
</script>

<script type="text/x-kendo-tmpl" id="gpageTemplate">
	<tr class='fbAccount'>
		<td><img src="#=ImageUrl#" /></td>
		<td><span class="name">#=Name#</span></td>
		<td style='width:90px;text-align: right;'><button data-id="#=PageID#" data-url="#=Website#" class="k-button gpage-select" type="button"><span class="k-icon k-update"></span>Select</button></td>
	</tr>
</script>

<div class="fbAccount-picker" >
	<h3>Google Pages</h3>
	<h4>
		Please select one page from the list below for your dealerships Google Plus page.<br/>
		If you do not see any pages, please log out of Google Plus and login with an account that has access to business pages.
	</h4>
	<div class="pages-list" >
		@(Html.Kendo().ListView<GooglePageList>()
			  .Name("GooglePageListView")
			  .TagName("table")
			  .HtmlAttributes(new { style="height: 60px;" })
			  .ClientTemplateId("gpageTemplate")
			  .DataSource(data => data.Read(read => read.Action("AdminGooglePages", "Admin", new { area = "Admin" }).Data("gPagecodeData")))
			  .Events(e => e.DataBound("gpageDataBound"))
			  )
	</div>
</div>

	