﻿
<script src="~/Areas/Admin/Views/Shared/_ProductsEdit.min.js"></script>
<script>
	ProductEdit.AccountID = '@(ViewBag.AccountID)';
</script>

<div class="users-edit">
	
	<div class="button-bar">
		<h3>Product Selection</h3>
	</div>
	<div class="search-bar">
		@(Html.Kendo().DropDownList() 
		      .Name("ProductSelect")
		      .DataTextField("Name")
		      .DataValueField("ResellerID_PackageID")
		      .OptionLabel("Select Product...")
			  .HtmlAttributes(new { @class="noDirtyFlag", style = "width:320px;"})
		      .DataSource(ds => ds.Read(read => read.Action("ProductList", "Admin", new { area = "Admin", accountID = @ViewBag.AccountID })))
			  )
		&nbsp;
		<button id="AddProductButton" class="k-button" type="button"><span class='k-icon k-i-plus'></span> Add Product&nbsp;
			<span id="LoadingIconSavePE" style="padding-left: 5px; display: none;">
				<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
			</span>
		</button>
	</div>
	<div class="users-grid" >
		
		@(Html.Kendo().Grid<Products>()
		      .Name("ProductsGrid")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.Name).Title("Product");
				      columns.Bound(c => c.AddedDate).Title("Added").Format("{0:d}").Width(90).HtmlAttributes(new { @class = "centered-column" });
				      columns.Command(c =>
					      {
							  c.Custom("Configure").Click("ProductEdit.productConfig");
							  c.Custom("Remove").Click("ProductEdit.productRemove");
					      }).Width(180);
			      })
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("ProductsEditGrid", "Admin", new { accountID = ViewBag.AccountID }))
		                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      .Selectable()
		      .Scrollable(s => s.Height("225px"))
		      .Pageable(p => p.Enabled(false))
		      
			  )

	</div>
	<div>
		<span id="resultsAddPE" class="update-timestamp" ></span>
	</div>
	
</div>

<script>
	$(function () {
		ProductEdit.Init();
	});
</script>