﻿
<script src="~/Areas/Admin/Views/Shared/_SubAccountExistingEdit.min.js"></script>
<script>
	SubAccountExisting.AccountID = '@ViewBag.AccountID';
</script>


<div class="fieldset">
	<div class="legend">Add Existing Company as Sub-Account</div>
	<div class="info">
		<div class="search-bar" style="padding-top: 0;">
			<span class="k-textbox k-space-left" style="width:290px; vertical-align: top;">
				<input id="SearchTextAccountExist" type="text" placeholder="Search Name and City (min. 2 chars)..." style="width:265px;" class="noDirtyFlag"/>
				<span class="k-icon k-i-search">&nbsp;</span>
			</span>
			<span id="LoadingIconSaveSAEE" style="padding-left: 5px; display: none;">
				<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
			</span>
		</div>
		<div class="users-grid" style="height: 130px;">
		
		@(Html.Kendo().Grid<SubAccount>()
		      .Name("AccountExistGrid" )
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.Name).Title("Name");
					  columns.Bound(c => c.City).Width(120);
					  columns.Bound(c => c.State).Width(90).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.ZipCode).Width(70).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.Partner).Sortable(false);
					  columns.Command(c => c.Custom("Add").Click("SubAccountExisting.AddExistingAccount")).Width(90);

			      })
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("SubAccountExistingEditGrid", "Admin", new { accountID = ViewBag.AccountID})) //TODO what parameters do we need here??
		                          .PageSize(100)
								  .Model(model => model.Id(a => a.ID))
								  .ServerOperation(true))
		      .Sortable()
		      .Resizable(r => r.Columns(true))
		      .Selectable()
		      .Scrollable(s => s.Height("100px").Virtual(true))
		      .Pageable(p =>
				{
					p.Enabled(true);
					p.Refresh(false);
					p.Numeric(false);
					p.PreviousNext(false);
					//p.PageSizes(true);
					p.Messages(m => m.Display("{2} Total Accounts").Empty("No Accounts found.").ItemsPerPage("Accounts per page"));

				})
			  
		      .AutoBind(false)
			  )

	</div>
	</div>
</div>

<script>
	$(function () {
		SubAccountExisting.Init();

	});
</script>