﻿
<script src="~/Areas/Admin/Views/Shared/_SubAccountsEdit.min.js"></script>
<script>
	SubAccounts.AccountID = '@(ViewBag.AccountID)';
</script>

<div class="users-edit">
	<div class="button-bar">
		<h3>Sub-Accounts</h3>
		<h4>Only companies that are currently not attached to other companies will be searchable.</h4>
		
	</div>
	
	<div id="SubAccountEdit">
		<div class="search-bar">
			<span class="k-textbox k-space-left" style="width:290px;">
				<input id="SearchTextSubA" type="text" placeholder="Search Name and City..." style="width:265px;" class="noDirtyFlag"/>
				<span class="k-icon k-i-search">&nbsp;</span>
			</span>
			@if ((bool) ViewBag.CanAddChildren)
			{
				<div style="display: inline-block; position: absolute; right: 20px;">
					<button id="AddAccountSub" class="k-button" type="button"><span class="k-icon k-i-plus"></span> Add New Account</button>
				</div>
			}
		</div>
		<div class="users-grid" style="height: 184px;">
		
			@(Html.Kendo().Grid<SubAccount>()
			      .Name("SubAccountGrid")
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.Name);
					      columns.Bound(c => c.City).Width(140);
					      columns.Bound(c => c.State).Width(60).HtmlAttributes(new { @class = "centered-column" });
					      columns.Bound(c => c.ZipCode).Width(70).HtmlAttributes(new { @class = "centered-column" });
					      columns.Command(c =>
						      {
							      c.Custom("Detach").Click("SubAccounts.accountDetach");
						      }).Width(90);
				      
				      })
			      .DataSource(ds => ds.Ajax()
			                          .Read(read => read.Action("SubAccountEditGrid", "Admin", new { accountID = ViewBag.AccountID }))
			                          .Model(model => model.Id(a => a.ID))
			                          .ServerOperation(true)
			                          .PageSize(100))
			      .Sortable()
			      .Resizable(r => r.Columns(true))
			      .Selectable()
			      .Scrollable(s => s.Height("160px").Virtual(true))
			      .Pageable(p => p.Enabled(false))
				  )

		</div>
		@if ((bool) ViewBag.CanAddChildren)
		{
			<div class="edit-section">
				<div id="AddExistingAccount">
					@Html.Partial("_SubAccountExistingEdit")
				</div>
			</div>
		}
	</div>
	<div id="AddAccountPartial"></div>
	
</div>

<script>
	$(function () {
		SubAccounts.Init();
	});

</script>