﻿@model UserDetailEmailedReports

<script>
	var altRow = false;
	var altRow2 = false;
	
	function recentDataBound(e) {
		$("#RecentEmailReports .ico-worldgo").click(function() {
			ShowDetailsWindow($(this).data("id"), 0);
		});
	}

	function configDataBound(e) {
		$("#ReportConfig .emlConfigEnabled").click(function () {
			$(this).data("dirty", "true");
		});
	}

</script>

<script type="text/x-kendo-tmpl" id="config-eml-template">
	<tr #if(altRow){# class='k-alt' #}# #altRow =! altRow;# >
		<td class='name-cell'>#=Name#</td>
		<td style='text-align: center;'>
			<input class='emlConfigEnabled' type='checkbox' #if(Enabled){# checked='checked' #}# data-id='#=ReportTemplateID#' data-subid='#=ReportSubscriptionID#' data-spec='#=ScheduleSpec#' data-dirty='false'></input>
		</td>	
	</tr>
</script>


<script type="text/x-kendo-tmpl" id="recent-eml-template">
	<tr #if(altRow2){# class='k-alt' #}# #altRow2 =! altRow2;# >
		<td class='date-cell'>#=kendo.format('{0:M-dd-yyyy}', DateNotified)#</td>
		<td class='type-cell'>#=Name#</td>
		<td style='text-align: center;'>
			<span class='k-icon ico-worldgo' data-id='#=ReportLogID#' style='cursor: pointer;' title='View Emailed Report'></span>
		</td>
	</tr>
</script>


<div class="userdetails-notif">
	
	<div class="config-items">
		<div class="section">
			<h6>Configuration</h6>
			<table>
				<tr><th class="name-cell">Report Name</th><th>Enabled</th></tr>
			</table>
		</div>
		<div class="items-scroll">
			@(Html.Kendo().ListView<UserDetailsReportConfig>()
			      .Name("ReportConfig")
			      .TagName("table")
			      .ClientTemplateId("config-eml-template")
				  .BindTo(Model.ReportConfigs)
				  .Events(e => e.DataBound("configDataBound"))
				  )
		</div>
		
	</div>
	<div class="config-items" style="margin-left: 20px;">
		<div class="section">
			<h6>Recent Emailed Reports</h6>
			<table>
				<tr><th class="date-cell">Date</th><th class="type-cell">Type</th><th>View</th></tr>
			</table>
		</div>
		<div class="items-scroll">
			@(Html.Kendo().ListView<UserDetailsRecentReports>()
			      .Name("RecentEmailReports")
			      .TagName("table")
			      .ClientTemplateId("recent-eml-template")
				  .BindTo(Model.RecentReports)
				  .Events(e => e.DataBound("recentDataBound"))
				  )
		</div>
		
	</div>
	<div class="fcl"></div>
</div>