﻿@using SI.Services.Admin.Models
@model string 

<script>

	var UserExistingEdit@(Model) = {
		keyupTimer: null,
        accountFilterChange: function(e) {
        	UserExistingEdit@(Model).ApplyExistingFilters();
        },

        ApplyExistingFilters: function() {
            var filterObj = [];
            var search = $("#SearchTextExist" + "@Model").val();
	        
            if (search != null && search != "") {
                var multiFilterObj = { logic: "or", filters: [] };
                multiFilterObj.filters.push({ field: "LastName", operator: "startswith", value: search });
                multiFilterObj.filters.push({ field: "Email", operator: "contains", value: search });
                filterObj.push(multiFilterObj);
            }

            			@*var accounts = $("#AccountFilter" + "@Model").data("kendoMultiSelect").value();
			if (accounts != null && accounts.length > 0) {
				if (accounts.length == 1) {
					filterObj.push({ field: "AccountID", operator: "eq", value: accounts[0] });
				} else {
					var multiFilterObj = { logic: "or", filters: [] };
					for (var idx = 0; idx < accounts.length; idx++) {
						multiFilterObj.filters.push({ field: "AccountID", operator: "eq", value: accounts[idx] });
					}
					filterObj.push(multiFilterObj);
				}
			}*@
            $('#UsersAccessExistGrid' + '@Model').data("kendoGrid").dataSource.filter(filterObj);
        },

        AddExistingUser: function(e) {
        	//check role selection
            var role = $('#Role' + '@Model').data("kendoDropDownList").value();
            if (role == '') {
                SIGlobal.alertDialog("Required", "Please select the Role the User will have in the Account and if Cascade Locations.");
                return;
            }

            kendo.ui.progress($("#UsersAccessExistGrid" + '@Model'), true);
            var data = this.dataItem(this.select());
            var access = $("#UserEditMode").val() == "access";
            var url = '@Url.Action("UserAddExistingUser", "Admin", new { area = "Admin"})';
            var addData = { userID: data.UserID, accountID: '@ViewBag.AccountID', roleID: role, cascade: $("#CascadeRole" + '@Model').prop("checked"), access: access };
        	$.post(url, addData, function (data) {
        		kendo.ui.progress($("#UsersAccessExistGrid"  + '@Model' ), false);
        		if (data.success) {
        			$('#Role' + '@Model').data("kendoDropDownList").value("");
        			$("#CascadeRole" + '@Model').prop("checked", false);
        			$("#UsersAccessExistGrid" + '@Model').data("kendoGrid").dataSource.read();
        			$("#" + '@Model').data("kendoGrid").dataSource.read();
        		} else {
        			SIGlobal.alertDialog("User Add", data.message);
        		}
        	});
        }
    };
	
	$(function () {
		$("#SearchTextExist" + "@Model").keyup(function (e) {
			if (UserExistingEdit@(Model).keyupTimer != null)
				clearTimeout(UserExistingEdit@(Model).keyupTimer);
			
			UserExistingEdit@(Model).keyupTimer = setTimeout(function () {
				UserExistingEdit@(Model).ApplyExistingFilters();
			}, 500);			

		});
	});

</script>

<div class="fieldset">
	<div class="legend">Add Existing User</div>
	@Html.Hidden("UserEditMode", "")
	<div class="info">
		<div class="search-bar" style="padding-top: 0;">
			<span class="k-textbox k-space-left" style="width:290px; vertical-align: top;">
				<input id="SearchTextExist@(Model)" type="text" placeholder="Search Last Name and Email ..." style="width:265px;" class="noDirtyFlag"/>
				<span class="k-icon k-i-search">&nbsp;</span>
			</span>
			&nbsp;
			<div style="display: inline-block; vertical-align: top;">
				@*@(Html.Kendo().MultiSelect()
					.Name("AccountFilter" + @Model)
					.Placeholder("Filter by Accounts...")
					.DataTextField("Name")
					.DataValueField("ID")
					.HtmlAttributes(new { @class="noDirtyFlag", style = "width:320px;"})
					.DataSource(ds => ds.Read(read => read.Action("UserExistAccountList", "Admin", new { area = "Admin" })))
					.Events(e => e.Change("UserExistingEdit.accountFilterChange"))
					.AutoBind(false)
				 )*@
				                          
				@(Html.Kendo().DropDownList()                                 
						.Name("Role" + @Model)
						.HtmlAttributes(new {style = "width:175px;"})
						.DataTextField("Name")
						.DataValueField("ID")
						.AutoBind(true)
						.OptionLabel("Select Role in Account...")
                        .DataSource(ds => ds.Read(read => read.Action("RoleTypeList", "Admin", new { area = "Admin" })))                                                                    
						)
				&nbsp;
				@Html.CheckBoxWithLabel("CascadeRole" + Model, "Cascade Locations")
			</div>
		</div>
		<div class="users-grid" style="height: 95px;">
		
			@(Html.Kendo().Grid<UserEdit>()
			      .Name("UsersAccessExistGrid" + @Model )
			      .Columns(columns =>
				      {
					      columns.Bound(c => c.LastName).Title("Name").ClientTemplate("#=FirstName# #=LastName#");
					      columns.Bound(c => c.Email);
					      columns.Bound(c => c.RoleName).Title("Role").HtmlAttributes(new { @class = "centered-column" }).Width(80);
                          columns.Bound(c => c.AccountName).Title("Account").Width(150); 
						  columns.Command(c => c.Custom("Add").Click("UserExistingEdit"+ Model + ".AddExistingUser")).Width(90);

				      })
			      .DataSource(ds => ds.Ajax()
			                          .Read(read => read.Action("UsersExistAccessEditGrid", "Admin", new { accountID = ViewBag.AccountID, mode = Model })) 
			                          .Model(model => model.Id(a => a.UserID)).ServerOperation(true))
			      .Sortable()
			      .Resizable(r => r.Columns(true))
			      .Selectable()
			      .Scrollable(s => s.Height("95px"))
			      .Pageable(p => p.Enabled(false))
			  
			      .AutoBind(false)
				  )

		</div>

	</div>
</div>

