﻿@model UserDetailsNotifications

<script>
	var altRow = false;
	var altRow2 = false;
	
	function recentNotiDataBound(e) {
		$("#RecentNotification .ico-worldgo").click(function () {
			ShowDetailsWindow(0, $(this).data("id"));
		});
	}

	function configNotiDataBound(e) {
		$("#NotificationConfig .notifConfigEnabled").click(function () {
			$(this).data("dirty", "true");
		});
	}

</script>

<script type="text/x-kendo-tmpl" id="config-template">
	<tr #if(altRow){# class='k-alt' #}# #altRow =! altRow;# >
		<td class='name-cell'>#=Name# (#=Method#)</td>
		<td style='text-align: center;'>
			<input class='notifConfigEnabled' type='checkbox' #if(Enabled){# checked='checked' #}# #if(!CanSubscribe){# disabled='disabled' #}# data-id='#=UserID#' data-type='#=Type#' data-method='#=Method#' data-dirty='false'></input>
		</td>	
	</tr>
</script>


<script type="text/x-kendo-tmpl" id="recent-template">
	<tr #if(altRow2){# class='k-alt' #}# #altRow2 =! altRow2;# >
		<td class='date-cell'>#=kendo.format('{0:M-dd-yyyy}', DateNotified)#</td>
		<td class='type-cell'>#=Name#</td>
		<td style='text-align: center;'>
			<span class='k-icon ico-worldgo' data-id='#=NotificationTargetID#' style='cursor: pointer;' title='View Notification'></span>
		</td>
	</tr>
</script>


<div class="userdetails-notif">
	
	<div class="config-items">
		<div class="section">
			<h6>Configuration</h6>
			<table>
				<tr><th class="name-cell">Name</th><th>Enabled</th></tr>
			</table>
		</div>
		<div class="items-scroll">
			@(Html.Kendo().ListView<UserDetailsNotificationConfig>()
			      .Name("NotificationConfig")
			      .TagName("table")
			      .ClientTemplateId("config-template")
				  .BindTo(Model.NotificationConfigs)
				  .Events(e => e.DataBound("configNotiDataBound"))
				  )
		</div>
		
	</div>
	<div class="config-items" style="margin-left: 20px;">
		<div class="section">
			<h6>Recent Notifications</h6>
			<table>
				<tr><th class="date-cell">Date</th><th class="type-cell">Type</th><th>View</th></tr>
			</table>
		</div>
		<div class="items-scroll">
			@(Html.Kendo().ListView<UserDetailsRecentNotifications>()
			      .Name("RecentNotification")
			      .TagName("table")
			      .ClientTemplateId("recent-template")
				  .BindTo(Model.RecentNotifications)
				  .Events(e => e.DataBound("recentNotiDataBound"))
				  )
		</div>
		
	</div>
	<div class="fcl"></div>
</div>