﻿@model List<UserDetailActivityList>

<style>
    .k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
        padding: 1px !important;
    }
</style>

<div>

    @(Html.Kendo().Grid(Model)
        .Name("ActivityGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.ActivityDate).Format("{0:M/d/yyyy h:mm tt}").Width(160);
            columns.Bound(p => p.Activity);
            columns.Bound(p => p.AccountName);
        })
        .Sortable()
        .Scrollable(scr => scr.Height(156))
        .Filterable()
        .Resizable(r => r.Columns(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .ServerOperation(false)
         )
    )





</div>