﻿@using SI.Services.Admin.Models

<script>

	function gpageDataBound() {
		$(".ytchannel-select").click(function() {
			if (SIGlobal.facebookAccountSelectCallback != null)
				SIGlobal.facebookAccountSelectCallback($(this).data("id"), "", $(this).data("url"), "youtube");
		});
	}

	function ytChannelcodeData() {
		return { code: '@ViewBag.YouTubeCode' };
	}
</script>

<script type="text/x-kendo-tmpl" id="gpageTemplate">
	<tr class='fbAccount'>
		<td><img src="#=ImageUrl#" /></td>
		<td><span class="name">#=Name#</span></td>
		<td style='width:90px;text-align: right;'><button data-id="#=PageID#" data-url="#=Website#" class="k-button ytchannel-select" type="button"><span class="k-icon k-update"></span>Select</button></td>
	</tr>
</script>

<div class="fbAccount-picker" >
	<h3>YouTube Channels</h3>
	<h4>
		Please select one channel from the list below for your dealerships YouTube channel.<br/>
		If you do not see any channels, please log out of YouTube and login with an account that has access to business pages.
	</h4>
	<div class="pages-list" >
		@(Html.Kendo().ListView<YouTubePageList>()
			  .Name("YouTubeChannelListView")
			  .TagName("table")
			  .HtmlAttributes(new { style="height: 60px;" })
			  .ClientTemplateId("gpageTemplate")
			  .DataSource(data => data.Read(read => read.Action("AdminYouTubeChannels", "Admin", new { area = "Admin" }).Data("ytChannelcodeData")))
			  .Events(e => e.DataBound("gpageDataBound"))
			  )
	</div>
</div>

	