﻿@model SI.WEB.Portal.PlatformTemplates.Models.Welcome


<div class="platform-messages">
	<div class="fieldset">
		<div class="legend">@Model.Title</div>
		<div class="info">
			<div>
				<img src='@(Model.AssetImagePath + "approve_post.png")'/>
			</div>
			@Raw(Model.Body)
		</div>
	</div>
</div>
	
