﻿html, body {
	font-size: 12px !important;
	font-family: sans-serif !important;
}

.k-grid {
	border-top-width: 0;
}

.k-grid table {
	font-size: 12px !important;
}

.k-grid, .k-grid-content {
	height: auto !important;
}

	.k-grid-content td {
		text-align: center;
	}

	.k-grid .k-grid-header th {
		border-top: 1px solid;
		white-space: inherit !important;
		text-overflow: inherit !important;
		text-align: center;
	}

	.k-grid .k-grid-header {
		white-space: inherit !important;
		text-overflow: inherit !important;
	}

.k-grid-header .k-header {
	white-space: inherit !important;
	text-overflow: inherit !important;
}

	.k-grid-header .k-header > .k-link {
		white-space: inherit !important;
		text-overflow: inherit !important;
		overflow: visible !important;
	}

.k-grid-toolbar, .k-grid-pager > .k-link {
	display: none;
}

.k-grid-content-locked {
	height: auto !important;
	float: left;
}

.k-grid-content {
	height: auto !important;
	float: left;
}

a {
	text-decoration: none;
}

div {
	overflow: inherit !important;
}
