.admin-accounts {
  margin-top: 8px;
}
.admin-accounts .account-grid {
  margin-top: 8px;
  /*td {
			vertical-align: top;
			//border-left: none;
		}*/
}
.admin-accounts .account-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.admin-accounts .account-grid .k-link {
  color: #555;
}
.admin-accounts .account-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.admin-accounts .account-grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
}
.admin-accounts .account-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.admin-accounts .account-grid .vert-centered-column {
  vertical-align: middle;
}
.admin-accounts .account-grid .account-name {
  font-weight: bold;
}
.admin-accounts .account-grid .account-filter {
  display: inline-block;
}
.admin-accounts .account-grid .k-button {
  min-width: 40px !important;
}
.admin-accounts .account-grid .external-id {
  font-style: italic;
}
.admin-account-edit {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.admin-account-edit input {
  margin-bottom: 0 !important;
}
.admin-account-edit table {
  width: 100%;
}
.admin-account-edit td {
  padding: 2px;
  vertical-align: middle;
}
.admin-account-edit .form-label {
  text-align: right;
}
.admin-account-edit hr {
  border-width: 1px;
  border-color: #ddd;
}
.admin-account-edit h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.admin-account-edit h4 {
  font-size: 12px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 14px !important;
  margin: 3px 8px !important;
  color: #898989;
  font-weight: normal;
}
.admin-account-edit .left-panel-menu {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  width: 170px;
  height: 98%;
  float: left;
  border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 2px solid #888;
  padding: 3px;
}
.admin-account-edit .right-panel-edit {
  width: 78%;
  height: 98%;
  float: left;
  padding: 3px;
  background-color: #F8F8FA;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-radius: 0px 5px 5px 0px;
}
.admin-account-edit .close-window-button {
  position: absolute;
  bottom: 15px;
  margin-left: 26px;
  display: inline-block;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #888888;
  border-left: solid 1px #888888;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  cursor: pointer;
}
.admin-account-edit .k-menu {
  border-radius: 3px 3px 3px 3px;
  font-family: 'PlanerRegular', verdana;
  font-size: 13px;
  font-weight: bold;
}
.admin-account-edit .k-item {
  border-radius: 3px 3px 3px 3px;
}
.admin-account-edit .location-edit {
  padding: 3px;
  overflow-y: auto;
  height: 455px;
}
.admin-account-edit .location-edit label {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 12px;
}
.admin-account-edit .location-edit table {
  margin-top: 6px;
}
.admin-account-edit .location-edit input[type="text"] {
  width: 190px;
}
.admin-account-edit .location-edit .fbAccount-picker {
  margin-top: 6px;
}
.admin-account-edit .location-edit .fbAccount-picker .pages-list {
  height: 300px;
  overflow-y: auto;
  padding: 2px;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView {
  padding: 4px;
  min-height: 40px;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView tr {
  margin-bottom: 8px;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView td {
  padding: 2px 5px;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView .fbAccount {
  border-bottom: 2px solid #bbb;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView .fbAccount img {
  margin-right: 10px;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView .fbAccount .name {
  font-weight: bold;
}
.admin-account-edit .location-edit .fbAccount-picker #FBAccountListView .fbAccount button {
  margin: 0;
}
.admin-account-edit .update-timestamp {
  color: #666;
  font-weight: normal;
  padding: 0 10px;
  font-size: 11px;
}
.admin-account-edit .ico {
  display: inline-block;
}
.admin-account-edit .users-edit {
  padding: 3px;
}
.admin-account-edit .users-edit .search-bar {
  padding-top: 5px;
}
.admin-account-edit .users-edit .search-bar label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
  font-size: 12px;
}
.admin-account-edit .users-edit .users-grid {
  margin-top: 3px;
  margin-bottom: 20px;
  height: 225px;
}
.admin-account-edit .users-edit .users-grid .action-dropdown .menu {
  border-radius: 4px;
}
.admin-account-edit .users-edit .users-grid .action-dropdown .menu ul {
  border-radius: 4px;
}
.admin-account-edit .users-edit .users-grid .action-dropdown .menu li {
  width: 100%;
  border-right: none;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.admin-account-edit .users-edit .users-grid .action-dropdown .menu li a:hover {
  text-decoration: none;
}
.admin-account-edit .users-edit .users-grid .action-dropdown .menu li .k-link {
  padding: 2px 8px;
}
.admin-account-edit .users-edit .users-grid .k-grid-select {
  padding: 0;
}
.admin-account-edit .users-edit .users-grid .k-grid-Add,
.admin-account-edit .users-edit .users-grid .k-header {
  padding: 0 !important;
}
.admin-account-edit .users-edit .users-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
}
.admin-account-edit .users-edit .users-grid td {
  vertical-align: top;
}
.admin-account-edit .users-edit .users-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.admin-account-edit .users-edit .users-grid .k-link {
  color: #555;
}
.admin-account-edit .users-edit .users-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.admin-account-edit .users-edit .users-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.admin-account-edit .users-edit .edit-section .fieldset {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #7d7d7d;
  -moz-box-shadow: 0px 1px 3px #7d7d7d;
  box-shadow: 0px 1px 3px #7d7d7d;
  margin: 6px 2px;
  padding: 4px;
  border: 1px solid silver;
  height: 100%;
  background-color: #f8f8fa;
}
.admin-account-edit .users-edit .edit-section .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.admin-account-edit .users-edit .edit-section .info {
  padding: 0 4px 4px 4px;
}
.admin-account-edit .users-edit .edit-section .info input {
  margin-right: 4px;
}
.admin-account-edit .users-edit .edit-section .info label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
}
.admin-account-edit .product-config {
  padding: 3px;
}
.admin-account-edit .product-config .k-tabstrip {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.admin-account-edit .product-config .k-tabstrip .k-link {
  font-family: 'PlanerRegular', verdana;
  font-size: 14px !important;
  font-weight: bold;
}
.admin-account-edit .product-config .k-tabstrip .k-content {
  border-radius: 0 3px 3px 3px;
  box-shadow: 2px 2px 3px #AAAAAA;
  padding-left: 2px;
  padding-right: 2px;
}
.admin-account-edit .product-config .configTabs {
  background-color: #F8F8FA !important;
  background-image: none;
  border: medium none;
  height: 100%;
  width: 100%;
}
.admin-account-edit .product-config .config-section {
  height: 390px;
  overflow-y: auto;
  width: 100%;
  padding-top: 4px;
  position: relative;
}
.admin-account-edit .product-config .config-section .link-item {
  padding: 2px 0 2px 0;
}
.admin-account-edit .product-config .config-section .link-item label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 3px;
  font-size: 12px;
  line-height: 15px;
}
.admin-account-edit .product-config .config-section .link-item input {
  font-size: 12px;
  line-height: 15px;
  padding: 2px 3px;
  height: 18px;
}
.admin-account-edit .product-config .config-section .link-item .actions {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
.admin-account-edit .product-config .config-section .link-item .actions span {
  padding: 0 3px;
}
.admin-account-edit .product-config .config-section .link-item .actions .linkItemAutoPop,
.admin-account-edit .product-config .config-section .link-item .actions .linkItemBrowser {
  cursor: pointer;
}
.admin-account-edit .product-config .config-section .link-item .clearable {
  position: relative;
}
.admin-account-edit .product-config .config-section .link-item .clearable .link-field {
  padding-right: 17px;
}
.admin-account-edit .product-config .config-section .link-item .clearable .iconclear {
  position: absolute;
  right: 10px;
  top: 3px;
  display: none;
  cursor: pointer;
  font: bold 1em sans-serif;
  color: #38468F;
}
.admin-account-edit .product-config .config-section .link-item .clearable .iconclear:hover {
  color: #f52;
}
.admin-account-edit .product-config .config-section .save-section {
  text-align: right;
  margin-top: 12px;
  margin-right: 20px;
}
.admin-account-edit .product-config .config-section #SocialConfigListView.k-widget {
  border: none;
  background-color: #F8F8FA;
}
.admin-account-edit .product-config .config-section .fieldset {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 2px #7d7d7d;
  -moz-box-shadow: 0px 1px 2px #7d7d7d;
  box-shadow: 0px 1px 2px #7d7d7d;
  margin: 20px 6px;
  padding: 4px;
  border: 1px solid silver;
  background-color: #f8f8fa;
}
.admin-account-edit .product-config .config-section .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  height: 24px;
}
.admin-account-edit .product-config .config-section .fieldset .legend span {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.admin-account-edit .product-config .config-section .info {
  padding: 0 4px 4px 4px;
}
.admin-account-edit .product-config .config-section .info input {
  margin-right: 4px;
}
.admin-account-edit .product-config .config-section .info label {
  display: inline-block;
}
.admin-account-edit .product-config .config-section .info .status {
  display: inline-block;
  margin-bottom: 4px;
}
.admin-account-edit .product-config .config-section img {
  margin-right: 10px;
}
.admin-account-edit .product-config .config-section button {
  margin-left: 10px;
}
.admin-account-edit .product-config .config-section h4 {
  font-size: 1.2em !important;
  color: #555;
}
.admin-account-edit .product-config .config-section .syndication-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.admin-account-edit .product-config .config-section .syndication-grid .source {
  font-weight: bold;
}
.admin-account-edit .product-config .config-section .syndication-grid .description {
  color: #555;
}
.admin-account-edit .product-config .config-section .syndication-grid .k-link {
  color: #555;
}
.admin-account-edit .product-config .config-section .syndication-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.admin-account-edit .product-config .config-section .syndication-grid .k-grid td {
  overflow: visible;
  border: none;
}
.admin-account-edit .product-config .config-section .syndication-grid .k-grid-Add,
.admin-account-edit .product-config .config-section .syndication-grid .k-header {
  padding: 0 !important;
}
.admin-account-edit .product-config .config-section .syndication-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.admin-account-edit .product-config .config-section .syndication-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
}
.admin-account-edit .product-config .config-section .syndication-grid td {
  vertical-align: top;
}
.admin-account-edit .product-config .config-section .syndication-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.admin-account-edit .inventory-config {
  padding: 3px;
}
.admin-account-edit .inventory-config label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  margin-right: 10px;
  width: 96px;
  font-size: 12px;
}
.admin-account-edit .inventory-config input {
  margin-right: 4px;
}
.admin-account-edit .account-settings {
  padding: 3px;
}
.admin-account-edit .account-settings label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  margin-right: 10px;
  width: 200px;
  font-size: 12px;
  vertical-align: middle;
}
.admin-account-edit .account-settings input {
  margin-right: 4px;
}
.admin-account-edit .alerts-config {
  padding: 3px;
}
.admin-account-edit .alerts-config .action-bar {
  padding-top: 5px;
}
.admin-account-edit .alerts-config .action-bar label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: middle;
  font-size: 12px;
}
.admin-account-edit .alerts-config .alerts-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.admin-account-edit .alerts-config .alerts-grid .k-link {
  color: #555;
}
.admin-account-edit .alerts-config .alerts-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.admin-account-edit .alerts-config .alerts-grid .k-grid-Add,
.admin-account-edit .alerts-config .alerts-grid .k-header {
  padding: 0 !important;
}
.admin-account-edit .alerts-config .alerts-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.admin-account-edit .alerts-config .alerts-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
}
.admin-account-edit .alerts-config .alerts-grid td {
  vertical-align: top;
}
.admin-account-edit .alerts-config .alerts-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.virtualgroup-edit {
  padding: 3px;
  margin-top: 8px;
}
.virtualgroup-edit .search-bar {
  margin-bottom: 6px;
}
.virtualgroup-edit .search-bar label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
  font-size: 12px;
}
.virtualgroup-edit .arrow {
  margin: 8px;
  padding: 2px;
  cursor: pointer;
}
.virtualgroup-edit .virtualgroup-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.virtualgroup-edit .virtualgroup-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.virtualgroup-edit .virtualgroup-grid .k-link {
  color: #555;
}
.virtualgroup-edit .virtualgroup-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.virtualgroup-edit .virtualgroup-grid td {
  vertical-align: top;
}
.virtualgroup-edit .virtualgroup-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.virtualgroup-edit .edit-section {
  padding-top: 6px;
}
.virtualgroup-edit .edit-section .fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 6px 2px;
  padding: 4px;
  border: 1px solid silver;
  height: 100%;
  background-color: #f8f8fa;
}
.virtualgroup-edit .edit-section .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.virtualgroup-edit .edit-section .info {
  padding: 0 4px 2px 4px;
}
.virtualgroup-edit .edit-section .info input {
  margin-right: 4px;
  margin-bottom: 4px;
}
.virtualgroup-edit .edit-section .info label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
}
.admin-users {
  margin-top: 8px;
  position: relative;
}
.admin-users .users-grid {
  margin-top: 8px;
}
.admin-users .users-grid .action-dropdown .menu {
  border-radius: 4px;
}
.admin-users .users-grid .action-dropdown .menu ul {
  border-radius: 4px;
}
.admin-users .users-grid .action-dropdown .menu li {
  width: 100%;
  border-right: none;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
}
.admin-users .users-grid .action-dropdown .menu li a:hover {
  text-decoration: none;
}
.admin-users .users-grid .action-dropdown .menu li .k-link {
  padding: 2px 8px;
}
.admin-users .users-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.admin-users .users-grid .k-link {
  color: #555;
}
.admin-users .users-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.admin-users .users-grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
}
.admin-users .users-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.admin-users .users-grid .vert-centered-column {
  vertical-align: middle;
}
.admin-users .users-grid .user-filter {
  display: inline-block;
}
.admin-users .users-grid .details-button {
  text-align: right;
  width: 860px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.admin-users .users-grid .details-tab {
  min-height: 220px;
  margin-top: 4px;
  width: 860px;
}
.admin-users .users-grid .details-tab .k-widget {
  border: none;
  background-color: transparent !important;
}
.admin-users .users-grid .details-tab .k-header {
  background-color: transparent !important;
  background-image: none !important;
}
.admin-users .users-grid .details-tab .k-tabstrip {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: transparent !important;
}
.admin-users .users-grid .details-tab .k-tabstrip .k-link {
  font-family: 'PlanerRegular', verdana;
  font-size: 13px !important;
  font-weight: bold;
}
.admin-users .users-grid .details-tab .k-tabstrip .k-filterable .k-link {
  font-family: 'Lucida Grande', Verdana, Arial sans-serif;
  font-size: 11px !important;
}
.admin-users .users-grid .details-tab .k-tabstrip .k-grid-header .k-header {
  padding: 3px 4px 2px 4px;
}
.admin-users .users-grid .details-tab .k-tabstrip .k-content {
  border-radius: 0 3px 3px 3px;
  box-shadow: 1px 1px 2px #AAAAAA;
}
.admin-users .users-grid .userdetails-notif {
  margin-top: 4px;
}
.admin-users .users-grid .userdetails-notif .section {
  text-align: center;
  background-color: #eee;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: solid 1px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  border-right: solid 1px #aaaaaa;
  border-bottom: solid 1px #eeeeee;
}
.admin-users .users-grid .userdetails-notif h6 {
  margin: 0;
  padding-top: 2px;
}
.admin-users .users-grid .userdetails-notif .config-items {
  width: 400px;
  float: left;
}
.admin-users .users-grid .userdetails-notif .config-items .name-cell {
  width: 310px;
}
.admin-users .users-grid .userdetails-notif .config-items .type-cell {
  width: 220px;
}
.admin-users .users-grid .userdetails-notif .config-items .date-cell {
  width: 80px;
  text-align: center;
}
.admin-users .users-grid .userdetails-notif .config-items .items-scroll {
  height: 120px;
  overflow-y: auto;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: solid 1px #94c0d2;
  border-left: solid 1px #94c0d2;
  border-right: solid 1px #94c0d2;
  border-bottom: solid 1px #94c0d2;
  border-top-width: 2px;
}
.admin-users .users-grid .userdetails-notif .config-items th {
  font-size: 11px;
}

