/*.dashboard-overview {
	margin-top: 6px;

	.fieldset {
		//.shadowed-rounded-box(4px);
		.rounded(4px);
		margin: 6px 2px;
		padding: 4px;
		border: 1px solid silver;
		width: 100%;
		height: 100%;
		background-color: #f8f8fa;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #333;
			padding: 2px 5px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}

	.reputation-overview {
		margin-top: 18px;
		width: 45%;
		float: left;

		.reputation-filter-links {
			color: #0088CC;
			cursor: pointer;
			font-size: 1.15em;

			&:hover {
				color: #005580;
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.dealer-info {
			width: 100%;

			.info {
				font-size: 1.2em;
				margin: 2px 4px 8px;
				height: 170px;

				td {
					padding: 4px 15px;
					white-space: nowrap;
					text-align: center;
				}

				.dealer-label {
					text-align: left !important;
					font-size: 1.2em;
				}
			}

			.time-frame {
				font-size: .9em;

				a {
					font-size: 1.15em;
					&:hover {
						font-weight: bold;
					}
				}
			}

			.left {
				text-align: left !important;
			}

			.number-dealers {
				font-size: 1.8em;
				text-align: left !important;
			}
		}

		.unread {
			width: 100%;
			margin-top: 20px;
			height: 200px;

			hr {
				border-width: 2px;
				border-color: #ddd;
			}

			.top-section {
				//margin: 5px;
			}

			.total-unread {
				float: left;
				font-size: 5em;
				margin-top: 30px;
				margin-left: 100px;
			}

			.reviews {
				float: right;
				margin-right: 40px;
				margin-bottom: 28px;
				font-size: 1.5em;

				div {
					margin: 10px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}

			.bottom-section {
				margin: 5px;
				padding: 6px;
				font-size: 1.2em;
				width: 100%;
				text-align: center;

				.from-yesterday {
					float: left;
					width: 47%;
				}

				.this-month {
					float: left;
					width: 45%;
					margin-left: 15px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}
		}
	}


	.social-overview {
		float: right;
		width: 52%;
		margin-top: 18px;

		.social-filter-links {
			color: #0088CC;
			cursor: pointer;
			font-size: 1.15em;

			&:hover {
				color: #005580;
				text-decoration: underline;
				font-weight: bold;
			}
		}

		.dealer-info {
			width: 100%;

			.info {
				font-size: 1.1em;
				margin: 2px 6px 8px 4px;
				height: 170px;

				td {
					padding: 3px 2px;
					white-space: nowrap;
				}

				.number-col {
					text-align: right;
				}

				a {
					font-size: 1.15em;
					&:hover {
						font-weight: bold;
					}
				}
			}

			.networks {
				td {
					text-align: center;
					font-size: 1.15em;
					padding: 5px 3px;
					color: #005580;
				}
			}

			.seperator {
				color: #eee;
				font-size: 2.1em;
				padding-right: 0px !important;
			}


			.dealer-label {
				font-size: 1.2em;
			}

			.number-dealers {
				font-size: 1.8em;
			}
		}

		.todoes {
			width: 100%;
			margin-top: 20px;
			height: 200px;

			hr {
				border-width: 2px;
				border-color: #ddd;
			}

			.top-section {
				//margin: 5px;
			}

			.total {
				float: left;
				font-size: 5em;
				margin-top: 30px;
				margin-left: 80px;
			}

			.todo {
				float: right;
				margin-bottom: 15px;
				font-size: 1.5em;

				div {
					margin: 4px;
				}

				span {
					display: inline-block;
					margin: 5px;
					width: 120px;
				}
			}

			.bottom-section {
				margin: 5px;
				padding: 6px;
				font-size: 1.2em;
				width: 100%;
				text-align: center;

				.from-yesterday {
					float: left;
					width: 47%;
				}

				.this-month {
					float: left;
					width: 45%;
					margin-left: 15px;
				}

				span {
					display: inline-block;
					margin: 5px;
				}
			}
		}
	}
}*/
.dashboard-locations .filters-group {
  width: 100%;
  text-align: right;
  margin: 8px 4px;
}
.dashboard-locations .filters-group .k-dropdown {
  text-align: left;
}
.dashboard-locations .action-bar {
  width: 100%;
  margin-top: 4px;
}
.dashboard-locations .action-bar .page-nav {
  float: left;
  font-family: 'PlanerRegular', verdana;
  font-size: 1.4em;
  padding-top: 8px;
}
.dashboard-locations .action-bar .page-nav .current {
  font-size: 1.2em;
  font-weight: bold;
  color: #005580;
}
.dashboard-locations .action-bar .page-nav a:hover {
  font-weight: bold;
}
.dashboard-locations .button-filter-section .action-button {
  float: right;
}
.dashboard-locations .sites-filter-links,
.dashboard-locations .reputation-filter-links {
  color: #0088CC;
  cursor: pointer;
  font-size: 1.15em;
}
.dashboard-locations .sites-filter-links:hover,
.dashboard-locations .reputation-filter-links:hover {
  color: #005580;
  text-decoration: underline;
  font-weight: bold;
}
.dashboard-locations .location-filter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 1px #bbbbbb;
  border-left: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
  padding: 10px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  display: none;
  margin-top: 4px;
}
.dashboard-locations .location-filter .title {
  font-weight: bold;
  margin-bottom: 10px;
}
.dashboard-locations .location-filter #actionMenu {
  border-radius: 7px;
  width: 130px;
}
.dashboard-locations .location-filter #actionMenu ul {
  border-radius: 4px;
}
.dashboard-locations .location-filter #actionMenu li {
  border-radius: 7px;
  width: 100%;
  border-right: none;
}
.dashboard-locations .location-filter .block {
  display: inline-block;
  vertical-align: top;
}
.dashboard-locations .location-filter .block .k-button {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-weight: bold;
  text-align: left;
  border-radius: 7px;
  cursor: default;
}
.dashboard-locations .location-filter .k-si-cancel {
  cursor: pointer;
}
.dashboard-locations .location-filter .filter-locations {
  display: none;
  margin: 4px 4px 8px 8px;
}
.dashboard-locations .location-filter .filter-locations .location-filter-list {
  display: inline-block;
}
.dashboard-locations .location-filter .filter-locations .location-filter-list .list-item {
  margin-bottom: 4px;
  margin-left: 8px;
}
.dashboard-locations .location-filter .filter-locations .location-filter-list .list-item .groups {
  display: inline-block;
}
.dashboard-locations .location-filter .filter-locations .location-filter-list .list-item .dealers {
  display: inline-block;
  margin-left: 20px;
}
.dashboard-locations .location-filter .filter-dates {
  display: none;
  margin: 4px 4px 8px 8px;
}
.dashboard-locations .location-filter .filter-dates .dates-filter {
  display: inline-block;
  margin-left: 8px;
}
.dashboard-locations .location-filter .filter-category {
  display: none;
  margin: 4px 4px 8px 8px;
}
.dashboard-locations .location-filter .filter-category .category-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.dashboard-locations .location-filter .filter-state {
  display: none;
  margin: 4px 4px 8px 8px;
}
.dashboard-locations .location-filter .filter-state .state-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.dashboard-locations .location-filter .filter-oem {
  display: none;
  margin: 4px 4px 8px 8px;
}
.dashboard-locations .location-filter .filter-oem .oem-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.dashboard-locations .locations-grid {
  margin-top: 8px;
}
.dashboard-locations .locations-grid .dealer-name {
  color: #0088CC;
  font-weight: bold;
}
.dashboard-locations .locations-grid td {
  vertical-align: top;
}
.dashboard-locations .locations-grid td .timezone {
  font-size: 9px;
  line-height: 9px;
  color: #999;
}
.dashboard-locations .locations-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.dashboard-locations .locations-grid .n-ico {
  display: inline-block;
  margin-right: 2px;
}
.dashboard-locations .locations-grid .k-link {
  color: #555;
}
.dashboard-locations .locations-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dashboard-locations .locations-grid .k-grid tr td {
  overflow: visible;
}
.dashboard-locations .locations-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.dashboard-locations .locations-grid .net-images img {
  width: 16px;
  margin: 0 2px;
}
.dashboard-locations .locations-grid .net-images a {
  text-decoration: none;
}
.mypreferences-edit {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mypreferences-edit h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.mypreferences-edit .left-panel-menu {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  width: 140px;
  height: 98%;
  float: left;
  border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 2px solid #888;
  padding: 3px;
}
.mypreferences-edit .right-panel-edit {
  width: 79%;
  height: 98%;
  float: left;
  padding: 3px;
  background-color: #F8F8FA;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-radius: 0px 5px 5px 0px;
}
.mypreferences-edit .close-window-button {
  margin-left: 12px;
  display: inline-block;
  position: absolute;
  bottom: 15px;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #888888;
  border-left: solid 1px #888888;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  cursor: pointer;
}
.mypreferences-edit .k-menu {
  border-radius: 3px 3px 3px 3px;
  font-family: 'PlanerRegular', verdana;
  font-size: 14px;
  font-weight: bold;
}
.mypreferences-edit .k-item {
  border-radius: 3px 3px 3px 3px;
}
.mypreferences-edit .ico {
  display: inline-block;
}
.mypreferences-edit .alerts-config {
  padding: 3px;
}
.mypreferences-edit .alerts-config label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: middle;
  font-size: 12px;
}
.mypreferences-edit .alerts-config .action-bar {
  padding-top: 5px;
}
.mypreferences-edit .alerts-config .action-bar .notify-bar {
  margin-left: 40px;
  margin-bottom: 8px;
}
.mypreferences-edit .alerts-config .alerts-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.mypreferences-edit .alerts-config .alerts-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.mypreferences-edit .alerts-config .alerts-grid .k-grid-Add,
.mypreferences-edit .alerts-config .alerts-grid .k-header {
  padding: 0 !important;
}
.mypreferences-edit .alerts-config .alerts-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
}
.mypreferences-edit .alerts-config .alerts-grid .k-grid td input {
  margin: auto;
}
.mypreferences-edit .alerts-config .alerts-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.mypreferences-edit .alerts-config .alerts-grid .k-link {
  color: #555;
}
.mypreferences-edit .alerts-config .alerts-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mypreferences-edit .alerts-config .alerts-grid .name {
  margin-left: 8px;
  font-weight: bold;
}
.mypreferences-edit .alerts-config .alerts-grid .desc {
  margin-left: 30px;
  font-size: 0.9em;
  color: #555;
}
.mypreferences-edit .password-config {
  padding: 3px;
}
.mypreferences-edit .password-config h4 {
  font-size: 12px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 14px !important;
  margin: 3px 8px !important;
  color: #898989;
  font-weight: normal;
}
.mypreferences-edit .password-config label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
  font-size: 12px;
  width: 120px;
}
.mypreferences-edit .password-config .button-bar {
  margin-bottom: 20px;
}
.mypreferences-edit .password-config input {
  vertical-align: top;
}
.notificaton-manage {
  margin-top: 12px;
}
.notificaton-manage label {
  display: inline-block;
  margin-right: 4px;
  font-size: 1em;
}
.notificaton-manage input {
  vertical-align: top;
}
.notificaton-manage .n-ico {
  display: inline-block;
  margin-right: 2px;
  cursor: pointer;
  vertical-align: middle;
}
.notificaton-manage .section {
  color: #555;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 20px;
}
.notificaton-manage .notification-grid {
  margin-bottom: 20px;
  margin-top: 4px;
}
.notificaton-manage .notification-grid #ApprovalNotificationGrid,
.notificaton-manage .notification-grid #ApprovalHistoryGrid {
  min-height: 120px;
}
.notificaton-manage .notification-grid td {
  vertical-align: middle;
  border-left: none;
}
.notificaton-manage .notification-grid td .timezone {
  font-size: 9px;
  line-height: 9px;
  color: #999;
  padding-top: 2px;
}
.notificaton-manage .notification-grid #NotificationMangerGrid td {
  cursor: pointer;
}
.notificaton-manage .notification-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.notificaton-manage .notification-grid .k-link {
  color: #555;
}
.notificaton-manage .notification-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.notificaton-manage .notification-grid .k-grid tr td {
  overflow: visible;
}
.notificaton-manage .notification-grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
}
.notificaton-manage .notification-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.notificaton-manage .notification-grid .date {
  color: #555555;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
}
.notificaton-manage .notification-grid .location {
  font-weight: bold;
}
.notificaton-manage .notification-grid .approval-filter {
  display: inline-block;
}
.dealer-dashboard {
  margin-top: 10px;
  color: #222;
  font-family: Verdana;
  margin-left: 105px;
}
.dealer-dashboard .reputation-filter-links {
  color: #0088CC;
  cursor: pointer;
}
.dealer-dashboard .reputation-filter-links:hover {
  color: #005580;
  text-decoration: underline;
}
.dealer-dashboard .ddlabel {
  width: 90px;
  display: inline-block;
}
.dealer-dashboard .locations-section {
  margin-bottom: 10px;
  vertical-align: middle;
}
.dealer-dashboard .locations-section .locations {
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  color: #005580;
}
.dealer-dashboard .divider {
  margin: 40px 20px 0 20px;
  float: left;
  width: 1px;
  border-width: 0px;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #646464), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #646464 0%, #ffffff 100%);
  background: -moz-linear-gradient(center bottom, #646464 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #646464);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#646464', GradientType=0);
  height: 550px;
}
.dealer-dashboard .reputation {
  width: 46%;
  overflow: hidden;
  float: left;
}
.dealer-dashboard .reputation .section-title {
  font-size: 1.5em;
  font-family: 'PlanerRegular', verdana;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}
.dealer-dashboard .reputation .subsection-title {
  font-size: 1.3em;
  font-family: 'PlanerRegular', verdana;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}
.dealer-dashboard .reputation .sat-score .title {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 10px;
}
.dealer-dashboard .reputation .sat-score .score-value {
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
}
.dealer-dashboard .reputation .small-ddlabel {
  font-size: .9em;
  margin-left: 10px;
  display: inline-block;
}
.dealer-dashboard .reputation .avg-review-score {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
}
.dealer-dashboard .reputation .review-details {
  margin-top: 10px;
}
.dealer-dashboard .reputation .review-details .details {
  margin-left: 6px;
  height: 110px;
}
.dealer-dashboard .reputation .review-details .details .review-row {
  margin-bottom: 9px;
}
.dealer-dashboard .reputation .review-details .details .counts {
  font-size: 1.2em;
  width: 50px;
  text-align: right;
  display: inline-block;
  font-weight: bold;
}
.dealer-dashboard .reputation .review-details .details .review-chart {
  position: relative;
  top: -100px;
  left: 170px;
}
.dealer-dashboard .reputation .review-details .details .percent-legends {
  position: relative;
  top: -200px;
  left: 320px;
}
.dealer-dashboard .reputation .review-details .details .percent-legends .percent {
  margin-top: 10px;
}
.dealer-dashboard .reputation .reviews-per-site .pie {
  margin-top: 10px;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends {
  position: relative;
  top: -193px;
  left: 150px;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends td {
  vertical-align: top;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends .counts-sm {
  font-size: .9em;
  display: inline-block;
  line-height: 9px;
  font-weight: bold;
  vertical-align: top;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends .review-per-site-chart {
  position: relative;
  top: -158px;
  left: 86px;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends .rating-row {
  height: 15px;
}
.dealer-dashboard .reputation .reviews-per-site .pie-legends .percent {
  margin-bottom: 3px;
  vertical-align: top;
  line-height: 10px;
  font: 0.8em/12px verdana;
}
.dealer-dashboard .social {
  width: 40%;
  overflow: hidden;
  float: left;
}
.dealer-dashboard .social .section-title {
  font-size: 1.5em;
  font-family: 'PlanerRegular', verdana;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}
.dealer-dashboard .social .subsection-title {
  font-size: 1.1em;
  font-family: 'PlanerRegular', verdana;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
}
.dealer-dashboard .social .header-section {
  text-align: right;
  width: 355px;
  white-space: nowrap;
}
.dealer-dashboard .social .header-section .header {
  display: inline-block;
  width: 70px;
  text-align: center;
  font-family: verdana;
}
.dealer-dashboard .social .network-row {
  width: 400px;
  margin-top: 2px;
}
.dealer-dashboard .social .network-row .network-title {
  font-size: 1.3em;
  font-family: 'PlanerRegular', verdana;
  color: #333;
  font-weight: bold;
  vertical-align: top;
  padding: 12px 0 0px 4px;
  display: inline-block;
}
.dealer-dashboard .social .network-row .title {
  height: 34px;
}
.dealer-dashboard .social .network-row .title .right-label {
  display: inline-block;
  width: 220px;
  text-align: right;
  vertical-align: top;
}
.dealer-dashboard .social .network-row .network-list {
  margin-left: 80px;
  line-height: 18px;
}
.dealer-dashboard .social .network-row .network-list .list {
  display: inline-block;
  width: 280px;
}
.dealer-dashboard .social .network-row .network-list .list-title {
  display: inline-block;
  width: 70px;
}
.dealer-dashboard .social .network-row .network-list .counts {
  font-size: 1.2em;
  width: 90px;
  text-align: right;
  display: inline-block;
  font-weight: bold;
}
.dealer-dashboard .social .network-row .network-list .spark-line {
  display: inline-block;
  margin-left: 20px;
}
.social-dashboard {
  margin-top: 4px;
  position: relative;
}
.social-dashboard .tabs {
  background-color: #FBFBFB !important;
  background-image: none;
  border: medium none;
  height: 100%;
  width: 100%;
}
.social-dashboard .k-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.social-dashboard .chart {
  margin-left: 20px;
}
.social-dashboard .time-frame {
  margin-top: -3px;
  background-color: #EEE;
  padding: 6px 0 6px 20px;
  border-bottom: 1px solid #CEE6F4;
}
.social-dashboard .time-frame .date-range {
  padding-left: 20px;
}

