.stream-filter {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: solid 1px #bbbbbb;
  border-left: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
  padding: 10px;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  display: none;
  margin-top: 4px;
}
.stream-filter .title {
  font-weight: bold;
  margin-bottom: 10px;
}
.stream-filter #actionMenu {
  border-radius: 7px;
  width: 130px;
}
.stream-filter #actionMenu ul {
  border-radius: 4px;
}
.stream-filter #actionMenu li {
  border-radius: 7px;
  width: 100%;
  border-right: none;
}
.stream-filter .block {
  display: inline-block;
  vertical-align: top;
}
.stream-filter .block .k-button {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-weight: bold;
  text-align: left;
  border-radius: 7px;
  cursor: default;
}
.stream-filter .k-si-cancel {
  cursor: pointer;
}
.stream-filter .filter-locations {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-locations .location-filter-list {
  display: inline-block;
}
.stream-filter .filter-locations .location-filter-list .list-item {
  margin-bottom: 4px;
  margin-left: 8px;
}
.stream-filter .filter-locations .location-filter-list .list-item .groups {
  display: inline-block;
}
.stream-filter .filter-locations .location-filter-list .list-item .dealers {
  display: inline-block;
  margin-left: 20px;
}
.stream-filter .filter-rating {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-rating .rating-filter {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-rating .rating-filter .ratingValue {
  display: inline-block;
  height: 40px;
  margin-left: 12px;
  vertical-align: middle;
  font-weight: bold;
}
.stream-filter .filter-content {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-content .content-filter {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-dates {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-dates .dates-filter {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-sites {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-sites .sites-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-category {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-category .category-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-state {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-state .state-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-oem {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-oem .oem-filter-list {
  display: inline-block;
  margin-left: 8px;
}
.stream-filter .filter-status {
  display: none;
  margin: 4px 4px 8px 8px;
}
.stream-filter .filter-status .status-filter {
  display: inline-block;
  margin-left: 8px;
}
.button-filter-section .action-button {
  float: right;
}
.button-filter-section .action-button #filterLabel {
  margin-right: 10px;
  display: none;
  width: 860px;
}
.button-filter-section .action-button .filterLabel {
  padding: 0 5px;
  display: inline-block;
  margin-right: 10px;
  background-color: #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #bbbbbb;
  border-left: solid 1px #bbbbbb;
  border-right: solid 1px #bbbbbb;
  border-bottom: solid 1px #bbbbbb;
  font-size: .85em;
}
.button-filter-section .action-button .filterLabel .ftitle {
  color: #4682B4;
  font-weight: bold;
}
.reputation-stream {
  margin-top: 4px;
  /*.fieldset {
		//.shadowed-rounded-box(4px);
		.rounded(4px);
		margin: 6px 2px;
		padding: 4px;
		border: 1px solid silver;
		width: 100%;
		height: 100%;
		background-color: #F8F8FA;

		.legend {
			display: inline-block;
			top: -16px;
			left: 4px;
			position: relative;
			font-size: 1.2em;
			font-family: 'PlanerRegular',verdana;
			background-color: #efefef;
			color: #333;
			padding: 2px 5px;
			border-radius: 3px 3px 3px 3px;
			border: 1px solid #dfdfdf;
			font-weight: bold;
		}
	}*/
}
.reputation-stream .header .stream-header .unread {
  float: left;
  width: 650px;
  height: 200px;
}
.reputation-stream .header .stream-header .unread hr {
  border-width: 2px;
  border-color: #ddd;
}
.reputation-stream .header .stream-header .unread .top-section {
  margin: 5px;
}
.reputation-stream .header .stream-header .unread .total-unread {
  float: left;
  font-size: 5em;
  margin-top: 30px;
  margin-left: 30px;
}
.reputation-stream .header .stream-header .unread .reviews {
  float: right;
  margin-right: 20px;
  font-size: 1.5em;
}
.reputation-stream .header .stream-header .unread .reviews div {
  margin: 10px;
}
.reputation-stream .header .stream-header .unread .reviews span {
  display: inline-block;
  margin: 5px;
}
.reputation-stream .header .stream-header .unread .bottom-section {
  margin: 5px;
  padding: 6px;
  font-size: 1.2em;
}
.reputation-stream .header .stream-header .unread .bottom-section .from-yesterday {
  float: left;
}
.reputation-stream .header .stream-header .unread .bottom-section .this-month {
  float: left;
  margin-left: 10px;
}
.reputation-stream .header .stream-header .unread .bottom-section span {
  display: inline-block;
  margin: 5px;
}
.reputation-stream .header .stream-header .reputation-filter-links {
  color: #0088CC;
  cursor: pointer;
}
.reputation-stream .header .stream-header .reputation-filter-links:hover {
  color: #005580;
  text-decoration: underline;
}
.reputation-stream .header .stream-header .dealer-info {
  float: left;
  margin-left: 40px;
  width: 300px;
  height: 200px;
}
.reputation-stream .header .stream-header .dealer-info .info {
  font-size: 1.2em;
  margin: 8px;
}
.reputation-stream .header .stream-header .dealer-info .info td {
  padding: 4px 30px;
}
.reputation-stream .header .stream-header .to-does {
  float: left;
  margin-left: 40px;
  width: 300px;
  height: 200px;
}
.reputation-stream .list {
  padding-top: 16px;
}
.reputation-stream .list .stream-grid {
  margin-top: 8px;
  margin-bottom: 8px;
}
.reputation-stream .list .stream-grid .action-dropdown .menu {
  border-radius: 4px;
}
.reputation-stream .list .stream-grid .action-dropdown .menu ul {
  border-radius: 4px;
}
.reputation-stream .list .stream-grid .action-dropdown .menu li {
  width: 100%;
  border-right: none;
}
.reputation-stream .list .stream-grid .action-dropdown .menu li input[type="checkbox"] {
  vertical-align: top;
}
.reputation-stream .list .stream-grid .action-dropdown .menu li a:hover {
  text-decoration: none;
}
.reputation-stream .list .stream-grid td {
  vertical-align: top;
  border-left: none;
}
.reputation-stream .list .stream-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
}
.reputation-stream .list .stream-grid .k-link {
  color: #555;
}
.reputation-stream .list .stream-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.reputation-stream .list .stream-grid .k-grid-header-wrap {
  border: none;
}
.reputation-stream .list .stream-grid .review-date {
  font-weight: bold;
  color: #555;
  font-size: 0.9em;
}
.reputation-stream .list .stream-grid .review-time {
  color: #666;
  font-style: italic;
  font-size: .9em;
}
.reputation-stream .list .stream-grid .reviewer-name {
  color: #666;
}
.reputation-stream .list .stream-grid .view-full-text {
  color: #666;
  cursor: pointer;
}
.reputation-stream .list .stream-grid .dealer-name {
  font-weight: bold;
}
.reputation-stream .list .stream-grid .action-dropdown-list input[type="checkbox"] {
  margin: 0px 16px 8px 4px;
}
.reputation-stream .list .stream-grid .review-icon-set {
  width: 100%;
}
.reputation-stream .list .stream-grid .read-icon-not {
  height: 16px;
  width: 26px;
  margin: 4px;
  background: url(images/eye_inv.png) no-repeat 0 0;
  display: inline-block;
}
.reputation-stream .list .stream-grid .read-icon-read {
  height: 16px;
  width: 26px;
  margin: 4px;
  background: url(images/eye_inv_r.png) no-repeat 0 0;
  display: inline-block;
}
.reputation-stream .list .stream-grid .responded-icon-r {
  height: 18px;
  width: 22px;
  margin: 4px;
  background: url(images/responded.png) no-repeat 0 0;
  display: inline-block;
}
.reputation-stream .list .stream-grid .responded-icon-nr {
  height: 18px;
  width: 22px;
  margin: 4px;
  display: inline-block;
}
.reputation-stream .list .stream-grid .legend {
  background: url(images/stream_legend.png) no-repeat 0 0;
  display: block;
  height: 21px;
  width: 94px;
}
.reputation-stream .list .stream-grid .rating {
  width: 80px;
  height: 16px;
  margin: 8px 0 5px 0;
  padding: 0;
  list-style: none;
  clear: both;
  position: relative;
  background: url(images/star-matrix.png) no-repeat 0 0;
}
.reputation-stream .list .stream-grid .rating li {
  cursor: pointer;
  float: left;
  text-indent: -999em;
}
.reputation-stream .list .stream-grid .rating li a {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  text-decoration: none;
  z-index: 200;
}
.reputation-stream .list .stream-grid .rating li .one a {
  left: 0;
}
.reputation-stream .list .stream-grid .rating li .two a {
  left: 16px;
}
.reputation-stream .list .stream-grid .rating li .three a {
  left: 32px;
}
.reputation-stream .list .stream-grid .rating li .four a {
  left: 48px;
}
.reputation-stream .list .stream-grid .rating li .five a {
  left: 64px;
}
.reputation-stream .list .stream-grid .rating-value {
  width: 100%;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  color: #10850b;
}
.reputation-stream .list .stream-grid .nostar {
  background-position: 0 0;
}
.reputation-stream .list .stream-grid .halfstar {
  background-position: 0 -16px;
}
.reputation-stream .list .stream-grid .onestar {
  background-position: 0 -32px;
}
.reputation-stream .list .stream-grid .onehalfstar {
  background-position: 0 -48px;
}
.reputation-stream .list .stream-grid .twostar {
  background-position: 0 -64px;
}
.reputation-stream .list .stream-grid .twohalfstar {
  background-position: 0 -80px;
}
.reputation-stream .list .stream-grid .threestar {
  background-position: 0 -96px;
}
.reputation-stream .list .stream-grid .threehalfstar {
  background-position: 0 -112px;
}
.reputation-stream .list .stream-grid .fourstar {
  background-position: 0 -128px;
}
.reputation-stream .list .stream-grid .fourhalfstar {
  background-position: 0 -144px;
}
.reputation-stream .list .stream-grid .fivestar {
  background-position: 0 -160px;
}
.reputation-stream .list .more-reviews-section {
  margin: 10px;
  width: 100%;
  text-align: center;
}
.reputation-stream .list .more-reviews-section .more-reviews-button {
  width: 500px;
  font-weight: bold;
}
.review-email-form {
  position: relative;
}
.review-email-form table {
  width: 100%;
}
.review-email-form table td {
  padding: 4px;
}
.review-email-form .title {
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  background-color: #ddd;
}
.review-email-form .review-details {
  font-size: .9em;
  color: #4682B4;
}
.reputation-sites {
  position: relative;
}
.reputation-sites .filters-group {
  width: 100%;
  text-align: right;
  margin: 8px 4px;
}
.reputation-sites .filters-group .k-dropdown {
  text-align: left;
}
.reputation-sites .filters-group label {
  display: inline-block;
}
.reputation-sites .down {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px #2d2d2d;
  -moz-box-shadow: 0px 0px 3px #2d2d2d;
  box-shadow: 0px 0px 3px #2d2d2d;
  display: inline-block;
  margin-right: 0;
}
.reputation-sites .up {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #7d7d7d;
  -moz-box-shadow: 0px 1px 3px #7d7d7d;
  box-shadow: 0px 1px 3px #7d7d7d;
  display: inline-block;
}
.reputation-sites .sites-grid {
  margin-top: 8px;
}
.reputation-sites .sites-grid td {
  vertical-align: top;
  border-left: none;
}
.reputation-sites .sites-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.reputation-sites .sites-grid .k-link {
  color: #555;
}
.reputation-sites .sites-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*tr td {
				overflow: visible;
			}*/
}
.reputation-sites .sites-grid .site-name-column {
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}
.reputation-sites .sites-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.reputation-sites .sites-grid .reputation-filter-links {
  color: #0088CC;
  cursor: pointer;
  font-size: 1.15em;
}
.reputation-sites .sites-grid .reputation-filter-links:hover {
  color: #005580;
  text-decoration: underline;
  font-weight: bold;
}
.reputation-careport {
  padding-top: 10px;
  color: #333;
}
.reputation-careport .scores {
  text-align: center;
  width: 100%;
}
.reputation-careport .scores .title {
  font-size: 1.3em;
  font-family: 'PlanerRegular', verdana;
  color: #005580;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}
.reputation-careport .scores .my-score {
  width: 180px;
  display: inline-block;
  margin-left: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-top: solid 1px #cccccc;
  border-left: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}
.reputation-careport .scores .my-score .header {
  font-weight: bold;
  font-size: 1.1em;
  background-color: #4682B4;
  text-align: center;
  line-height: 30px;
  width: 100%;
  color: #FEFEFE;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.reputation-careport .scores .my-score .value {
  font-size: 1.8em;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: #005580;
  background-color: #c5ddf1;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.reputation-careport th {
  background-color: #eeeeee;
  text-align: center;
  padding: 2px 4px 0 4px;
  color: #666;
}
.reputation-careport .name {
  text-align: left;
  font-weight: bold;
  color: #555;
}
.reputation-careport td {
  padding: 2px 4px;
}
.reputation-careport .positive {
  color: #0f6f13;
  padding-left: 6px;
}
.reputation-careport .negative {
  color: #821111;
}
.reputation-careport .divider {
  background-color: transparent;
}
.reputation-careport .group-averages {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.reputation-careport .group-averages table {
  display: inline-block;
}
.reputation-careport .location-averages {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.reputation-careport .location-averages table {
  display: inline-block;
}

