.social-post-activity {
  margin-top: 8px;
  position: relative;
}
.social-post-activity .post-grid {
  margin-top: 8px;
}
.social-post-activity .post-grid .action-dropdown .menu {
  border-radius: 4px;
}
.social-post-activity .post-grid .action-dropdown .menu ul {
  border-radius: 4px;
}
.social-post-activity .post-grid .action-dropdown .menu li {
  width: 100%;
  border-right: none;
}
.social-post-activity .post-grid .action-dropdown .menu li input[type="checkbox"] {
  vertical-align: top;
}
.social-post-activity .post-grid .action-dropdown .menu li a:hover {
  text-decoration: none;
}
.social-post-activity .post-grid .action-dropdown .menu hr {
  border-top: 2px solid #ccc;
  height: 0px;
}
.social-post-activity .post-grid .action-dropdown .k-link {
  padding: 3px 6px;
}
.social-post-activity .post-grid td {
  border-left: none;
  white-space: nowrap;
}
.social-post-activity .post-grid td .timezone {
  font-size: 9px;
  line-height: 9px;
  color: #999;
}
.social-post-activity .post-grid .normal-wrap {
  white-space: normal !important;
}
.social-post-activity .post-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.social-post-activity .post-grid .k-link {
  color: #555;
}
.social-post-activity .post-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.social-post-activity .post-grid .k-grid-Edit {
  min-width: 32px;
}
.social-post-activity .post-grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
}
.social-post-activity .post-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.social-post-activity .post-grid .vert-centered-column {
  vertical-align: middle;
}
.social-post-activity .post-grid .dealer-name {
  font-weight: bold;
}
.social-post-activity .post-grid .publish-date {
  font-weight: bold;
  color: #555;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
}
.social-post-activity .post-grid .dealer-filter {
  display: inline-block;
}
.social-post-activity .post-grid .status-name {
  color: #555555;
  font-size: 0.9em;
  font-weight: bold;
}
.social-post-activity .post-grid .status {
  color: #555555;
  font-size: 0.8em;
}
.social-post-activity .post-grid .net-images img {
  width: 16px;
  margin: 0 2px;
}
.social-post-activity .post-grid .title {
  font-weight: bold;
  color: #005580;
}
.post-confirmation .fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 6px 1px 14px 1px;
  padding: 6px;
  border: 1px solid silver;
  width: 96%;
  height: 100%;
  background-color: #F8F8FA;
}
.post-confirmation .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.1em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #444;
  padding: 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.post-confirmation label,
.post-confirmation span {
  display: inline-block;
}
.post-confirmation label {
  width: 110px;
}
.post-confirmation .wide-label {
  width: 160px;
}
.post-confirmation span {
  color: #444;
}
.post-confirmation button {
  width: 120px;
}
.post-confirmation .approval-summary {
  float: right;
  width: 400px;
  display: none;
}
.social-postmanagement-details .fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 6px 1px 14px 1px;
  padding: 6px;
  border: 1px solid silver;
  width: 96%;
  height: 100%;
  background-color: #F8F8FA;
}
.social-postmanagement-details .fieldset .legend {
  display: inline;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.1em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #444;
  padding: 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.social-postmanagement-details label,
.social-postmanagement-details span {
  display: inline-block;
}
.social-postmanagement-details label {
  min-width: 80px;
  font-size: 12px;
  vertical-align: top;
}
.social-postmanagement-details span {
  color: #444;
  vertical-align: middle;
}
.social-postmanagement-details td {
  vertical-align: top;
  padding: 2px;
}
.social-postmanagement-details img {
  border: 1px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 6px;
}
.social-compose-message {
  margin-top: 8px;
  color: #003f59;
}
.social-compose-message .fieldset {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 6px 2px;
  padding: 6px;
  border: 1px solid silver;
  width: 97%;
  height: 100%;
  background-color: #F8F8FA;
}
.social-compose-message .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #444;
  padding: 0px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
}
.social-compose-message #LinkImage {
  border: 1px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 128px;
  display: none;
}
.social-compose-message #ImagePlaceHolder {
  background: url('images/loading-image.gif') no-repeat;
  display: none;
  width: 130px;
  height: 64px;
  background-position: center;
  vertical-align: middle;
}
.social-compose-message .leftImageIcon {
  background-image: url(images/circle_left.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.social-compose-message .rightImageIcon {
  background-image: url(images/circle_right.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.social-compose-message label {
  display: inline-block !important;
  padding-top: 4px;
  font-size: 12px;
}
.social-compose-message input[type="checkbox"] {
  margin-top: 0 !important;
}
.social-compose-message textarea {
  margin-bottom: 1px !important;
}
.social-compose-message .read-only-box {
  display: inline-block;
  min-height: 16px;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #cccccc;
  border-left: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
}
.social-compose-message .target-networks {
  padding: 14px;
}
.social-compose-message .target-networks td {
  padding: 6px;
}
.social-compose-message .target-networks a {
  padding-right: 10px;
}
.social-compose-message .action-bar {
  padding-right: 50px;
}
.social-compose-message .action-bar label {
  display: inline-block !important;
  vertical-align: top;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 12px;
}
.social-compose-message .link-section {
  margin: 16px 0;
  display: none;
}
.social-compose-message .link-section #LoadingPreviewIcon {
  display: none;
  width: 100%;
  text-align: center;
  background: url('images/loading-image.gif') no-repeat;
  height: 48px;
  background-position: center;
  vertical-align: middle;
}
.social-compose-message .link-section #UploadedImagePreview {
  display: none;
}
.social-compose-message .link-section #UploadedImagePreview img {
  border: 1px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 128px;
  margin: 6px;
}
.social-compose-message .link-section #Previews {
  width: 100%;
}
.social-compose-message .link-section #Previews .image-viewer {
  float: left;
  margin: 3px 12px 4px 6px;
}
.social-compose-message .link-section #Previews .image-viewer .thumbnail-count {
  width: 100%;
  text-align: center;
  vertical-align: bottom;
}
.social-compose-message .link-section #Previews .link-details {
  float: left;
}
.social-compose-message .link-section #Previews .link-details #LinkUrlDisplay {
  margin-bottom: 10px;
  color: #555;
  max-width: 650px;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.social-compose-message .message-section {
  margin: 6px 3px;
}
.social-compose-message .message-section .data-inserts-bar {
  margin-bottom: 2px;
  color: #555;
  font-size: 0.9em;
}
.social-compose-message .message-section .data-inserts-bar .draggable {
  display: inline-block;
  margin-left: 8px;
  color: #003f59;
  font-size: 1.0em;
  cursor: move;
}
.social-compose-message .message-section .data-inserts-bar .draggable::selection {
  background-color: #eee;
  color: #0094ff;
}
.social-compose-message .message-section .data-inserts-bar .draggable::-moz-selection {
  background-color: #eee;
  color: #0094ff;
}
.social-compose-message .message-section .message-count-bar {
  margin-bottom: 4px;
  font-size: 0.9em;
  color: #555;
  width: 97%;
}
.social-compose-message .message-section .message-action-bar {
  margin-top: 4px;
}
.social-compose-message .message-section .message-action-bar .add-url-bar {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}
.social-compose-message .message-section .message-action-bar .add-url-bar .many-images {
  margin-top: 20px;
  color: #c35202;
  font-size: 1.2em;
  display: none;
}
.social-compose-message .message-section .message-action-bar .k-upload {
  display: inline-block;
  width: 340px;
}
.social-compose-message .message-section .message-action-bar .k-dropzone em {
  visibility: visible;
}
.social-compose-message .message-section .message-action-bar .k-upload-button {
  width: 120px;
}
.social-compose-message .syndicaton-logo {
  position: absolute;
  top: 0px;
  right: 100px;
  height: 120px;
  vertical-align: middle;
  line-height: 120px;
}
.social-compose-message .syndication-section,
.social-compose-message .post-date-section {
  margin: 16px 0;
}
.social-compose-message .syndication-section .select-time-bar,
.social-compose-message .post-date-section .select-time-bar {
  margin-left: 10px;
  vertical-align: top;
}
.social-compose-message .syndication-section .select-time-bar input[type="radio"],
.social-compose-message .post-date-section .select-time-bar input[type="radio"] {
  vertical-align: text-bottom;
}
.social-compose-message .syndication-section .title,
.social-compose-message .post-date-section .title {
  color: #222;
  font-size: 1.1em;
}
.social-compose-message .syndication-section .options,
.social-compose-message .post-date-section .options {
  margin-left: 30px;
}
.social-compose-message .syndication-section .options td,
.social-compose-message .post-date-section .options td {
  padding-right: 8px;
}
.social-message-accounts .selected-bar {
  margin-top: 4px;
  margin-left: 18px;
}
.social-message-accounts .selected-bar label {
  display: inline-block !important;
  vertical-align: top;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 12px;
}
.social-message-accounts .message-accounts-grid {
  margin: 6px;
}
.social-message-accounts .message-accounts-grid #MessageAccounts tr {
  cursor: pointer;
}
.social-message-accounts .message-accounts-grid td {
  vertical-align: top;
  border-left: none;
}
.social-message-accounts .message-accounts-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.social-message-accounts .message-accounts-grid .k-link {
  color: #555;
}
.social-message-accounts .message-accounts-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*tr td {
				overflow: visible;
			}*/
}
.social-message-accounts .message-accounts-grid .k-toolbar {
  background: none;
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  padding: 8px;
}
.social-message-accounts .message-accounts-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.social-message-accounts .message-accounts-grid .dealer-name {
  font-weight: bold;
}
.social-message-accounts .message-accounts-grid .last-post-date {
  font-weight: bold;
  color: #555;
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}
.social-message-accounts .message-accounts-grid .network-image {
  vertical-align: middle;
  height: 48px;
}
.social-message-accounts .message-accounts-grid .network-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url('images/noise.png') repeat;
  height: 100%;
}
.social-publish h3 {
  font-size: 20px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 20px;
}
.content-library {
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 60px;
  color: #003f59;
  width: 900px;
  min-height: 650px;
}
.content-library #TopPage.k-pager-wrap {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content-library #RSSItemsListView_pager.k-pager-wrap {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content-library label {
  display: inline-block;
}
.content-library #RSSItemsListView {
  background-color: #ddd !important;
  border-style: solid;
  border-width: 0 1px;
  border-color: #bbb;
}
.content-library .rss-items .item {
  width: 210px;
  height: 280px;
  float: left;
  position: relative;
  margin: 3px 6px 6px 6px;
  border: 1px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #F4F4FA;
}
.content-library .rss-items .item .image {
  margin: 3px 3px 0;
  text-align: center;
  min-height: 152px;
  cursor: pointer;
}
.content-library .rss-items .item .image .image-wrapper {
  text-align: center;
  line-height: 137px;
  height: 137px;
  overflow: hidden;
  border: 1px solid silver;
  -webkit-border-radius: 3px 3px 0px 3px;
  -moz-border-radius: 3px 3px 0px 3px;
  border-radius: 3px 3px 0px 3px;
  background: url('images/noise.png') repeat;
}
.content-library .rss-items .item .image .image-wrapper .main-image {
  width: 202px;
  vertical-align: middle;
  z-index: -1;
}
.content-library .rss-items .item .image .click-to-view {
  width: 114px;
  height: 13px;
  float: right;
  z-index: 1;
}
.content-library .rss-items .item .image .placeholder-image {
  border: 1px solid silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 202px;
  height: 137px;
}
.content-library .rss-items .item .pub-date {
  text-align: center;
  color: #555;
  padding: 0 4px 0px 4px;
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
}
.content-library .rss-items .item .title {
  padding-left: 6px;
  padding-right: 6px;
  height: 80px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.content-library .rss-items .item .buttons {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.content-library .rss-items .item .buttons .image-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  line-height: 0px;
  vertical-align: top;
  font-size: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  padding-right: 3px;
}
.content-library .k-listview:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.post-calendar {
  margin-top: 10px;
  margin-bottom: 20px;
}
.social-stream {
  margin-top: 1px;
  border-radius: 4px;
}
.social-stream #StreamSplitter {
  border-radius: 4px;
}
.social-stream #StreamSplitter #splitterTabs {
  border-radius: 0 4px 4px 0;
}
.social-stream .account-picker {
  vertical-align: top;
  overflow: hidden;
}
.social-stream .account-picker .name {
  display: inline-block;
  width: 170px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: left;
}
.social-stream .account-picker .notif {
  display: inline-block;
  color: #c35202;
  font-weight: bold;
  width: 20px;
  text-align: right;
}
.social-stream .account-picker .title {
  background-color: #E3E3E3;
  padding: 3px;
  text-align: center;
  color: #3B5998;
  border-bottom: 1px solid #C5C5C5;
  font-weight: bold;
}
.social-stream .account-picker #AccountsTreeView {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  min-height: 40px;
}
.social-stream .tabs {
  background-color: #F8F8FA !important;
  background-image: none;
  border: medium none;
  height: 100%;
  width: 100%;
}
.social-stream .facebook-stream {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #333;
  text-align: center;
  height: 100%;
  overflow: auto;
}
.social-stream .facebook-stream #FacebookStreamListView {
  border: none !important;
}
.social-stream .facebook-stream #More {
  width: 90%;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  display: none;
}
.social-stream .facebook-stream #posts {
  min-width: 410px;
  min-height: 400px;
  position: relative;
}
.social-stream .facebook-stream .facebook-post {
  margin: 8px;
  border-top: solid 1px #c4cde0;
  border-left: solid 1px #c4cde0;
  border-right: solid 1px #c4cde0;
  border-bottom: solid 1px #c4cde0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 3px;
  width: 90%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: relative;
}
.social-stream .facebook-stream .facebook-post .post-details {
  padding: 10px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.social-stream .facebook-stream .facebook-post a {
  color: gray;
}
.social-stream .facebook-stream .facebook-post .space-dot {
  color: gray;
  font-weight: bold;
  vertical-align: top;
  font-size: 13px;
  line-height: 8px;
}
.social-stream .facebook-stream .facebook-post .post-header {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.social-stream .facebook-stream .facebook-post .post-header img {
  display: inline-block;
  vertical-align: top;
  max-width: 50px;
}
.social-stream .facebook-stream .facebook-post .post-header .title {
  padding: 0 5px;
  display: inline-block;
  width: 85%;
}
.social-stream .facebook-stream .facebook-post .post-header .title .pagename {
  font-weight: bold;
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .post-header .title .shared {
  color: gray;
}
.social-stream .facebook-stream .facebook-post .post-header .title .ico {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.social-stream .facebook-stream .facebook-post .post-header .posted {
  color: gray;
  padding-top: 2px;
}
.social-stream .facebook-stream .facebook-post .post-header .post-delete {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  font-weight: bold;
  color: #546997;
  padding: 0px 4px 1px;
  visibility: hidden;
}
.social-stream .facebook-stream .facebook-post .post-header .post-delete:hover {
  background-color: #3b5998;
  color: #fff;
}
.social-stream .facebook-stream .facebook-post .post-message {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
}
.social-stream .facebook-stream .facebook-post .post-photo {
  max-width: 403px;
  margin: 0 auto 3px;
}
.social-stream .facebook-stream .facebook-post .post-link {
  background-color: #F6F7F9;
  border: 1px solid #D3DAE8;
  margin-bottom: 5px;
}
.social-stream .facebook-stream .facebook-post .post-link img {
  display: inline-block;
}
.social-stream .facebook-stream .facebook-post .post-link .link-image {
  border-right: 1px solid #D3DAE8;
  border-bottom: 1px solid #D3DAE8;
  display: inline-block;
  padding: 2px;
  width: 150px;
  text-align: center;
}
.social-stream .facebook-stream .facebook-post .post-link .details {
  display: inline-block;
  padding: 5px 8px;
  vertical-align: top;
  color: gray;
  width: 70%;
  word-wrap: break-word;
}
.social-stream .facebook-stream .facebook-post .post-link .details .caption {
  font-weight: bold;
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .post-link .text {
  margin: 8px;
  color: gray;
}
.social-stream .facebook-stream .facebook-post .action-links {
  background-color: #edeff4;
  padding: 5px 12px;
}
.social-stream .facebook-stream .facebook-post .action-links a {
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .action-links .actions {
  display: inline-block;
}
.social-stream .facebook-stream .facebook-post .action-links .icons {
  float: right;
  display: inline-block;
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .action-links .icons .ico {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}
.social-stream .facebook-stream .facebook-post .post-reach {
  border: 1px solid #C4CDE0;
  color: #3B5998;
  background-color: #E7EBF2;
  padding: 2px 5px;
  margin-top: 3px;
}
.social-stream .facebook-stream .facebook-post .more-comments {
  background-color: #edeff4;
  padding: 5px 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.social-stream .facebook-stream .facebook-post .more-comments a {
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .more-comments .ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment {
  background-color: #edeff4;
  padding: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .user-image {
  display: inline-block;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .user-image img {
  display: inline-block;
  vertical-align: bottom;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .info {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  width: 90%;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .info .user-name {
  font-weight: bold;
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .info .ico {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .info .ts {
  color: gray;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .info .ts a {
  color: #3b5998;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .delete {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  font-weight: bold;
  color: #546997;
  padding: 0px 4px 1px;
  visibility: hidden;
}
.social-stream .facebook-stream .facebook-post .post-comments .comment .delete:hover {
  background-color: #3b5998;
  color: #fff;
}
.social-stream .facebook-stream .facebook-post .comment-entry {
  background-color: #edeff4;
  padding: 4px;
  margin-top: 3px;
  position: relative;
}
.social-stream .facebook-stream .facebook-post .comment-entry img {
  display: inline-block;
  vertical-align: top;
}
.social-stream .facebook-stream .facebook-post .comment-entry .autogrow {
  display: inline-block;
  font-size: 11px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 2px;
  overflow: hidden;
  width: 84%;
  margin: 4px;
}
.social-stream .facebook-stream .facebook-post .comment-entry .comment-save {
  background-color: #5B74A8;
  color: #FFF;
  padding: 0 8px;
  border-top: 1px solid #29447E;
  border-right: 1px solid #29447E;
  border-bottom: 1px solid #1A356E;
  border-left: 1px solid #29447E;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  font-size: 11px;
  display: inline-block;
  margin-top: 6px;
}
.social-stream .twitter-stream {
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #292F33;
  text-align: center;
  height: 100%;
  overflow: auto;
}
.social-stream .twitter-stream .tweet-list {
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 31%;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
}
.social-stream .twitter-stream .tweet-list .ico {
  display: inline-block;
  vertical-align: middle;
}
.social-stream .twitter-stream .tweet-list .space-dot {
  color: gray;
  font-weight: bold;
  vertical-align: top;
  font-size: 13px;
  line-height: 8px;
}
.social-stream .twitter-stream .tweet-list .header {
  padding: 4px 5px;
  vertical-align: top;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
  margin-left: -2px;
  margin-right: -2px;
}
.social-stream .twitter-stream .tweet-list .header .title {
  font-weight: bold;
  text-align: left;
  width: 43%;
  display: inline-block;
}
.social-stream .twitter-stream .tweet-list .header .refresh {
  width: 55%;
  text-align: right;
  display: inline-block;
  cursor: pointer;
}
.social-stream .twitter-stream .tweet-list .tweet {
  text-align: left;
  margin: 5px 2px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.social-stream .twitter-stream .tweet-list .tweet:hover {
  background-color: #f5f5f5;
}
.social-stream .twitter-stream .tweet-list .tweet .user-image {
  float: left;
  width: 48px;
}
.social-stream .twitter-stream .tweet-list .tweet .user-image img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.social-stream .twitter-stream .tweet-list .tweet .reply-tweet {
  text-align: right;
  display: none;
}
.social-stream .twitter-stream .tweet-list .tweet .reply-tweet textarea {
  font-size: 12px;
}
.social-stream .twitter-stream .tweet-list .tweet .reply-tweet .count-button {
  margin-bottom: 3px;
}
.social-stream .twitter-stream .tweet-list .tweet .reply-tweet .count-button .char-count {
  margin-right: 6px;
}
.social-stream .twitter-stream .tweet-list .tweet .reply-tweet .count-button .tweet-save {
  background-color: #55ACEE;
  color: #fff;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
}
.social-stream .twitter-stream .tweet-list .tweet .details {
  float: right;
  width: 75%;
}
.social-stream .twitter-stream .tweet-list .tweet .details .title .name {
  font-weight: bold;
}
.social-stream .twitter-stream .tweet-list .tweet .details .title a {
  color: #292F33;
}
.social-stream .twitter-stream .tweet-list .tweet .details .title .screen-name {
  color: #8899A6;
  font-size: 11px;
  padding-left: 2px;
}
.social-stream .twitter-stream .tweet-list .tweet .details .title .time-stamp {
  color: #8899A6;
  font-size: 11px;
}
.social-stream .twitter-stream .tweet-list .tweet .details .text {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 16px;
}
.social-stream .twitter-stream .tweet-list .tweet .details .photo {
  margin-top: 2px;
  margin-bottom: 3px;
}
.social-stream .twitter-stream .tweet-list .tweet .details .photo img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.social-stream .twitter-stream .tweet-list .tweet .actions {
  font-size: 11px;
  margin-top: 2px;
  text-align: left;
  white-space: nowrap;
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  text-overflow: clip;
  overflow: hidden;
}
.social-stream .twitter-stream .tweet-list .tweet .actions span {
  display: inline-block;
}
.social-stream .twitter-stream .tweet-list .tweet .actions a {
  color: #999;
}
.social-stream .twitter-stream .tweet-list .tweet .actions a:hover {
  color: #555;
}
.social-stream .twitter-stream .tweet-list .tweet .actions .view {
  text-align: left;
  width: 16%;
}
.social-stream .twitter-stream .tweet-list .tweet .actions .view a {
  color: #0084B4;
}
.social-stream .twitter-stream .tweet-list .tweet .actions .subs {
  text-align: right;
  width: 82%;
}
.social-stream .google-stream {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333;
  text-align: center;
  height: 100%;
  overflow: auto;
}
.social-stream .google-stream #Googleposts {
  min-width: 358px;
  min-height: 348px;
  position: relative;
}
.social-stream .google-stream .google-post {
  margin: 10px;
  background-color: #fff;
  border-top: solid 1px #d8d8d8;
  border-left: solid 1px #d8d8d8;
  border-right: solid 1px #d8d8d8;
  border-bottom: solid 1px #d8d8d8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  width: 90%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  position: relative;
}
.social-stream .google-stream .google-post #GoogleMoreDiv {
  margin-bottom: 10px;
}
.social-stream .google-stream .google-post .post-details {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.social-stream .google-stream .google-post a {
  color: gray;
}
.social-stream .google-stream .google-post .post-header {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.social-stream .google-stream .google-post .post-header img {
  display: inline-block;
  vertical-align: top;
  max-width: 50px;
}
.social-stream .google-stream .google-post .post-header .title {
  padding: 0 5px;
  display: inline-block;
  width: 85%;
}
.social-stream .google-stream .google-post .post-header .title .pagename {
  font-weight: bold;
  color: #262626;
  font-size: 14px;
}
.social-stream .google-stream .google-post .post-header .title .shared {
  color: gray;
}
.social-stream .google-stream .google-post .post-header .title .ico {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.social-stream .google-stream .google-post .post-header .posted {
  color: #999;
  font-size: 12px;
}
.social-stream .google-stream .google-post .post-header .google-post-delete {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  font-weight: bold;
  color: #546997;
  padding: 0px 4px 1px;
  visibility: hidden;
  font-size: 13px;
}
.social-stream .google-stream .google-post .post-header .google-post-delete:hover {
  background-color: #3b5998;
  color: #fff;
}
.social-stream .google-stream .google-post .post-message {
  padding: 0 20px;
  font-size: 13px;
}
.social-stream .google-stream .google-post .post-photo {
  max-width: 346px;
  margin: 20px 7px;
}
.social-stream .google-stream .google-post .post-link {
  border-top: 1px solid #E5E5E5;
  padding: 20px 0;
  margin: 10px 14px;
}
.social-stream .google-stream .google-post .post-link img {
  display: inline-block;
}
.social-stream .google-stream .google-post .post-link .link-image {
  display: inline-block;
  padding: 2px;
  max-width: 120px;
  text-align: center;
}
.social-stream .google-stream .google-post .post-link .details {
  display: inline-block;
  padding: 5px 8px;
  vertical-align: top;
  color: #404040;
  width: 182px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.social-stream .google-stream .google-post .post-link .details .caption {
  color: #999;
  font-size: 14px;
}
.social-stream .google-stream .google-post .post-link .details .link {
  font-size: 12px;
}
.social-stream .google-stream .google-post .post-link .text {
  margin: 8px;
  color: gray;
}
.social-stream .google-stream .google-post .action-links {
  height: 30px;
  margin: 20px 0 0;
  padding: 0 0 20px 12px;
}
.social-stream .google-stream .google-post .action-links .block {
  color: #262626;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
}
.social-stream .google-stream .google-post .action-links .g-container {
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  float: left;
  height: 28px;
  line-height: 28px;
  margin-left: 8px;
  padding: 0 10px;
  transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s;
}
.social-stream .google-stream .google-post .comment-count {
  background-color: whitesmoke;
  padding: 4px 4px 16px 4px;
  width: 98%;
}
.social-stream .google-stream .google-post .post-comments .comment {
  background-color: whitesmoke;
  padding: 4px 4px 16px 4px;
  width: 98%;
}
.social-stream .google-stream .google-post .post-comments .comment .user-image {
  display: inline-block;
}
.social-stream .google-stream .google-post .post-comments .comment .user-image img {
  display: inline-block;
  vertical-align: bottom;
}
.social-stream .google-stream .google-post .post-comments .comment .info {
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  width: 85%;
  font-size: 13px;
}
.social-stream .google-stream .google-post .post-comments .comment .info .user-name {
  font-weight: bold;
  color: #404040;
}
.social-stream .google-stream .google-post .post-comments .comment .info .ico {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}
.social-stream .google-stream .google-post .post-comments .comment .info .ts {
  color: #999;
  font-size: 12px;
}
.social-stream .google-stream .google-post .post-comments .comment .info .ts a {
  color: #3b5998;
}
.social-stream .google-stream .google-post .post-comments .comment .delete {
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  font-weight: bold;
  font-size: 13px;
  color: #546997;
  padding: 0px 4px 1px;
  visibility: hidden;
}
.social-stream .google-stream .google-post .post-comments .comment .delete:hover {
  background-color: #3b5998;
  color: #fff;
}
.social-stream .google-stream .google-post .comment-entry {
  background-color: whitesmoke;
  padding: 4px;
  margin-top: 3px;
  position: relative;
}
.social-stream .google-stream .google-post .comment-entry img {
  display: inline-block;
  vertical-align: top;
}
.social-stream .google-stream .google-post .comment-entry .google-autogrow {
  display: inline-block;
  font-size: 11px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 2px;
  overflow: hidden;
  width: 84%;
  margin: 4px;
}
.social-stream .google-stream .google-post .comment-entry .comment-save {
  background-color: #5B74A8;
  color: #FFF;
  padding: 0 8px;
  border-top: 1px solid #29447E;
  border-right: 1px solid #29447E;
  border-bottom: 1px solid #1A356E;
  border-left: 1px solid #29447E;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
  font-size: 11px;
  display: inline-block;
  margin-top: 6px;
}
.social-stream .google-stream .plus-one-icon {
  background: url(images/google_sprites.png) no-repeat scroll -166px -34px rgba(0, 0, 0, 0);
  display: inline-block;
  height: 8px;
  margin-bottom: 1px;
  margin-right: 2px;
  width: 8px;
}
.social-stream .google-stream .shared-icon {
  background: url(images/google_sprites.png) no-repeat scroll -298px 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 16px;
  margin-bottom: 3px;
  vertical-align: middle;
  width: 16px;
}
.social-post-statistics {
  margin-top: 4px;
  position: relative;
}
.social-post-statistics .tabs {
  background-color: #FBFBFB !important;
  background-image: none;
  border: medium none;
  height: 100%;
  width: 100%;
}
.social-post-statistics .k-content {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.social-post-statistics .twitter-stats .stats-grid,
.social-post-statistics .facebook-stats .stats-grid {
  margin: 4px;
}
.social-post-statistics .twitter-stats .stats-grid td,
.social-post-statistics .facebook-stats .stats-grid td {
  border-left: none;
  white-space: nowrap;
  vertical-align: top;
}
.social-post-statistics .twitter-stats .stats-grid td .timezone,
.social-post-statistics .facebook-stats .stats-grid td .timezone {
  font-size: 9px;
  line-height: 9px;
  color: #999;
}
.social-post-statistics .twitter-stats .stats-grid th,
.social-post-statistics .facebook-stats .stats-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
}
.social-post-statistics .twitter-stats .stats-grid .small-header a,
.social-post-statistics .facebook-stats .stats-grid .small-header a {
  font-size: 9px;
}
.social-post-statistics .twitter-stats .stats-grid .post-image,
.social-post-statistics .facebook-stats .stats-grid .post-image {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  float: left;
  margin-bottom: 3px;
  margin-right: 5px;
}
.social-post-statistics .twitter-stats .stats-grid .k-link,
.social-post-statistics .facebook-stats .stats-grid .k-link {
  color: #555;
}
.social-post-statistics .twitter-stats .stats-grid .k-grid,
.social-post-statistics .facebook-stats .stats-grid .k-grid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.social-post-statistics .twitter-stats .stats-grid .centered-column,
.social-post-statistics .facebook-stats .stats-grid .centered-column {
  text-align: center;
  vertical-align: top;
}
.social-post-statistics .twitter-stats .stats-grid .overflow-column,
.social-post-statistics .facebook-stats .stats-grid .overflow-column {
  white-space: normal;
}
.n-ico {
  display: inline-block;
  margin-right: 2px;
}
.n-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
}
.facebook-icon {
  background-image: url(images/facebook.png);
}
.google-icon {
  background-image: url(images/Google.png);
}
.twitter-icon {
  background-image: url(images/twitter.png);
}
.blogger-icon {
  background-image: url(images/Blogger.png);
}
.youtube-icon {
  background-image: url(images/youtube.png);
}
.s-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-repeat: no-repeat;
}
.s-Published-icon {
  background-image: url(images/circle_check.png);
}
.s-Failed-icon {
  background-image: url(images/circle_cross.png);
}
.s-Scheduled-icon {
  background-image: url(images/circle_scheduled_date.png);
}
.s-Processing-icon {
  background-image: url(images/circle_processing.png);
}
.s-WaitingOnApproval-icon {
  background-image: url(images/waiting_on_approval.png);
}
.s-SyndicationwithNoApproverHold-icon {
  background-image: url(images/syndication_no_approver.png);
}
.s-Rejected-icon {
  background-image: url(images/post_rejected.png);
}
.s-Draft-icon {
  background-image: url(images/post_draft.png);
}
.post-Link-icon {
  background-image: url(images/post_link.png);
}
.post-Status-icon {
  background-image: url(images/post_status.png);
}
.post-Photo-icon {
  background-image: url(images/post_photo.png);
}
.post-Video-icon {
  background-image: url(images/post_video.png);
}
.post-DetailReport-icon {
  background-image: url(images/post_detail_report.png);
}
.post-StreamReport-icon {
  background-image: url(images/post_stream_report.png);
}
.k-window-title {
  font-family: 'PlanerRegular', verdana;
  font-weight: bold;
}
.event-tooltip {
  width: 100%;
}
.event-tooltip .title-bar .title {
  float: left;
  font-weight: bold;
  color: #0094ff;
}
.event-tooltip .title-bar .date-text {
  float: right;
  font-size: 0.9em;
}
.event-tooltip .message {
  margin: 4px;
  color: #003f59;
  font-size: 1.1em;
}
.event-tooltip .posted-by {
  margin-top: 4px;
  font-weight: bold;
  font-size: 0.9em;
  color: #444;
}
.event-tooltip .post-image {
  margin: 4px;
  text-align: center;
}
.event-tooltip .post-image img {
  border: none;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

