.support-center {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.support-center h3 {
  font-size: 18px !important;
  font-family: 'PlanerRegular', verdana;
  line-height: 18px !important;
  margin: 3px 0 !important;
  color: #898989;
}
.support-center .left-panel-menu {
  background: #eeeeee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
  background: -o-linear-gradient(#dddddd, #aaaaaa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#aaaaaa', GradientType=0);
  width: 175px;
  height: 98%;
  float: left;
  border-radius: 5px 0px 0px 5px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 2px solid #888;
  padding: 3px;
}
.support-center .right-panel-edit {
  width: 75%;
  height: 98%;
  float: left;
  padding: 3px;
  background-color: #F8F8FA;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-radius: 0px 5px 5px 0px;
}
.support-center .close-window-button {
  bottom: 15px;
  margin-left: 30px;
  display: inline-block;
  position: absolute;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top: solid 1px #888888;
  border-left: solid 1px #888888;
  border-right: solid 1px #888888;
  border-bottom: solid 1px #888888;
  cursor: pointer;
}
.support-center .k-menu {
  border-radius: 3px 3px 3px 3px;
  font-family: 'PlanerRegular', verdana;
  font-size: 14px;
  font-weight: bold;
}
.support-center .k-item {
  border-radius: 3px 3px 3px 3px;
}
.support-center .ico {
  display: inline-block;
}
.support-center .themes-verticals-edit {
  padding: 3px;
}
.support-center .themes-verticals-edit .themes-vertical-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-grid-select {
  padding: 0;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-grid-Add,
.support-center .themes-verticals-edit .themes-vertical-grid .k-header {
  padding: 0 !important;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  border: none;
}
.support-center .themes-verticals-edit .themes-vertical-grid td {
  vertical-align: top;
}
.support-center .themes-verticals-edit .themes-vertical-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: .9em;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-link {
  color: #555;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.support-center .themes-verticals-edit .themes-vertical-grid .k-grid td {
  overflow: visible;
}
.support-center .themes-verticals-edit .themes-vertical-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.support-center .themes-verticals-edit .theme-preview .fieldset {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #7d7d7d;
  -moz-box-shadow: 0px 1px 3px #7d7d7d;
  box-shadow: 0px 1px 3px #7d7d7d;
  margin: 6px 2px;
  padding: 4px;
  border: 1px solid silver;
  height: 100%;
  background-color: #f8f8fa;
}
.support-center .themes-verticals-edit .theme-preview .fieldset .legend {
  display: inline;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.support-center .themes-verticals-edit .theme-preview .info {
  padding: 0 4px 2px 4px;
  min-height: 208px;
  text-align: center;
}
.support-center .packages-edit {
  padding: 3px;
}
.support-center .packages-edit .packages-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.support-center .packages-edit .packages-grid .k-grid-select {
  padding: 0;
}
.support-center .packages-edit .packages-grid .k-grid-Add,
.support-center .packages-edit .packages-grid .k-header {
  padding: 0 !important;
}
.support-center .packages-edit .packages-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  border: none;
}
.support-center .packages-edit .packages-grid td {
  vertical-align: top;
}
.support-center .packages-edit .packages-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: .9em;
}
.support-center .packages-edit .packages-grid .k-link {
  color: #555;
}
.support-center .packages-edit .packages-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.support-center .packages-edit .packages-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.support-center .employees-edit {
  padding: 3px;
}
.support-center .employees-edit .employees-grid {
  margin-top: 3px;
  margin-bottom: 20px;
}
.support-center .employees-edit .employees-grid .k-grid-select {
  padding: 0;
}
.support-center .employees-edit .employees-grid .k-grid-Add,
.support-center .employees-edit .employees-grid .k-header {
  padding: 0 !important;
}
.support-center .employees-edit .employees-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  border: none;
}
.support-center .employees-edit .employees-grid td {
  vertical-align: top;
}
.support-center .employees-edit .employees-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: .9em;
}
.support-center .employees-edit .employees-grid .k-link {
  color: #555;
}
.support-center .employees-edit .employees-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.support-center .employees-edit .employees-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.support-center .employees-edit .edit-section .fieldset {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #7d7d7d;
  -moz-box-shadow: 0px 1px 3px #7d7d7d;
  box-shadow: 0px 1px 3px #7d7d7d;
  margin: 6px 2px;
  padding: 4px;
  border: 1px solid silver;
  height: 100%;
  background-color: #f8f8fa;
}
.support-center .employees-edit .edit-section .fieldset .legend {
  display: inline-block;
  top: -16px;
  left: 4px;
  position: relative;
  font-size: 1.2em;
  font-family: 'PlanerRegular', verdana;
  background-color: #efefef;
  color: #333;
  padding: 2px 5px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #dfdfdf;
  font-weight: bold;
}
.support-center .employees-edit .edit-section .info {
  padding: 0 4px 2px 4px;
}
.support-center .employees-edit .edit-section .info input {
  margin-right: 4px;
  margin-bottom: 4px;
}
.support-center .employees-edit .edit-section .info label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: bottom;
  font-size: 12px;
}
.support-center .employees-edit .edit-section .info input[type="password"] {
  height: 25px;
  line-height: 20px;
  font-size: 12px;
}
.support-center .employees-edit .edit-section .info h4 {
  color: #898989;
  font-family: 'PlanerRegular', verdana;
  font-size: 13px !important;
  font-weight: normal;
  line-height: 16px !important;
  margin: 3px 8px !important;
}
.support-center .platform-message {
  padding: 3px;
}
.support-center .platform-message .messages-grid {
  margin-top: 3px;
}
.support-center .platform-message .messages-grid .k-grid-select {
  padding: 0;
}
.support-center .platform-message .messages-grid .k-grid-Add,
.support-center .platform-message .messages-grid .k-header {
  padding: 0 !important;
}
.support-center .platform-message .messages-grid .k-grid td {
  padding-top: 1px !important;
  padding-bottom: 2px !important;
  border: none;
}
.support-center .platform-message .messages-grid td {
  vertical-align: top;
}
.support-center .platform-message .messages-grid th {
  border-left: none;
  font-weight: bold;
  color: #555;
  text-align: center;
  font-size: .9em;
}
.support-center .platform-message .messages-grid .k-link {
  color: #555;
}
.support-center .platform-message .messages-grid .k-grid {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.support-center .platform-message .messages-grid .centered-column {
  text-align: center;
  vertical-align: middle;
}
.support-center .platform-message .message-edit form {
  margin: 0;
}
.support-center .platform-message .message-edit input {
  margin-right: 4px;
  margin-bottom: 0px;
}
.support-center .platform-message .message-edit label {
  display: inline-block;
  margin-bottom: 0px;
  padding-top: 4px;
  vertical-align: top;
  font-size: 12px;
}
.support-center .platform-message .message-edit .dynamic-section {
  margin-top: 4px;
  border: 1px solid #d3d3d3;
  height: 210px;
  overflow-y: auto;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.support-center .platform-message .message-edit .dynamic-section .k-editor {
  height: 120px !important;
}
.support-center .platform-message .message-edit .dynamic-section .k-editable-area {
  height: 80px !important;
}
.support-center .platform-message .message-edit .info {
  padding: 3px;
}
.support-center .platform-message .message-edit .info .section {
  margin-bottom: 2px;
}

