﻿/* General */

.k-ext-required {
    background-color: pink;
}


/* ExtSplitter */

.k-ext-layout-header {
    margin-top:0px;
    position: relative;
}

.k-ext-layout-title {
    font-size:14px;
    font-weight:bold;
}

.k-ext-vertical-layout-title {
    position: absolute; 
    top: 30px !important;
    text-align: center;
    width: 14px;
	margin-left: 3px;
}

.k-ext-arrows-left, .k-ext-arrows-right, .k-ext-arrows-up, .k-ext-arrows-down {
	overflow: hidden;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('images/small-sprites.gif') !important;
	margin: 0;
}

.k-ext-arrows-left {
	background-position: 0 -16px;
}

.k-ext-arrows-right {
	background-position: -16px -16px;
}

.k-ext-arrows-up {
	background-position: 0 0;
}

.k-ext-arrows-down {
	background-position: -16px 0;
}


/* ExtDialog */

.k-ext-information, .k-ext-question, .k-ext-warning, .k-ext-error {
	overflow: hidden;
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('images/medium-sprites.png');
	margin: 0;
}

.k-ext-information {
	background-position: 0 0;
}

.k-ext-question {
	background-position: -32px 0;
}

.k-ext-warning {
	background-position: -64px 0;
}

.k-ext-error {
	background-position: -96px 0;
}

.k-ext-wait {
	overflow: hidden;
	width: 30px;
	height: 30px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url('images/medium-wait.gif');
	margin: 0;
}


/* ExtBorderLayout */

.k-ext-inner-splitter-contents {
    overflow: hidden !important;
}


/* ExtTextBox */

.k-ext-textbox {
	display:inline-block;
	position:relative;
	height:2.2em;
}

	.k-ext-textbox span {
		position:absolute;
		top:0;
		left:0;
		color:gray;
		z-index:99; 
		padding:0.178em 0; 
		height:1.6em; 
		line-height:1.6em; 
		text-indent:4px;
	}

	.k-ext-textbox input {
		position:absolute !important;
		opacity:1;
		filter:alpha(opacity=100);
		top:0;
		left:0;
		width:99%;
	}

/* ExtEditor */

.k-ext-table {
	background-position: -108px -270px;
    height: 20px !important;
}
