﻿@using SI.Services.SupportCenter.Models
@model Employee

@{
	List<SelectListItem> Statuses = new List<SelectListItem>();
	Statuses.Add(new SelectListItem() {Text = "Active", Value = "Active"});
	Statuses.Add(new SelectListItem() {Text = "Inactive", Value = "Inactive"});
}

<script>

	var SCEmployee = {
		kendoValidator: null,
		justSaved: false,
		lastSavedID: 0,
		
		employeeBound: function (e) {
			setTimeout(function () {
				var grid = $("#EmployeesGrid").data("kendoGrid");

				var row;
				if (SCEmployee.lastSavedID == 0) {
					row = e.sender.tbody.find('tr:first');
				} else {
					var data = grid.dataSource.data();
					for (var idx = 0; idx < data.length; idx++) {
						var item = data[idx];
						if (item.ID == SCEmployee.lastSavedID) {
							row = e.sender.tbody.find("tr[data-uid='" + item.uid + "']");
							break;
						}
					}
				}
				if (row) {
					grid.select(row);
					row.trigger('click');
				}
			}, 100);
		},

		InfoSave: function (response) {
			$("#formEmployees").dirtyFlagReset();
			$("#resultsEmployees").html(response.message);
			$("#EmployeesGrid").data("kendoGrid").dataSource.read();
			SCEmployee.submitCount = 0;
			SCEmployee.justSaved = true;
		},

		submitCount: 0,
		BeginSubmit: function () {
			if (SCEmployee.submitCount > 0) return false;
			SCEmployee.submitCount++;
			
			EditSaved = true;
		},

		employeeEdit: function (e) {
			var data = this.dataItem(this.select());
			SCEmployee.lastSavedID = data.ID;

			$("#EditTitle").html(kendo.format("Edit Employee - {0} {1}", data.FirstName, data.LastName));
			$("#FirstName").val(data.FirstName);
			$("#LastName").val(data.LastName);
			$("#Email").val(data.Email);
			$("#ID").val(data.ID);
			
			var dropdownlist = $("#RoleID").data("kendoDropDownList");
			dropdownlist.value(data.RoleID);

			$("#Status_Inactive").prop("checked", true);
			if (data.Status == "Active")
				$("#Status_Active").prop("checked", true);

			if (!SCEmployee.justSaved) {
				$("#resultsEmployees").html("");
				$("#Password").val("");
				$("#VerifyPassword").val("");
				SIGlobal.ValidationSummaryClear();
				$(".field-validation-error").removeClass("field-validation-error").addClass("field-validation-valid");
				$(".input-validation-error").removeClass("input-validation-error");
				$("#formEmployees").dirtyFlagReset();
			}
			SCEmployee.justSaved = false;
		}
	}

	$(function () {
		SCEmployee.kendoValidator = $("#formEmployees").kendoValidator().data("kendoValidator");
		$("#formEmployees").dirtyFlagSet();
		$(".ico-required").attr("title", "Required");
		SIGlobal.placeHolderSim(this);

		$("#SearchEmployeeText").keyup(function (e) {
			var search = $(this).val();
			var filterObj = [];
			if (search != null && search != "") {
				filterObj.push({ field: "LastName", operator: "startswith", value: search });
			}

			$('#EmployeesGrid').data("kendoGrid").dataSource.filter(filterObj);
		});

		$("#AddEmployeeButton").on("click", function () {
			$("#FirstName").val("");
			$("#LastName").val("");
			$("#Email").val("");
			$("#Password").val("");
			$("#VerifyPassword").val("");
			$("#ID").val("0"); //THIS INDICATES A NEW Employee
			$("#EditTitle").html("* New Employee *");
			$("#EmployeesGrid tbody tr").removeClass("k-state-selected");
			$("#resultsEmployees").html("");
			var dropdownlist = $("#RoleID").data("kendoDropDownList");
			dropdownlist.value("");
			$(".field-validation-error").removeClass("field-validation-error").addClass("field-validation-valid");
			$(".input-validation-error").removeClass("input-validation-error");
			$("#formEmployees").dirtyFlagReset();
		});

		$("#SendInvitationButton").on("click", function () {
			var url = '@Url.Action("SendEmailInvitation", "SupportCenter", new { area = "SupportCenter"})';
			var addData = { ID: $("#ID").val() };
			$.post(url, addData, function (data) {
				SIGlobal.alertDialog("Send Email Invitation", data.message, data.success ? "i" : "e");
			});
		})

		$("#saveButtonEmployee").click(function() {
			if (SCEmployee.kendoValidator.validate()) {
				SIGlobal.ValidationSummaryClear();
				$("#resultsEmployees").html("");

				$("#formEmployees").submit();
			} else {
				SIGlobal.ValidationSummaryPopulate(SCEmployee.kendoValidator.errors());
			}
		});
	});


</script>


<div class="employees-edit">
	@using (Ajax.BeginForm("Employees", "SupportCenter", new { area = "SupportCenter" },
						   new AjaxOptions
						   {
							   OnBegin = "SCEmployee.BeginSubmit",
							   OnSuccess = "SCEmployee.InfoSave",
							   OnFailure = "SIGlobal.formSaveFailure",
							   LoadingElementId = "LoadingIconSaveEmployee",
							   LoadingElementDuration = 2000
						   }, new { @id = "formEmployees" }))
 {
		@Html.HiddenFor(m => m.ID)
	 
		<div class="button-bar">
			<h3 style="float: left;">Employees</h3>
			<div style="float: right;">
				<button id="AddEmployeeButton" class="k-button" type="button"><span class='k-icon k-i-plus'></span> Add Employee</button>
			</div>
			<div class="fcl"></div>
		</div>
		<div class="search-bar">
			<span class="k-textbox k-space-left" style="width:290px;">
				<input id="SearchEmployeeText" type="text" placeholder="Search Employee..." style="width:265px;" class="noDirtyFlag"/>
				<span class="k-icon k-i-search">&nbsp;</span>
			</span>
		</div>
		<div class="employees-grid" >
		
			@(Html.Kendo().Grid<Employee>()
				  .Name("EmployeesGrid")
				  .Columns(columns =>
				  {
					  columns.Bound(c => c.LastName).ClientTemplate("#=FirstName# #=LastName#").Title("Employee Name");
					  columns.Bound(c => c.RoleName).Title("Role").Width(90).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.CreateDate).Title("Created").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.ModifiedDate).Title("Modified").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.NumberOfAccounts).Title("#Accounts").Width(60).HtmlAttributes(new { @class = "centered-column" });
					  columns.Bound(c => c.Status).Title("Status").Width(70).HtmlAttributes(new { @class = "centered-column" });
				  })

				  .DataSource(ds => ds.Ajax()
									  .Read(read => read.Action("EmployeeEditGrid", "SupportCenter"))
									  .Model(model => model.Id(a => a.ID)).ServerOperation(false))

				  .Sortable()
				  .Resizable(r => r.Columns(true))
				  .Selectable()
				  .Scrollable(s => s.Height("145px"))
				  .Events(e =>
				  {
					  e.DataBound("SCEmployee.employeeBound");
					  e.Change("SCEmployee.employeeEdit");
				  })
				  )

		</div>
	
		<div class="edit-section">
			<div id="EditAddUser">
				<div class="fieldset">
					<div class="legend"><span id="EditTitle"></span></div>
					<div class="info">
						<div>
							@Html.TextBoxFor(m => m.FirstName, new { @class="k-textbox k-input", style = "width: 180px;", placeholder = "First Name ..." })<span class="ico ico-required"></span>&nbsp;
							@Html.TextBoxFor(m => m.LastName, new { @class="k-textbox k-input", style = "width: 180px;", placeholder = "Last Name ..." })<span class="ico ico-required"></span>&nbsp;
							@(Html.Kendo().DropDownListFor(m => m.RoleID)
								  .HtmlAttributes(new { style = "width:140px;" })
								  .DataTextField("Text")
								  .DataValueField("Value")
								  .OptionLabel("Select Role...")
								  .DataSource(ds => ds.Read(read => read.Action("EmployeeRoleTypeList", "SupportCenter", new { area = "SupportCenter" })))
								  )
						</div>	
						<div style="margin-top: 6px;">
							@Html.TextBoxFor(m => m.Email, new { @class="k-textbox k-input", style = "width: 250px;", placeholder = "Email ..." })<span class="ico ico-required"></span> &nbsp;
							
							@Html.RadioButtonForSelectList(m => m.Status, Statuses, new { style="display: inline-block;"})
						</div>	
						<div>
							@Html.PasswordFor(m => m.Password, new { @class="k-textbox k-input", style = "width: 180px;", placeholder = "Password ..." })
							&nbsp;
							@Html.PasswordFor(m => m.VerifyPassword, new { @class="k-textbox k-input", style = "width: 180px;", placeholder = "Verify Password ..." })
						</div>
						<div>
							<h4>Employee access to locations can be set from your Location's User Access Section</h4>
						</div>
						<div style="margin-top: 6px;">
							<button id="SendInvitationButton" class="k-button" type="button"><span class="k-icon k-i-maximize"></span> Send Email Invitation...</button>
						</div>
						<div style="margin-top: 4px;">
							<div style="float: left; width: 400px;">
								@Html.ValidationSummary("Please review Errors.")
								@Html.ValidationMessageFor(m => m.Password)	
								@Html.ValidationMessageFor(m => m.VerifyPassword)
								<span id="resultsEmployees" class="update-timestamp" ></span>
							</div>
							<div style="text-align: right; float: right;">
								<button id="saveButtonEmployee" class="k-button" type="button"><span class="k-icon k-update"></span>Save Employee
									<span id="LoadingIconSaveEmployee" style="padding-left: 5px; display: none;">
										<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
									</span>
								</button>
							</div>	
							<div class="fcl"></div>		
						</div>
					</div>
				</div>
			</div>
		</div>

 }
	
</div>
