﻿@using SI.Services.SupportCenter.Models

<script>
	var Packages = {
		addRemovePackage: function (e) {
			var addOrRemove = ($(e.currentTarget).html().indexOf("Add") > 0) ? "Add" : "Remove";
			var data = this.dataItem(this.select());
			var url = '@Url.Action("ManagePackage", "SupportCenter", new { area = "SupportCenter"})';
			var addData = { packageID: data.ID, action: addOrRemove };
			$.post(url, addData, function (data) {
				if (data.success) {
					$("#PackagesGrid").data("kendoGrid").dataSource.read();
				} else {
					SIGlobal.alertDialog("Package " + addOrRemove, data.message, "e");
				}
			});
		},

		packageDatabound: function(e) {
			var grid = $("#PackagesGrid").data("kendoGrid");
			var data = grid.dataSource.data();
			for (var idx = 0; idx < data.length; idx++) {
				var item = data[idx];
				if (item.Selected) {
					row = e.sender.tbody.find("tr[data-uid='" + item.uid + "']");
					row.find(".addRemovebutton a").html("Remove");
					break;
				}
			}
		}
	
	};
</script>

<div class="packages-edit">
	<div class="button-bar">
		<h3>Packages</h3>
	</div>
	<div class="packages-grid">
		@(Html.Kendo().Grid<Package>()
		      .Name("PackagesGrid")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.Selected).ClientTemplate("<span class=#= Selected ? 'ico-selected' : '' # style='display:inline-block;vertical-align: bottom;'></span>").Width(60).Title("Offered").HtmlAttributes(new { @class = "centered-column" });
				      columns.Bound(c => c.Name).Title("Package Name");
				      
				      columns.Command(c => c.Custom("Add").Click("Packages.addRemovePackage")).Width(90).HtmlAttributes(new { @class="addRemovebutton" });
			      })
			      
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("PackagesEditGrid", "SupportCenter")) 
		                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))
			
		      .Sortable()
		      .Resizable(r => r.Columns(false))
		      .Selectable()
		      .Scrollable(s => s.Height("400px"))
		      .Events(e => e.DataBound("Packages.packageDatabound"))
			  )
			
	</div>
</div>