﻿

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>


<script>
	var SupportCenter = {
		currentPrefView: "ThemesVertical",

		InitView: function() {
			if (SIGlobal.selectedSupportCenterSection != "") {
				var mitem = $("#SupportCenterMenu").find("li[view='" + SIGlobal.selectedSupportCenterSection + "']");
				SupportCenter.MenuSCChange({ item: mitem });
			}
		},
		
		menuSupportCenterSelect: function (item) {
			SIGlobal.dirtyFlagConfirm(function (response) {
				if (response == "Yes") SupportCenter.MenuSCChange(item);
			});			
		},
		
		MenuSCChange: function (e) {
			$("#SupportCenterMenu").find(".k-state-selected").removeClass("k-state-selected");
			$(e.item).addClass("k-state-selected");
			
			$("#form" + SupportCenter.currentPrefView).dirtyFlagReset();

			SupportCenter.SwitchSCViews($(e.item).attr("view"));
		},
	
		SwitchSCViews: function (viewName) {
			if ($("#" + viewName).html() == "") {
				$("#" + viewName).load('/SupportCenter/SupportCenter/' + viewName, function () {
					if (SupportCenter.currentPrefView != "") {
						$("#" + SupportCenter.currentPrefView).fadeOut("fast", function () {
							$("#" + viewName).fadeIn("fast");
							SupportCenter.currentPrefView = viewName;
						});
					} else {
						$("#" + viewName).fadeIn("fast");
						SupportCenter.currentPrefView = viewName;
					}
				});
			} else {
				$("#" + SupportCenter.currentPrefView).fadeOut("fast", function () {
					$("#" + viewName).fadeIn("fast");
					SupportCenter.currentPrefView = viewName;
				});
			}
		}

	};

	$(function () {
		$("#LoadingSupportCenter").hide();

		$(".close-window-button").click(function () {
			SIGlobal.closeSupportCenterWindow();
		});

		SupportCenter.InitView();
	});
</script>


<div class="support-center">
	
	<div class="left-panel-menu">
		
		@(Html.Kendo().Menu()
			    .Name("SupportCenterMenu")
			    .Items(m =>
				    {
						//m.Add().Text("Virtual Groups").SpriteCssClasses("ico-group").HtmlAttributes(new { view = "VirtualGroups" });
						m.Add().Text("Themes & Vertical").SpriteCssClasses("ico-theme").HtmlAttributes(new { view = "ThemesVertical" });
						m.Add().Text("Packages").SpriteCssClasses("ico-package").HtmlAttributes(new { view = "Packages" });
						m.Add().Text("Employees").SpriteCssClasses("ico-user").HtmlAttributes(new { view = "Employees" });
						m.Add().Text("Platform Messages").SpriteCssClasses("ico-message").HtmlAttributes(new { view = "PlatformMessages" });
						m.Add().Text("Single-Sign-On").SpriteCssClasses("ico-network").HtmlAttributes(new { view = "SingleSignOn" });
						m.Add().Text("Account Managers").SpriteCssClasses("ico-manager").HtmlAttributes(new { view = "AccountManagers" });
				    })
			    .Orientation(MenuOrientation.Vertical)
			    .Events(e => e.Select("SupportCenter.menuSupportCenterSelect"))
				)  
		
		<div class="close-window-button" >
			<span class="k-icon k-i-close"></span>Close Window
		</div>
	</div>
	<div id="LoadingSupportCenter" class="right-panel-edit">
		<div class="loading-image"></div>
	</div>
	@*<div id="VirtualGroups" class="right-panel-edit" style="display: none;"></div>*@
	<div id="ThemesVertical" class="right-panel-edit" style="display: none;"></div>
	<div id="Packages" class="right-panel-edit" style="display: none;"></div>
	<div id="Employees" class="right-panel-edit" style="display: none;"></div>
	<div id="PlatformMessages" class="right-panel-edit" style="display: none;"></div>
	<div id="SingleSignOn" class="right-panel-edit" style="display: none;"></div>
	<div id="AccountManagers" class="right-panel-edit" style="display: none;"></div>
	
	
</div>



