﻿@using SI.Services.SupportCenter.Models


<script>
	var ThemesVerticals = {
		ApplyTheme: function (e) {
			var data = this.dataItem(this.select());
			var url = '@Url.Action("ApplyTheme", "SupportCenter", new { area = "SupportCenter"})';
			var addData = { themeID: data.ID };
			$.post(url, addData, function(data) {
				if (data.success) {
					SIGlobal.confirmDialog("Theme Applied", "The Theme has been applied. Do you want to Refresh?", function(button) {
						if (button == "Yes")
							document.location.href = '@Url.RouteUrl("DashboardOverview")';
						else {
							$("#ThemesVerticalGrid").data("kendoGrid").dataSource.read();
						}
					});
				} else {
					SIGlobal.alertDialog("Apply Theme", data.message, "e");
				}
			});
		},

		themesDatabound: function(e) {
			var grid = $("#ThemesVerticalGrid").data("kendoGrid");
			var data = grid.dataSource.data();
			for (var idx = 0; idx < data.length; idx++) {
				var item = data[idx];
				if (item.CurrentTheme) {
					row = e.sender.tbody.find("tr[data-uid='" + item.uid + "']");
					row.find(".applybutton a").css("display", "none");
					grid.select(row);
					row.trigger('click');
					break;
				}
			}
		},

		themeSelect: function() {
			var data = this.dataItem(this.select());
			$("#ThemeName").html(data.Name);
			$("#ThemePreviewImage").fadeOut("fast", function() {
				$(this).attr("src", data.ThemePreviewImage).fadeIn("fast");
			})
		}
	};

	
</script>

<div class="themes-verticals-edit">
	<div class="button-bar">
		<h3>Themes and Vertical Markets</h3>
	</div>
	<div class="themes-vertical-grid">
		@(Html.Kendo().Grid<ThemesVertical>()
		      .Name("ThemesVerticalGrid")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.CurrentTheme).ClientTemplate("<span class=#= CurrentTheme ? 'ico-selected' : '' # style='display:inline-block;vertical-align: bottom;'></span>").Width(24).Title("");
				      columns.Bound(c => c.Name).Title("Theme");
				      columns.Bound(c => c.CreateDate).Title("Created").Format("{0:M/dd/yyyy}").Width(90).HtmlAttributes(new { @class = "centered-column" });
				      columns.Command(c => c.Custom("Apply").Click("ThemesVerticals.ApplyTheme")).Width(90).HtmlAttributes(new { @class="applybutton" });
			      })
			      
		      .DataSource(ds => ds.Ajax()
		                          .Read(read => read.Action("ThemesVerticalEditGrid", "SupportCenter")) 
		                          .Model(model => model.Id(a => a.ID)).ServerOperation(false))
			
		      .Sortable()
		      .Resizable(r => r.Columns(false))
		      .Selectable()
		      .Scrollable(s => s.Height("150px"))
		      .Events(e =>
			      {
				      e.DataBound("ThemesVerticals.themesDatabound");
				      e.Change("ThemesVerticals.themeSelect");
			      })
			  )
			
	</div>
	<div class="theme-preview">
		<div class="fieldset">
			<div class="legend">Theme Preview - <span id="ThemeName"></span></div>
			<div class="info">
				<img id="ThemePreviewImage" src=""/>
			</div>
		</div>
	</div>
</div>

