﻿@{
    ViewBag.PageTitle = "Enterprise Reputation & Social Report";
	Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<style>
	.si-right {
		height: 700px;
		overflow: auto;
	}
</style>

<script>	
    $(function () {
        $("#Report").load('@Url.Action("EnterpriseReputationSocialHtml", "Reports", new { area="Reports" })' + '?accountID=' + '220246' + "&printHtml=True", function () { });
    });

    $(function () {
        $("#printButton").click(function () {            
            window.open('@Url.Action("EnterpriseReputationSocialHtml", "Reports", new { area="Reports" })' + '?accountID=' + '220246' + "&printHtml=True")
		})
    });
</script>

<div>
    &nbsp;
    <button id="printButton" type="button" class="k-button">Print</button>
    <br />
</div>
<div id="Report">
    
    &nbsp;
    &nbsp;
	<div class="loading-image-img" style="margin-top: 100px;"></div>
</div>
