﻿
@{
	ViewBag.PageTitle = (string)ViewBag.Title;
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	UriReportSource reportSource = ViewBag.ReportSource as UriReportSource;
	
}
 

<link href="~/Reports/ReportViewer/styles/ReportViewer-7.2.13.1016.min.css" rel="stylesheet" />
<script src="~/Reports/ReportViewer/js/ReportViewer-7.2.13.1016.js"></script>	

<style>
	html#html, body#body, form#form1, div#content { 
        height: 100%;
    }

    #reportViewer1 {
	    min-height: 400px;
	    
    }
	
	.trv-parameters-area .trv-parameter-container {
		vertical-align: top;
		overflow: hidden;
	}

	.trv-parameters-area-content {
		overflow: hidden !important;
	}

	.trv-parameters-area.preview .trv-parameters-area-footer {
		/*position: relative !important;*/
	}

	.trv-parameter-editor-datetime {
		width: 120px;
	}

	.trv-parameter-editor-number {
		width: 120px;
	}

	.trv-parameter-editor-text {
		width: 160px;
	}

	.trv-nav input {
		vertical-align: middle;
		padding: 2px;
		margin-bottom: 0px !important;
	}
</style>


<div id="window"></div>
<div class="reports-content">
	<div id="reportViewer1"><img src="/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" /></div>

	@*	@(Html.TelerikReporting().ReportViewer()
			.Id("reportViewer1")
			.ServiceUrl("/api/reports")
			.TemplateUrl("/Reports/ReportViewer/templates/telerikReportViewerTemplate.html")
			.ReportSource(ViewBag.ReportSource as UriReportSource)
			.ViewMode(ViewModes.INTERACTIVE)
			.ScaleMode(ScaleModes.SPECIFIC)
			.Scale(1.0)
			.PersistSession(false)
	)*@
</div>

<script>
	var accountParam = null;
	
	$(function() {
		$("#window").kendoWindow({
			width: "400px",
			height: "372px",
			title: "Post Image",
			actions: ["Close"],
			visible: false
		});

		$("#reportViewer1").telerik_ReportViewer({
			serviceUrl: "/api/reports/",
			templateUrl: "/Reports/ReportViewer/templates/telerikReportViewerTemplate.html",
			scaleMode: "SPECIFIC",
			persistSession: false,
			reportSource: {
				report: '@ViewBag.ReportFileName',
				parameters: {
					@foreach (var pItem in reportSource.Parameters)
					{
						string pstr = string.Format("{0}: {1},", pItem.Name, pItem.Value);
						@pstr;
					}
				}
			},
			parameterEditors: [
				//Account Picker, multiSelect
				{
					match: function(parameter) {
						return Boolean(parameter.name == "accountList") && !parameter.multivalue;
					},
					createEditor: function(placeholder, options) {
						var accountsElement = $(placeholder).html("<div></div>"),
						    parameter,
						    valueChangedCallback = options.parameterChanged,
						    multiSelectList;

						function onChange() {
							var val = multiSelectList.value().join();
							valueChangedCallback(parameter, val);
						}

						return {
							beginEdit: function(param) {
								parameter = param;
								$(accountsElement).css("width", "380px");
								
								$(accountsElement).kendoMultiSelect({
									placeholder: "Select ...",
									dataTextField: "Text",
									dataValueField: "Value",
									delay: 800,
									autoClose: false,
									//autoBind: false,
									//minLength: 1,
									dataSource: {
										type: "json",
										serverFiltering: true,
										transport: {
											read: {
												url: '@Url.Action("ReportAccounts", "Reports")',
												data: function(e) {
													var filter = "";
													if (e.filter && e.filter.filters && e.filter.filters.length > 0)
														filter = e.filter.filters[0].value;
													return {
														dealerFilter: filter
													};
												} } }
									},
									change: onChange
								});

								multiSelectList = $(accountsElement).data("kendoMultiSelect");
							}
						};
					}
				},
				//Review Source Pick, MultiSelect
				{
					match: function (parameter) {
						return Boolean(parameter.name == "reviewSourceList") && !parameter.multivalue;
					},
					createEditor: function (placeholder, options) {
						var RSElement = $(placeholder).html("<div></div>"),
						    parameter,
						    valueChangedCallback = options.parameterChanged,
						    multiSelectListRS;

						function onChangeRS() {
							var val = multiSelectListRS.value().join();
							valueChangedCallback(parameter, val);
						}

						return {
							beginEdit: function (param) {
								parameter = param;
								$(RSElement).css("width", "220px");

								$(RSElement).kendoMultiSelect({
									placeholder: "Select ...",
									dataTextField: "Name",
									dataValueField: "ID",
									autoClose: false,
									dataSource: {
										type: "json",
										transport: {
											read: {
												url: '@Url.Action("ReviewSourceList", "Reputation", new { area = "Reputation" })',
											}
										}
									},
									change: onChangeRS
								});

								multiSelectListRS = $(RSElement).data("kendoMultiSelect");
							}
						};
					}
				},
				//Virtual Group Select, dropdown
				{
					match: function (parameter) {
						return Boolean(parameter.name == "virtualGroup") && !parameter.multivalue;
					},
					createEditor: function (placeholder, options) {
						var VGElement = $(placeholder).html("<div></div>"),
						    parameterVG,
						    valueChangedCallbackVG = options.parameterChanged,
						    virtualGroupSelect;

						function onChangeVG() {
							var val = virtualGroupSelect.value();
							valueChangedCallbackVG(parameterVG, val);
						}

						return {
							beginEdit: function (param) {
								parameterVG = param;
								$(VGElement).css("width", "160px");

								$(VGElement).kendoDropDownList({
									optionLabel: "Select ...",
									dataTextField: "Text",
									dataValueField: "Value",
									dataSource: {
										type: "json",
										transport: {
											read: {
												url: '@Url.Action("VirtualGroupList", "Reputation", new { area = "Reputation" })',
											}
										}
									},
									change: onChangeVG
								});

								virtualGroupSelect = $(VGElement).data("kendoDropDownList");
							}
						};
					}
				}



			]
		});

	})

	function ShowImage(imageUrl, linkUrl, type) {
		
		if (type == "Photo") {
			$("#window").data("kendoWindow").content("<img src='@ViewBag.AssetPath" + imageUrl + "'/>").center().open().title("Post Image");
		}
		if (type == "Link")
			window.open(linkUrl)
	}
	
	function ShowText(text) {
		$("#window").data("kendoWindow").content(text).center().open().title("Post Message");
	}
</script>