﻿@using SI.Services.Reports.Models
@using SI.WEB.Portal.Models
@{
	ViewBag.PageTitle = "SAM Report";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}

<script>

	$(function () {
		$("#activeFilter").click(function () {
			if ($(".stream-filter").css("display") == "block")
				$(".stream-filter").slideUp("fast");
			else
				$(".stream-filter").slideDown("fast");
		});
		
		$("#SDOnly").click(function() {
			var sdonly = "0";
			if ($(this).prop("checked"))
				sdonly = "1";

			var ds = $("#SAMReportList").data().kendoGrid.dataSource;
			ds.transport.options.read.url = '@(Url.Action("SAMReportGrid", "Reports"))' + "?timeFrame=" + $("#TimeFrameFilter").val() + "&sdonly=" + sdonly;
			ds.read();
		});
	});

	function filterAM(e) {
		var sdonly = "0";
		if ($("#SDOnly").prop("checked"))
			sdonly = "1";
		
		var filterSel = $("#TimeFrameFilter").val();
		if (filterSel != "Custom") {
			var ds = $("#SAMReportList").data().kendoGrid.dataSource;
			ds.transport.options.read.url = '@(Url.Action("SAMReportGrid", "Reports"))' + "?timeFrame=" + $("#TimeFrameFilter").val() + "&sdonly=" + sdonly;
			ds.read();
		} else {
			$(".stream-filter").slideDown("fast");
			$(".filter-dates").fadeIn();
		}
	}
	
</script>

<div class="reputation-sites">
	<div class="filters-group">
		
		
		@(Html.Kendo().DropDownList().Name("TimeFrameFilter")
		      .HtmlAttributes(new {style = "width:125px;"})
		      .DataTextField("Text")
		      .DataValueField("Value")
		      .Events(e => e.Change("filterAM"))
		      .BindTo(new List<SelectListItem>()
			      {
				      new SelectListItem() {Text = "All Time", Value = "All Time", Selected = true},
				      new SelectListItem() {Text = "Last Month", Value = "Last Month"},
				      new SelectListItem() {Text = "Current Month", Value = "Current Month"},
				      new SelectListItem() {Text = "Week", Value = "Week"},
				      new SelectListItem() {Text = "24h", Value = "24h"},
					  new SelectListItem() {Text = "Custom", Value = "Custom"}
			      })
						
			  )
		<div style="float: left;">
			@Html.CheckBoxWithLabel("SDOnly", "Show SD Employees Only")
		</div>
	</div>
	<div class="button-filter-section">
		<div class="action-button"><div id="filterLabel"><span>Current Filters: </span><span id="filterItems"></span></div><button class="k-button" type="button" id="activeFilter"><span class='k-icon k-i-expand'></span>Advanced Filter</button></div>
	</div>
	<div class="fcl"></div>
	<div class="stream-filter">
		@Html.Partial("_ReviewFiltering", new ReviewFilteringParameters{ menuItems = "dates", gridSelector = "#SAMReportList", datesFieldName = "ReviewDate"})
	</div>
	<div class="sites-grid">
		@(Html.Kendo().Grid<SAMReport>()
			.Name("SAMReportList")
			.Columns(columns =>
				{
					columns.Bound(c => c.LastName).ClientTemplate("<div>#=FirstName# #=LastName#</div>").Title("SAM").HtmlAttributes(new { style="vertical-align: middle; font-weight: bold;" });
					columns.Bound(c => c.TotalDealers).Title("Total Dealer").HtmlAttributes(new { @class="centered-column" });
					columns.Bound(c => c.NumberOfReviews).Title("# Reviews").ClientTemplate("<a href=''>#=NumberOfReviews#</a>").HtmlAttributes(new { @class = "centered-column" });
					columns.Bound(c => c.Read).HtmlAttributes(new { @class = "centered-column" });
					columns.Bound(c => c.UnRead).Title("Unread").HtmlAttributes(new { @class = "centered-column" });
					columns.Bound(c => c.Responded).HtmlAttributes(new { @class = "centered-column" });
					columns.Bound(c => c.UnRespondedTotal).ClientTemplate("<div>#=UnRespondedTotal#</div><div><a href=''>#=UnRespondedPositive#</a> / <a href=''>#=UnRespondedNegative#</a></div>").Title("Un-Responded").HtmlAttributes(new { @class = "centered-column" });
				})
			.DataSource(ds => ds.Ajax()
				.Events(events => events.Error("SIGlobal.gridErrorHandler"))
				.Read(read => read.Action("SAMReportGrid", "Reports", new { timeFrame = "All Time", sdonly="0" }))
				.Model(model => model.Id(a => a.AccountManagerID))
				.PageSize(100))
			.Sortable()
			.Resizable(r => r.Columns(true))
			.HtmlAttributes(new { style = "height:740px;" })
			.Scrollable(s => s.Virtual(true))
			.Pageable(p =>
				{
					p.Enabled(true);
					p.Refresh(true);
					p.Numeric(false);
					p.PreviousNext(false);
					//p.PageSizes(true);
					p.Messages(m => m.Display("{2} Total SAM").Empty("No SAM found.").ItemsPerPage("SAM's per page"));

				})
			)
		
		
		

	</div>
</div>
