﻿@{
    ViewBag.PageTitle = "Review Sites";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;

}

@section Header
{
	<script src="@Url.Content("~/Areas/Reputation/Views/Reputation/ReviewSites.min.js")"></script>	
}

<div class="reputation-sites" style="min-height: 1000px;">
	
	<div style="margin-bottom: 18px;">
		
		@(Html.Kendo().Chart<ReputationSitesReview>()
		      .Name("chartSocial")
		      .Title("Avg. Review Score/Source Last 6 Months")
		      .Theme("flat")
		      .Legend(legend => legend.Position(ChartLegendPosition.Bottom))
		      .ChartArea(chartArea => chartArea.Background("#f7f7fa").Margin(16).Border(b => b.DashType(ChartDashType.Solid).Color("#C5C5C5").Width(1)))
		      .SeriesDefaults(seriesDefaults => seriesDefaults.Line().Width(2).MissingValues(ChartLineMissingValues.Zero))
		      .DataSource(ds => ds.Read(read => read.Action("ReviewSourceLast6Month", "Reputation"))
		                          .Group(group => group.Add(m => m.ReviewSource))				
		                          .Sort(sort => sort.Add(m => m.MonthDate).Ascending()))
			  .Series(series => series.Line(m => m.AvgRating).Name("#= group.value #"))
			  .SeriesColors("#2e6707","#691a9e","#51c900","#e95503","#004990", "#e04a32","#00aeef","#0000ff", "#fbcf00", "#b60200")				  
		      .CategoryAxis(axis => axis.Categories(m => m.MonthDate).Labels(l => l.Format("MMMM")))
		      .ValueAxis(axis => axis.Numeric().Labels(labels => labels.Format("{0}")).Line(line => line.Visible(false)).AxisCrossingValue(0).Max(5))
		      .Tooltip(tooltip => tooltip.Visible(true).Color("#FFF").Template("#= series.name #: #= value #")))
	</div>

	<div class="filters-group">


		@*        @(Html.Kendo().DropDownList().Name("TimeFrameFilter")
              .HtmlAttributes(new { style = "width:125px;" })
              .DataTextField("Text")
              .DataValueField("Value")
              .Events(e => e.Change("filterSites"))              
              .BindTo(new List<SelectListItem>()
			      {
				      new SelectListItem() {Text = "All Time", Value = "All Time", Selected = true},
				      new SelectListItem() {Text = "Last Month", Value = "Last Month"},
				      new SelectListItem() {Text = "Current Month", Value = "Current Month"},
				      new SelectListItem() {Text = "Week", Value = "Week"},
				      new SelectListItem() {Text = "24h", Value = "24h"},
				      new SelectListItem() {Text = "Custom", Value = "Custom"}
			      })

              )*@

	</div>
	
@*<div class="button-filter-section">
	    <div class="action-button">
            <div id="filterLabel"><span>Current Filters: </span><span id="filterItems"></span></div>
		    <button class="k-button" type="button" id="activeFilter"><span class='k-icon k-i-expand'></span>Advanced Filter</button>

	    </div>
	</div>
	*@
	<div class="fcl"></div>
	<div class="stream-filter">
		@Html.Partial("_ReviewFiltering", new ReviewFilteringParameters { menuItems = "dates,sites,locations", gridSelector = "#ReviewSitesList", datesFieldName = "ReviewDate" })
	</div>
	
	
@if (baseModel.UserInfo.EffectiveUser.ViewReviewSiteGrid)
{
	<div class="sites-grid" style="visibility: hidden;">
		@(Html.Kendo().Grid<Sites>()
		      .Name("ReviewSitesList")
		      .Columns(columns =>
			      {
				      columns.Bound(c => c.SiteName).Title("Review Site").ClientTemplate("<img src='#=SiteImageUrl#'/></div></div>").HtmlAttributes(new {@class = "site-name-column"}).Width(140);
				      columns.Bound(c => c.AverageReviewScore).Title("Avg Score").HtmlAttributes(new {@class = "centered-column"});
				      columns.Bound(c => c.NumberOfReviews).Title("# Reviews").ClientTemplate("<div class='reputation-filter-links' data-filter='#=NumberofReviewsFilter#'>#=NumberOfReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
				      columns.Bound(c => c.PositiveReviews).Title("Positive").ClientTemplate("<div class='reputation-filter-links' data-filter='#=PositiveReviewsFilter#'>#=PositiveReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
				      columns.Bound(c => c.NegativeReviews).Title("Negative").ClientTemplate("<div class='reputation-filter-links' data-filter='#=NegativeReviewsFilter#'>#=NegativeReviews#</div>").HtmlAttributes(new {@class = "centered-column"});
				      //columns.Bound(c => c.FilteredTotal).Title("Filtered").ClientTemplate("<div class='reputation-filter-links' data-filter='#=FilteredTotalFilter#' title='Total'>#=FilteredTotal#</div><div><span class='reputation-filter-links' data-filter='#=FilteredPositiveFilter#' title='Positive'>#=FilteredPositive#</span> / <span class='reputation-filter-links' data-filter='#=FilteredNegativeFilter#' title='Negative'>#=FilteredNegative#</span></div>").HtmlAttributes(new { @class = "centered-column" });
				      columns.Bound(c => c.LastReview).Format("{0:MM/dd/yyyy}").Title("Last Review").HtmlAttributes(new {@class = "centered-column"}).Width(160);
				      //columns.Bound(c => c.UnReadTotal).Title("Unread").ClientTemplate("<div class='reputation-filter-links' data-filter='#=UnReadTotalFilter#' title='Total'>#=UnReadTotal#</div><div><span class='reputation-filter-links' data-filter='#=UnReadPositiveFilter#' title='Positive'>#=UnReadPositive#</span> / <span class='reputation-filter-links' data-filter='#=UnReadNegativeFilter#' title='Negative'>#=UnReadNegative#<span></div>").HtmlAttributes(new { @class = "centered-column" });
				      //columns.Bound(c => c.UnRespondTotal).Title("Unrespond").ClientTemplate("<div class='reputation-filter-links' data-filter='#=UnRespondTotalFilter#' title='Total'>#=UnRespondTotal#</div><div><span class='reputation-filter-links' data-filter='#=UnRespondPositiveFilter#' title='Positive'>#=UnRespondPositive#</span> / <span class='reputation-filter-links' data-filter='#=UnRespondNegativeFilter#' title='Negative'>#=UnRespondNegative#</span></div>").HtmlAttributes(new { @class = "centered-column" });
			      })
		      .DataSource(ds => ds.Ajax()
		                          .Events(events => events.Error("SIGlobal.gridErrorHandler"))
		                          .Read(read => read.Action("ReviewSitesGrid", "Reputation", new {timeFrame = "All Time"}))
		                          .Model(model => model.Id(a => a.SiteID))
		                          .PageSize(100)
		                          .ServerOperation(true))
		      .AutoBind(false)
		      .Sortable()
		      .Events(e => e.DataBound("sitesDataBound"))
		      .Resizable(r => r.Columns(true))
			  // .HtmlAttributes(new { style = "height:740px;" })
		      .Scrollable(s => s.Enabled(false))
		      .Pageable(p => p.Enabled(false))
			  )




	</div>
}
</div>
<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
    <input id="filterParameters" name="filterParameters" type="hidden" value="" />
</form>

<script>
    $(function () {
	    Init();
    });
</script>
