﻿
<script>

	function getTypeImage(type) {
		var templt = kendo.template($("#type-template").html());
		return templt({ Type: type });
	}

	function getDescription(PostDescription, PostImageUrl, PostLinkURL) {
		var templt = kendo.template($("#desc-template").html());
		return templt({ PostDescription: PostDescription, PostImageUrl: PostImageUrl, PostLinkURL: PostLinkURL });
	}


</script>

<script type="text/x-kendo-template" id="desc-template">
	<div>
		#if (PostImageUrl != ''){#
			<img src='/ImageSizer?image=#=PostImageUrl#&w=48' class='post-image'/>
		#}#
		#if (PostLinkURL != ''){#
			<a href='#=PostLinkURL#' target='_blank'>Post Link </a>
		#}#
		#=PostDescription#
	</div>
</script>

<script type="text/x-kendo-template" id="type-template">
	#if (Type == "Photo"){#
		<span class='post-#=Type#-icon s-icon' title='Photo'/>
	#} else if (Type == "Link"){#
		<span class='post-#=Type#-icon s-icon' title='Link'/>
	#} else {#
		<span class='post-#=Type#-icon s-icon' title='#=Type#'/>
	#}#

</script>

<div class="facebook-stats">
	
	<div class="stats-grid">
		
		
	@(Html.Kendo().Grid<FaceBookPostStatistics>()
		      .Name("FaceBookPostStatistics")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.PubishDate).Title("Published").ClientTemplate("<div>#=PubishDateText#</div><div class='timezone'>#=PublishTime#</div>").HtmlAttributes(new { @class = "centered-column" }).Width(100);
					  columns.Bound(c => c.AccountName).Title("Account").Width(140).HtmlAttributes(new { @class = "overflow-column" });
					  columns.Bound(c => c.PostDescription).Sortable(false).Title("Post").ClientTemplate("#=getDescription(PostDescription, PostImageUrl, PostLinkURL)#").HtmlAttributes(new { @class = "overflow-column" });
					  columns.Bound(c => c.PostType).Title("Type").ClientTemplate("#=getTypeImage(PostType)#").HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.Reach).Format("{0:n0}").HeaderHtmlAttributes(new {@class="small-header"}).HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.Likes).Format("{0:n0}").HeaderHtmlAttributes(new { @class = "small-header" }).HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.Comments).Format("{0:n0}").HeaderHtmlAttributes(new { @class = "small-header" }).HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.Shares).Format("{0:n0}").HeaderHtmlAttributes(new { @class = "small-header" }).HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.Impressions).Format("{0:n0}").HeaderHtmlAttributes(new { @class = "small-header" }).HtmlAttributes(new { @class = "centered-column" }).Width(70);

			      })
		      .DataSource(ds => ds.Ajax().Read(read => read.Action("FaceBookPostStatisticsGrid", "Social"))
				  .Model(model => model.Id(a => a.PostID))
				  .PageSize(100)
				  .ServerOperation(true))
		      .AutoBind(true)
		      .Sortable()
		      .Resizable(r => r.Columns(true))
			  //.HtmlAttributes(new {style = "height:740px;"})
		      .Scrollable(s => s.Virtual(true).Height(600))
			  .Pageable(p =>
				  {
					  p.Enabled(true);
					  p.Refresh(true);
					  p.Numeric(false);
					  //p.PreviousNext(false);
					  p.PageSizes(new int[] { 25, 50, 100, 200 });
					  p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Posts").Empty("No Posts found.").ItemsPerPage("Posts per page"));

				  })
			  )	
	</div>
	
	

</div>