﻿
@model RevisePost

@{
	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
	

	string showLink = "";
	string showLinkImage = "";
	int imageInit = 0;
	if (Model.IsLinkPostType || !string.IsNullOrEmpty(Model.ImageUrl))
	{
		showLink = "style=display:block;";
		if (Model.LinkImageUrl != "")
		{
			showLinkImage = "style=display:inline-block;";
			imageInit = 1;
		}
	}

	string postImages = "";
	string showUploadImage = "";
	string hideLinkPreview = "";
	if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		string[] images = Model.ImageUrl.Split(',');
		foreach (string image in images)
		{
			postImages += string.Format("<img src='{0}{1}' />", Model.UploadImagePath, image);
		}
		showUploadImage = "style=display:block;";
		hideLinkPreview = "style=display:none;";
	}
	
}
@functions
{
	bool NetworkAllowed(string network)
	{
		switch (network.ToLower())
		{
			case "facebook":
				return !Model.PublishOptions.ForbidFacebookTargetChange;
			case "twitter":
				return !Model.PublishOptions.ForbidTwitterTargetChange;
			case "google":
				return !Model.PublishOptions.ForbidGoogleTargetChange;
		}

		return true;
	}

}

<script src="~/assets/script/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/script/jquery.autogrow-textarea.js"></script>

<script src="@Url.Content("~/Areas/Social/Views/Shared/ReviseSyndicationPost.min.js")"></script>	

@using (Ajax.BeginForm("ReviseSyndicationPost", "Social", new { area = "Social" },
	new AjaxOptions
	{
		OnBegin = "RevisePost.BeginSubmit",
		OnSuccess = "RevisePost.MessageSave",
		OnFailure = "RevisePost.SaveFailure",
		LoadingElementId = "LoadingIconSave",
		LoadingElementDuration = 2000
	}, new { @id = "formRevisePost" }))
{
	
	@Html.HiddenFor(m => m.ImageUrl)
	@Html.HiddenFor(m => m.PostID)
	@Html.HiddenFor(m => m.AccountID)
	@Html.HiddenFor(m => m.SendDate)
	
	
	<div class="social-publish">
		<h3>Edit a Message - For @Model.LocationName</h3>
	</div>
	<div class="social-compose-message">
		
		<div>@Model.Problems</div>
		<div style="margin-left: 10px; margin-bottom: 10px;">
			
			<div class="message-section" style="position: relative;">
				@if (Model.PublishOptions.AllowChangeMessage)
				{
					@Html.TextAreaFor(m => m.Message, 2, 240, new {style = "width: 97%;", placeholder = "Message Text ..."})
				}
				else
				{
					<div class="read-only-box" style = "width: 97%;">
						@Html.DisplayFor(m => m.Message)
						@Html.HiddenFor(m => m.Message)
					</div>
				}
				<div class="message-count-bar">
					<div style="float:left;"><span class="message-count">0</span> total characters &nbsp; <span id="twitterCounter" style="display:inline;"><span id="twitterRemaining">140</span> remaining Twitter characters</span></div>
					<div style="float: right;">http:// or https:// required for auto-links.</div>
				</div>
				<div class="fcl"></div>
				<div class="message-action-bar">
					@(Html.Kendo().Upload()
					      .Name("ImageUpload")
					      .Multiple(true)
						  .Enable(Model.PublishOptions.AllowChangeImage)
					      .Messages(m => m.DropFilesHere("Drop files to Upload").Select("Add Image..."))
					      .Async(a =>
						      {
							      a.Save("PostImageUpload", "Social", new {area = "Social"});
							      a.Remove("PostImageUploadRemove", "Social", new {area = "Social"});
							      a.AutoUpload(true);
						      })
					      .Events(e =>
						      {
							      e.Error("RevisePost.UploadError");
							      e.Success("RevisePost.UploadSuccess");
							      e.Upload("RevisePost.PreUpload");
							      e.Complete("RevisePost.UploadCompleted");
							      e.Remove("RevisePost.UploadRemove");
						      })

						  )
					&nbsp;
					<div class="add-url-bar">
						<label>Add Link URL: </label>
						@if (Model.PublishOptions.AllowChangeLinkURL)
						{
							@Html.TextBoxFor(m => m.LinkUrl, new {style = "width: 400px;margin-bottom: 0;", placeholder = "Enter Link URL here, then Add ..."})
							<button id="AddLinkButton" class="k-button" type="button" ><span class="k-icon k-i-plus"></span>Add</button>
						}
						else
						{
							<div class="read-only-box" style = "width: 400px;vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;" >
								@Html.DisplayFor(m => m.LinkUrl)
								@Html.HiddenFor(m => m.LinkUrl)
							</div>
						}
						
						<div class="many-images">Multiple images may only be used with Facebook.</div>
					</div>
				
				</div>
			</div>
			<div class="link-section" @showLink>
				<div class="fieldset">
					<div class="legend">Previews</div>
					<div id="UploadedImagePreview" @showUploadImage >@Html.Raw(postImages)</div>
					<div id="LoadingPreviewIcon"></div> 
					<div id="Previews" @hideLinkPreview >
						<div class="image-viewer">
							<div style="min-height: 100px; ">
								<span id="leftImage" class="leftImageIcon" title="Previous"></span> <span id="ImagePlaceHolder" ></span><img id="LinkImage" src="@Model.LinkImageUrl" @showLinkImage/> <span id="rightImage" class="rightImageIcon" title="Next"></span>
							</div>
							<div class="thumbnail-count">Thumbnail <span id="imageNum">1</span> of <span id="imageCount">1</span></div>
						</div>
						<div class="link-details">
							<div>
								@if (Model.PublishOptions.AllowChangeLinkText)
								{
									@Html.TextBoxFor(m => m.LinkTitle, new {style = "width: 700px;margin-bottom: 2px;font-size: 12px;", placeholder = "Link Title..."})
								}
								else
								{
									<div class="read-only-box" style = "width: 700px;">
										@Html.DisplayFor(m => m.LinkTitle)
										@Html.HiddenFor(m => m.LinkTitle)
									</div>
								}
							</div>
							<div id="LinkUrlDisplay"></div>
							<div>
								@if (Model.PublishOptions.AllowChangeLinkText)
								{
									@Html.TextAreaFor(m => m.LinkMessage, 2, 120, new {style = "width: 700px;font-size: 12px;", placeholder = "Link Description..."})
								}
								else
								{
									<div class="read-only-box" style = "width: 700px;">
										@Html.DisplayFor(m => m.LinkMessage)
										@Html.HiddenFor(m => m.LinkMessage)
									</div>	
								}
							</div>
							<div>
								@{
									object htmlDisabled = null;
									if (!Model.PublishOptions.AllowChangeLinkThumb)
									{
										htmlDisabled = new { disabled = "disabled" };
									}
								}

								@Html.CheckBoxForWithLabel(m => m.IsNoThumbNail, "No Thumbnail", htmlDisabled)
							</div>
							<div>
								<label>Thumbnail URL: </label>&nbsp;
								@if (Model.PublishOptions.AllowChangeLinkThumb)
								{
									@Html.TextBoxFor(m => m.LinkImageUrl, new {style = "width: 600px;font-size: 12px;", placeholder = "Link Image..."})
								}
								else
								{
									<div class="read-only-box" style = "width: 600px;vertical-align: middle; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
										@Html.DisplayFor(m => m.LinkImageUrl)
										@Html.HiddenFor(m => m.LinkImageUrl)
									</div>	
								}

							</div>
						</div>
					</div>
					<div class="fcl"></div>
				</div>
			</div>
		</div>
		
		@Html.HiddenFor(m => m.TargetNetworks)
		@if (Model.PublishOptions.AllowChangeTargets)
		{
			<div>
				<div class="fieldset">
					<div class="legend">Social Networks</div>
					<div class="target-networks">
						<table>
							<tr>
								@foreach (RevisePost.SocialNetwork net in Model.SocialNetworks)
								{
									<td><input class="targetnetwork" type="checkbox" @(NetworkAllowed(net.NetworkName) ? "" : "readonly=readonly") id="Network_@(net.NetworkName)" value="@net.NetworkID" @( net.Selected ? "checked" : "") /></td>
									<td>
										<a href="@(net.NetworkURL)" target="_blank" title="@(net.ScreenName)">
											<span class="@(net.NetworkName.ToLower())-icon n-icon"></span>
										</a>
									</td>
								}
							</tr>
						</table>	
					</div>
				</div>
			</div>
		}
	<div class="post-date-section">	
		<div class="fieldset">
			<div class="legend">Post Date & Time</div>
			<div class="select-time-bar">
				<label class="PostTypeLabel" style="font-weight: bold;" for="PostType_1">Post On </label>
				@(Html.Kendo().DatePicker()
					  .Name("PostDate")
					  .Value(Model.SendDate)
					  .Format("M/dd/yyyy")
					  .ParseFormats(new[] { "MM/dd/yyyy", "MM-dd-yyyy" })
					  .Min(Model.PublishOptions.MinNewPublishDate.GetValueOrDefault().ToShortDateString())
					  .Max(Model.PublishOptions.MaxNewPublishDate.GetValueOrDefault().ToShortDateString())
					  .Footer("Today - #=kendo.toString(data, 'd') #")
					  .Events(e => e.Change("RevisePost.postTimeChange"))
					  .Enable(Model.PublishOptions.AllowChangePublishDate)
					  )
				&nbsp;
				@(Html.Kendo().TimePicker()
					.Name("SendTime")
					.Value(Model.SendDate)
					.Interval(15)
					.Min(Model.SendDate)
					.Enable(Model.PublishOptions.AllowChangePublishDate)
					.Events(e => e.Change("RevisePost.SetPostTimeDate"))
				)
				&nbsp;
				@Model.UserTimeZone
				&nbsp;
				<span id="timeDelta"></span>
				
			</div>
		</div>
	</div>

		<div class="action-bar">
			<div style="float:left; width: 400px;">
				@Html.ValidationSummary("Please review Errors.")
				<span id="resultSave" class="update-timestamp" ></span>
			</div>
			<div style="float: right">
				@*@Html.CheckBoxForWithLabel(m => m.IsAllowRevisions, "Allow Revisions")*@
				<button id="ResetButton" class="k-button" style="width: 140px;" type="button"><span class="k-icon k-i-refresh"></span> Reset</button>&nbsp;&nbsp;
				<button id="PostButton" class="k-button" style="width: 160px; font-weight: bold;" type="button"><span class="k-icon k-i-tick"></span> Update Post
					<span id="LoadingIconSave" style="padding-left: 5px; display: none;">
						<img src="~/assets/style/aristo/images/loading.gif" style="vertical-align: middle;" />
					</span>
				</button>
			</div>
			<div class="fcl"></div>
		</div>
		
	</div>
	
	<script>
		$(function () {
			RevisePost.Init('@imageInit', '@Model.UploadImagePath',
				'@Model.PublishOptions.RequireMessage.ToString().ToLower()',
				'@Model.PublishOptions.RequireImage.ToString().ToLower()',
				'@Model.PublishOptions.RequireLinkURL.ToString().ToLower()',
				'@Model.PublishOptions.AllowChangeTargets.ToString().ToLower()');
			
			@if (Model.ForceLinkScrape && Model.PublishOptions.AllowChangeLinkThumb)
			{
				<text>
					RevisePost.AutoLinkScrap($("#LinkUrl").val(), true);
				</text>
			}
		})
	</script>

}
