﻿
<style>
	.k-checkbox {
		display: none !important; /*Hide checkboxes  now*/
	}
	.k-treeview .k-item {
		padding: 0 0 0 3px !important;
	}
</style>

<script src="@Url.Content("~/Areas/Social/Views/Shared/StreamAccountPicker.min.js")"></script>	

<script id="treeview-template" type="text/kendo-ui-template">
	<div class="name" title="#=item.Name#">#=item.Name#</div>
	<div class="notif">#=item.Notifications#</div>
</script>

<div class="account-picker">
	<div class="title">Accounts</div>
	<div class="treeview">
		@(Html.Kendo().TreeView()
		      .Name("AccountsTreeView")
		      .Checkboxes(c => c.Name("checkAccounts"))
		      .DataSpriteCssClassField("SpriteCssClasses")
			  .TemplateId("treeview-template")
		      //.DataTextField("Name")
		      .DataSource(ds => ds.Read(read => read.Action("StreamAccountList", "Social", new { area = "Social" })).Model(m => m.Id("ID")))
		      .Events(e => e.Select("treeSelect").DataBound("treeDataBound"))
		      .ItemAction(item =>
			      {
				      item.Checked = item.Expanded;
				      item.Selected = item.Checked;
				      
			      })
			  )
	</div>
	@*<div id="LoadStream">Load Stream</div>*@
</div>

