﻿

<script>
	
	function getCheckImage(showImage) {
		if (showImage) {
			return "<div class='ico-selected' style='display:inline-block;'></div>";
		}
		return "";
	}

	function getTwitterDescription(PostDescription, PostImageUrl, PostLinkURL) {
		var templt = kendo.template($("#desc-twitter-template").html());
		return templt({ PostDescription: PostDescription, PostImageUrl: PostImageUrl, PostLinkURL: PostLinkURL });
	}

</script>

<script type="text/x-kendo-template" id="desc-twitter-template">
	<div>
		#if (PostImageUrl != ''){#
			<img src='/ImageSizer?image=#=PostImageUrl#&w=48' class='post-image'/>
		#}#
		#if (PostLinkURL != ''){#
			<a href='#=PostLinkURL#' target='_blank'>Post Link </a>
		#}#
		#=PostDescription#
	</div>
</script>

<div class="twitter-stats">
	
	<div class="stats-grid">
		
		
	@(Html.Kendo().Grid<TwitterPostStatistics>()
		      .Name("TwitterPostStatistics")
		      .Columns(columns =>
			      {
					  columns.Bound(c => c.PubishDate).Title("Published").ClientTemplate("<div>#=PubishDateText#</div><div class='timezone'>#=PublishTime#</div>").HtmlAttributes(new { @class = "centered-column" }).Width(100);
					  columns.Bound(c => c.AccountName).Title("Account").Width(140).HtmlAttributes(new { @class = "overflow-column" });
					  columns.Bound(c => c.PostDescription).Sortable(false).Title("Post").ClientTemplate("#=getTwitterDescription(PostDescription, PostImageUrl, PostLinkURL)#").HtmlAttributes(new { @class = "overflow-column" });
					  columns.Bound(c => c.PostType).Title("Type").ClientTemplate("#=getTypeImage(PostType)#").HtmlAttributes(new { @class = "centered-column" }).Width(70);
					  columns.Bound(c => c.ReTweets).Format("{0:n0}").Title("ReTweets").HtmlAttributes(new { @class = "centered-column" }).Width(90);
					  columns.Bound(c => c.IsRetweeted).Title("Retweeted").ClientTemplate("#=getCheckImage(IsRetweeted)#").HtmlAttributes(new { @class = "centered-column" }).Width(90);
					  columns.Bound(c => c.IsFavorited).Title("Favorited").ClientTemplate("#=getCheckImage(IsFavorited)#").HtmlAttributes(new { @class = "centered-column" }).Width(90);
			      })
		      .DataSource(ds => ds.Ajax().Read(read => read.Action("TwitterPostStatisticsGrid", "Social"))
				  .Model(model => model.Id(a => a.PostID))
				  .PageSize(100)
				  .ServerOperation(true))
		      .AutoBind(true)
		      .Sortable()
		      .Resizable(r => r.Columns(true))
			  //.HtmlAttributes(new {style = "height:740px;"})
		      .Scrollable(s => s.Virtual(true).Height(600))
			  .Pageable(p =>
				  {
					  p.Enabled(true);
					  p.Refresh(true);
					  p.Numeric(false);
					  //p.PreviousNext(false);
					  p.PageSizes(new int[] { 25, 50, 100, 200 });
					  p.Messages(m => m.Display("Scroll to page, showing {0}-{1} from {2} Posts").Empty("No Tweets found.").ItemsPerPage("Tweets per page"));

				  })
			  )	
	</div>
	
	

</div>