﻿@model Overview

@{
    ViewBag.PageTitle = "Overview";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";

	BaseMembersModel baseModel = ViewBag.BaseModel as BaseMembersModel;
}

<script>
    $(function () {

        $(".reputation-filter-links").click(function () {
            var filter = $(this).data("filter");
            $("#filterParameters").val(filter);
            $("#ReviewStreamForm").submit();
        });

    });

</script>


<div class="dashboard-overview">
	@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewReputation)
	{
		<div class="reputation-overview">
			<form id="ReviewStreamForm" action="@Url.RouteUrl("ReputationReviewStreamFilter")" method="POST">
				<input id="filterParameters" name="filterParameters" type="hidden" value="" />
				<div class="dealer-info">
					<div style="margin-bottom: 18px;">
						@(Html.Kendo().Chart()
						      .Name("chartReputation")
						      .Title("Reputation Last 3 Months")
							  .Theme("flat")
						      .Legend(legend => legend
							                        .Position(ChartLegendPosition.Bottom)
							  )
						      .ChartArea(chartArea => chartArea
							                              .Background("transparent")
							  )
						      .SeriesDefaults(seriesDefaults =>
						                      seriesDefaults.Line()
							  )
						      .Series(series =>
							      {
								      series.Line(new int[] {300, 410, 250}).Name("Total Review");
								      series.Line(new int[] {270, 350, 170}).Name("Positive Review");
								      series.Line(new int[] {30, 60, 80}).Name("Negative Review");

							      })
						      .CategoryAxis(axis => axis
							                            .Categories("October", "November", "December")
							                            .MajorGridLines(lines => lines.Visible(false))
							  )
						      .ValueAxis(axis => axis
							                         .Numeric().Labels(labels => labels.Format("{0}"))
							                         .Line(line => line.Visible(false))
							                         .AxisCrossingValue(0)
							  )
						      .Tooltip(tooltip => tooltip
							                          .Visible(true)
														.Template("#= series.name #: #= value #")
							                          .Color("#FFF")
							  )
							  )
					
					</div>
					<div class="fieldset">
						<div class="legend">Reputation Overview</div>
						<div class="info">
							<table>
								<tr>
									<td class="dealer-label"># of Dealers</td>
									<td colspan="2" class="number-dealers">
										<a href='@Url.RouteUrl("DashboardReputationLocations")'>@Model.reputationOverview.NumberOfDealers</a>
									</td>
									<td></td>
								</tr>
								<tr class="time-frame">
									<td></td>
									<td>All Time</td>
									<td>Last 30 Days</td>
									<td>Last 7 Days</td>
								</tr>
								<tr class="time-frame">
									<td class="left"># Reviews</td>
									<td>
										<a href='@Url.RouteUrl("ReputationReviewStream")'>@Model.reputationOverview.ReviewsAllTime.NumberOfReviews</a>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsLast30.NumberOfReviewsFilter'>@Model.reputationOverview.ReviewsLast30.NumberOfReviews</div>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsLast7.NumberOfReviewsFilter'>@Model.reputationOverview.ReviewsLast7.NumberOfReviews</div>
									</td>
								</tr>
								<tr class="time-frame">
									<td class="left">Positive</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsAllTime.TotalPositiveFilter'>@Model.reputationOverview.ReviewsAllTime.TotalPositive</div>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter="@Model.reputationOverview.ReviewsLast30.TotalPositiveFilter">@Model.reputationOverview.ReviewsLast30.TotalPositive</div>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsLast7.TotalPositiveFilter'>@Model.reputationOverview.ReviewsLast7.TotalPositive</div>
									</td>
								</tr>
								<tr class="time-frame">
									<td class="left">Negative</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsAllTime.TotalNegativeFilter'>@Model.reputationOverview.ReviewsAllTime.TotalNegative</div>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter="@Model.reputationOverview.ReviewsLast30.TotalNegativeFilter">@Model.reputationOverview.ReviewsLast30.TotalNegative</div>
									</td>
									<td>
										<div class="reputation-filter-links" data-filter='@Model.reputationOverview.ReviewsLast7.TotalNegativeFilter'>@Model.reputationOverview.ReviewsLast7.TotalNegative</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				@*            <div class="unread">
                <div class="fieldset">
                    <div class="legend">Review To-Do's</div>
                    <div class="top-section">
                        <div class="total-unread">
                            <div class="reputation-filter-links" data-filter='@Model.reputationOverview.UnReadFilter'>@(Model.reputationOverview.UnReadPostive + Model.reputationOverview.UnReadNegative)</div>
                        </div>
                        <div class="reviews">
                            <div class="positive-reviews">
                                <span style="width: 40px" class="reputation-filter-links" data-filter='@Model.reputationOverview.UnReadPostiveFilter'>@Model.reputationOverview.UnReadPostive</span>
                                <span>Positive</span>
                            </div>
                            <div class="negative-reviews">
                                <span style="width: 40px" class="reputation-filter-links" data-filter='@Model.reputationOverview.UnReadNegativeFilter'>@Model.reputationOverview.UnReadNegative</span>
                                <span>Negative</span>
                            </div>
                        </div>
                    </div>
                    <div class="fcl">
                        <hr />
                    </div>
                    <div class="bottom-section">
                        <div class="from-yesterday">
                            <span class="reputation-filter-links" data-filter='@Model.reputationOverview.UnReadFromYesterdayFilter'>@Model.reputationOverview.UnReadFromYesterday</span>
                            <span>From Yesterday</span>
                        </div>
                        <div class="this-month">
                            <span class="reputation-filter-links" data-filter='@Model.reputationOverview.UnReadThisMonthFilter'>@Model.reputationOverview.UnReadThisMonth</span>
                            <span>This Month</span>
                        </div>
                    </div>
                </div>
            </div>*@

			</form>

		</div>
	}

	@if (baseModel.UserInfo.EffectiveUser.ViewDashboardOverviewSocial)
	{
		<div class="social-overview">
			<form id="SocialForm" action="@Url.RouteUrl("SocialStreamFilter")" method="POST">
				<input id="filterParametersSocial" name="filterParametersSocial" type="hidden" value="" />
				<div class="dealer-info">
					<div style="margin-bottom: 18px;">
						@(Html.Kendo().Chart()
							.Name("chartSocial")
							.Title("Social Last " + Model.socialOverview.Months.Count() + " Months")
							.Theme("flat")
							.Legend(legend => legend
								.Position(ChartLegendPosition.Bottom)
							)
							.ChartArea(chartArea => chartArea
								.Background("transparent")
							)
							.SeriesDefaults(seriesDefaults => 
								seriesDefaults.Line()
							)
							.Series(series => {
								series.Line(Model.socialOverview.Totals).Name("Total");
								series.Line(Model.socialOverview.FBLikes).Name("FB Likes");
								series.Line(Model.socialOverview.TWFollowers).Name("TW Followers");
								series.Line(Model.socialOverview.GoogleFollowers).Name("Google Followers");
								series.Line(Model.socialOverview.YTSubscribers).Name("YT Subscribers");
							})
							.CategoryAxis(axis => axis
								.Categories(Model.socialOverview.Months)
								.MajorGridLines(lines => lines.Visible(false))
							)
							.ValueAxis(axis => axis
								.Numeric().Labels(labels => labels.Format("{0}"))
								.Line(line => line.Visible(false))
								.AxisCrossingValue(0)
							)
							.Tooltip(tooltip => tooltip
								.Visible(true)
								.Template("#= series.name #: #= value #")
								.Color("#FFF")
							)
							  )
					
					</div>
					<div class="fieldset">
						<div class="legend">Social Overview</div>
						<div class="info">
							<table>
								<tr>
									<td class="dealer-label"># of Dealers</td>
									<td></td>
									<td colspan="3" class="number-dealers">
										<a href=''>@Model.socialOverview.NumberOfDealers</a>
									</td>
									<td colspan="6"></td>
								</tr>
								<tr class="networks">
									<td colspan="2">@Model.socialOverview.Facebook.Name</td>
									<td></td>
									<td colspan="2">@Model.socialOverview.Twitter.Name</td>
									<td></td>
									<td colspan="2">@Model.socialOverview.GooglePlus.Name</td>
									<td></td>
									@*<td colspan="2">@Model.socialOverview.Blogger.Name</td>*@
								</tr>
								<tr>
									<td>Posts</td>
									<td class="number-col"><a href="">@Model.socialOverview.Facebook.PostTweetCount</a></td>
									<td class="seperator">|</td>
									<td>Tweets</td>
									<td class="number-col"><a href="">@Model.socialOverview.Twitter.PostTweetCount</a></td>
									<td class="seperator">|</td>
									<td>Posts</td>
									<td class="number-col"><a href="">@Model.socialOverview.GooglePlus.PostTweetCount</a></td>
									<td class="seperator">|</td>
									@*<td>Posts</td>
									<td class="number-col"><a href="">@Model.socialOverview.Blogger.PostTweetCount</a></td>*@
								</tr>
								<tr>
									<td>Comments</td>
									<td class="number-col"><a href="">@Model.socialOverview.Facebook.Comments</a></td>
									<td class="seperator">|</td>
									<td>@@ Mentions</td>
									<td class="number-col"><a href="">@Model.socialOverview.Twitter.Mentions</a></td>
									<td class="seperator">|</td>
									<td>Comments</td>
									<td class="number-col"><a href="">@Model.socialOverview.GooglePlus.Comments</a></td>
									<td class="seperator">|</td>
									@*<td>Comments</td>
									<td class="number-col"><a href="">@Model.socialOverview.Blogger.Comments</a></td>*@
								</tr>
								<tr>
									<td>Messages</td>
									<td class="number-col"><a href="">@Model.socialOverview.Facebook.Messages</a></td>
									<td class="seperator">|</td>
									<td>Re-Tweets</td>
									<td class="number-col"><a href="">@Model.socialOverview.Twitter.ReTweets</a></td>
									<td class="seperator">|</td>
									<td></td>
									<td></td>
									<td class="seperator">|</td>
									@*<td></td>
									<td></td>*@
								</tr>
								<tr>
									<td>WallPost</td>
									<td class="number-col"><a href="">@Model.socialOverview.Facebook.WallPosts</a></td>
									<td class="seperator">|</td>
									<td>Messages</td>
									<td class="number-col"><a href="">@Model.socialOverview.Twitter.Messages</a></td>
									<td class="seperator">|</td>
									<td></td>
									<td></td>
									<td class="seperator">|</td>
									@*<td></td>
									<td></td>*@
								</tr>
							</table>
						</div>
					</div>
				</div>
				@*<div class="todoes">
					<div class="fieldset">
						<div class="legend">Social To-Do's</div>
						<div class="top-section">
							<div class="total">
								<div class="social-filter-links">@(Model.socialOverview.ToDoesComments + Model.socialOverview.ToDoesMessages + Model.socialOverview.ToDoesMentions)</div>
							</div>
							<div class="todo">
								<div>
									<span>Comments</span>
									<span class="social-filter-links">@Model.socialOverview.ToDoesComments</span>
								</div>
								<div>
									<span>Messages</span>
									<span class="social-filter-links">@Model.socialOverview.ToDoesMessages</span>
								</div>
								<div>
									<span>Mentions</span>
									<span class="social-filter-links">@Model.socialOverview.ToDoesMentions</span>
								</div>
							</div>
						</div>
						<div class="fcl">
							<hr />
						</div>
						<div class="bottom-section">
							<div class="from-yesterday">
								<span class="social-filter-links">@Model.socialOverview.ToDoFromYesterday</span>
								<span>From Yesterday</span>
							</div>
							<div class="this-month">
								<span class="social-filter-links">@Model.socialOverview.ToDoThisMonth</span>
								<span>This Month</span>
							</div>
						</div>
					</div>
				</div>*@
			</form>



		</div>
	}
</div>

