﻿
@{
	ViewBag.PageTitle = "Dashboard - Social";
    Layout = "~/Views/Shared/_layoutMembers.cshtml";
}


@section Header
{
	<style>
		.k-link {
			font-weight: bold;
			color: #3b5998 !important;
		}
		.k-tabstrip > .k-content, .k-panelbar .k-tabstrip > .k-content {
			padding: 0.3em 0;
		}
		
	</style>
}


<div class="social-dashboard">
	
	@(Html.Kendo().TabStrip()
		.Name("SocialDashboardTabs")
		.HtmlAttributes(new {@class = "tabs"})
		.Animation(a => a.Open(e => e.Fade(FadeDirection.In).Duration(AnimationDuration.Fast)))
		.Items(tabs =>
			{
				tabs.Add().Text("Facebook").SpriteCssClasses("ico-facebook").Selected(true).LoadContentFrom("FacebookSocialDashboard", "Dashboard", new {area = "Dashboard"});
				tabs.Add().Text("Twitter").SpriteCssClasses("ico-twitter").LoadContentFrom("TwitterSocialDashboard", "Dashboard", new { area = "Dashboard" });
                //tabs.Add().Text("Google+").SpriteCssClasses("ico-google").LoadContentFrom("GoogleSocialDashboard", "Dashboard", new { area = "Dashboard" });
			}
		 )
	)

</div>

